<div class="container rounded-3 py-3 bg-white">
  <h1 class="text-center">Directorio</h1>

</div>

<div class="container rounded-3 my-4 py-3 bg-white">

  <div class="contenedor">
    <ul class="ul container">
      <div class="row text-center">
        <div class="col">
          <li class="li activo" id="menuPreguntasFrecuentesTitulacion">Directorio</li>
        </div>
        <div class="col">
          <li class="li" id="menuPreguntasFrecuentesServicioSocial">Glosario</li>
        </div>

      </div>
    </ul>

    <div class="subcontenedor">
      <!--Directorio-->
      <div class="bloque activo" id="bloquePreguntasFrecuentesTitulacion">
        <div class="border-3 card card-importante justify-content-center ">
          <div class="card-body">
            <p class="card-text">
              Es importante recalcar que debemos evitar proporcionar datos directos de colaboradores a los alumnos, la
              mayoría de la información es para compartir internamente.
            </p>
          </div>
        </div>
        <br /><br />

        <div class="accordion" id="accordionExample">
          
          <div class="accordion-item">
            <h2 class="accordion-header">
              <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseCero" aria-expanded="true" aria-controls="collapseCero">
                Frecuentes
              </button>
            </h2>
            <div id="collapseCero" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
              <div class="accordion-body">

              <div class="row row row-cols-1 row-cols-xl-4 row-cols-md-2 g-4 my-1">


                <div class="col card border-0">
                  <div class="card-body">
                    <h5 class="card-title">HELP DESK</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Irwin Nae Sánchez Gallegos</h6>
                    <p class="card-text">
                      Cargo: </br>Analista Help Desk</br>
                      Correo: </br>isanchegal@utel.edu.mx</br>
                      Funciones:</br>Construcción del reporte histórico de procesos Flokzu | Actualización diaria de la base de nivelación 
                    </p>
                  </div>
                </div>

                <div class="col card border-0">
                  <div class="card-body">
                    <h5 class="card-title">HELP DESK</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Juan Carlos López De la Cruz</h6>
                    <p class="card-text">
                      Cargo: </br>Analista Help Desk</br>
                      Correo: </br>jlopezde@utel.edu.mx </br>	
                      Funciones:</br>Actualización de consejería | Accesos a consejeria | Accesos a Calixta 
                    </p>
                  </div>
                </div>

                <div class="col card border-0">
                  <div class="card-body">
                    <h5 class="card-title">ANALISTA DE BASE DE DATOS</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Mitssy Marithza Tiffany Hernández Ramírez</h6>
                    <p class="card-text">
                      Cargo: </br>Analista de Base de Datos</br>
                      Correo: </br>mhernara@utel.edu.mx</br>
                      Funciones:</br>Análisis y creación de bases de datos 
                    </p>
                  </div>
                </div>
                
                <div class="col card border-0">
                  <div class="card-body">
                    <h5 class="card-title">ANALISTA DE BASE DE DATOS</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Mitssy Marithza Tiffany Hernández Ramírez</h6>
                    <p class="card-text">
                      Cargo: </br>Analista de Base de Datos</br>
                      Correo: </br>mhernara@utel.edu.mx</br>
                      Funciones:</br>Análisis y creación de bases de datos 
                    </p>
                  </div>
                </div>
                        
              </div>
                
              </div>
            </div>
          </div>

          <div class="accordion-item">
            <h2 class="accordion-header">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                México
              </button>
            </h2>
            <div id="collapseOne" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
              <div class="accordion-body">

              <div class="row row row-cols-1 row-cols-xl-4 row-cols-md-2 g-4 my-1">

                <div class="col card border-0">
                  <div class="card-body">
                    <h5 class="card-title">ÉXITO ESTUDIANTIL</h5>
                    <h6 class="card-subtitle mb-2 text-muted"></h6>
                    <p class="card-text">
                      Teléfono: 5589770707</br>
                      Whatsapp: 5589770707</br>
                      Correo: exitoestudiantil@utel.mx </br> exitoestudiantilpos@utel.mx
                    </p>
                  </div>
                </div>

                <div class="col card border-0">
                  <div class="card-body">
                    <h5 class="card-title">LICENCIATURA</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Hilda Sara Mely Jardón Olguín </h6>
                    <p class="card-text">
                      Cargo: </br> Coordinadora Contención y Retención </br>
                      Correo:</br> hjardool@utel.edu.mx
                    </p>
                  </div>
                </div>

                <div class="col card border-0">
                  <div class="card-body">
                    <h5 class="card-title">LICENCIATURA</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Beatriz Alexis Estrada Jiménez</h6>
                    <p class="card-text">
                      Cargo: </br> Coordinadora Bimestre 1 y 2 </br>
                      Correo:</br> bestraji@utel.edu.mx  	
                    </p>
                  </div>
                </div>

                <div class="col card border-0">
                  <div class="card-body">
                    <h5 class="card-title">LICENCIATURA </h5>
                    <h6 class="card-subtitle mb-2 text-muted">Eduardo Figueroa Cárdenas</h6>
                    <p class="card-text">
                      Cargo: </br> Coordinador Bimestre 3 y 4 </br>
                      Correo:</br> efigueca@utel.edu.mx
                  </div>
                </div>

                <div class="col card border-0">
                  <div class="card-body">
                    <h5 class="card-title">LICENCIATURA</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Ivonne Cetina Mendoza</h6>
                    <p class="card-text">
                      cargo: </br> icetinme@utel.edu.mx 	</br>
                      Correo: </br>icetinme@utel.edu.mx 
                    </p>
                  </div>
                </div>

                <div class="col card border-0">
                  <div class="card-body">
                    <h5 class="card-title">LICENCIATURA</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Isabel Flores Jiménez</h6>
                    <p class="card-text">
                      Cargo: </br>5592522985</br>
                      Correo: </br>isabel.flores@utel.edu.mx 	

                    </p>
                  </div>
                </div>

                <div class="col card border-0">
                  <div class="card-body">
                    <h5 class="card-title">POSGRADOS </h5>
                    <h6 class="card-subtitle mb-2 text-muted">Jonnatan Silvestre García</h6>
                    <p class="card-text">
                      Cargo: </br>Coordinador Posgrados</br>
                      Correo: </br>jsilvega@utel.edu.mx 	

                    </p>
                  </div>
                </div>

                <div class="col card border-0">
                  <div class="card-body">
                    <h5 class="card-title">HELP DESK</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Alix Puebla Ayala</h6>
                    <p class="card-text">
                      Cargo: </br> Administrativa Éxito Estudiantil 	</br>
                      Correo:</br> graduacion@utel.edu.mx</br>
                      Funciones: </br> Análisis de cancelaciones de venta | Atención a solicitudes de baja en terceros | Atención de promesas de servicio 

                    </p>

                  </div>
                </div>

                <div class="col card border-0">
                  <div class="card-body">
                    <h5 class="card-title">HELP DESK</h5>
                    <h6 class="card-subtitle mb-2 text-muted">
                      Responsable:</br>Claudia Jacqueline Rodríguez Roa</h6>
                    <p class="card-text">
                      Cargo: </br>Analista Help Desk</br>
                      Correo: </br>crodriro@utel.edu.mx</br>
                      Funciones: </br>Revisión de cancelaciones de venta | Bajas aplicadas en SIU | Reversión de bajas 
                    </p>
                  </div>
                </div>

                <div class="col card border-0">
                  <div class="card-body">
                    <h5 class="card-title">HELP DESK</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Jacqueline Guadalupe Jiménez Quiroz</h6>
                    <p class="card-text">
                      Cargo: </br>Analista Help Desk 	</br>
                      Correo: </br>jjimenqu@utel.edu.mx</br>
                      Funciones: </br> Cancelaciones de venta | Reversión de cancelaciones | Segunda inscripción | Baja temporal para aplicar nivelación </br>
                    </p>
                  </div>
                </div>

                <div class="col card border-0">
                  <div class="card-body">
                    <h5 class="card-title">HELP DESK</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Nery Ramsés Rodríguez Sánchez</h6>
                    <p class="card-text">
                      Cargo: </br>Administrativo Éxito Estudiantil 	</br>
                      Correo: </br>nrodrisa@utel.edu.mx</br>
                      Funciones: </br>Atención de promesa de servicio | Reportería | Administración de asistencias universitarias 
                    </p>
                  </div>
                </div>

                <div class="col card border-0">
                  <div class="card-body">
                    <h5 class="card-title">HELP DESK</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Ricardo Iván López Gutiérrez</h6>
                    <p class="card-text">
                      Cargo: </br> Analista Help Desk</br>
                      Correo:</br> rlopezgu@utel.edu.mx</br>
                      Funciones:</br>Creación y actualización de procesos en Flokzu | Gestión general de la plataforma Flokzu | Gestión general de la plataforma Crisp
                    </p>

                  </div>
                </div>

                <div class="col card border-0">
                  <div class="card-body">
                    <h5 class="card-title">HELP DESK</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Irwin Nae Sánchez Gallegos</h6>
                    <p class="card-text">
                      Cargo: </br>Analista Help Desk</br>
                      Correo: </br>isanchegal@utel.edu.mx</br>
                      Funciones:</br>Construcción del reporte histórico de procesos Flokzu | Actualización diaria de la base de nivelación 
                    </p>
                  </div>
                </div>

                <div class="col card border-0">
                  <div class="card-body">
                    <h5 class="card-title">HELP DESK</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Juan Carlos López De la Cruz</h6>
                    <p class="card-text">
                      Cargo: </br>Analista Help Desk</br>
                      Correo: </br>jlopezde@utel.edu.mx </br>	
                      Funciones:</br>Actualización de consejería | Accesos a consejeria | Accesos a Calixta 
                    </p>
                  </div>
                </div>

                <div class="col card border-0">
                  <div class="card-body">
                    <h5 class="card-title">ANALISTA DE BASE DE DATOS</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Mitssy Marithza Tiffany Hernández Ramírez</h6>
                    <p class="card-text">
                      Cargo: </br>Analista de Base de Datos</br>
                      Correo: </br>mhernara@utel.edu.mx</br>
                      Funciones:</br>Análisis y creación de bases de datos 
                    </p>
                  </div>
                </div>

                        

              </div>
                
              </div>
            </div>
          </div>

          <div class="accordion-item">
            <h2 class="accordion-header">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                Internacional
              </button>
            </h2>
            <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
              <div class="accordion-body">

              <div class="row row row-cols-1 row-cols-xl-4 row-cols-md-2 g-4 my-1">

                <div class="col card border-0">
                  <div class="card-body">
                    <h5 class="card-title">ÉXITO ESTUDIANTIL</h5>
                    <h6 class="card-subtitle mb-2 text-muted"></h6>
                    <p class="card-text">
                      Teléfono: 5589770707</br>
                      Whatsapp: 5589770707</br>
                      Correo: exitoestudiantil@utel.mx </br> exitoestudiantilpos@utel.mx
                    </p>
                  </div>
                </div>

                <div class="col card border-0">
                  <div class="card-body">
                    <h5 class="card-title">LICENCIATURA</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Hilda Sara Mely Jardón Olguín </h6>
                    <p class="card-text">
                      Cargo: </br> Coordinadora Contención y Retención </br>
                      Correo:</br> hjardool@utel.edu.mx
                    </p>
                  </div>
                </div>

                <div class="col card border-0">
                  <div class="card-body">
                    <h5 class="card-title">LICENCIATURA</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Beatriz Alexis Estrada Jiménez</h6>
                    <p class="card-text">
                      Cargo: </br> Coordinadora Bimestre 1 y 2 </br>
                      Correo:</br> bestraji@utel.edu.mx  	
                    </p>
                  </div>
                </div>

                <div class="col card border-0">
                  <div class="card-body">
                    <h5 class="card-title">LICENCIATURA </h5>
                    <h6 class="card-subtitle mb-2 text-muted">Eduardo Figueroa Cárdenas</h6>
                    <p class="card-text">
                      Cargo: </br> Coordinador Bimestre 3 y 4 </br>
                      Correo:</br> efigueca@utel.edu.mx
                  </div>
                </div>

                <div class="col card border-0">
                  <div class="card-body">
                    <h5 class="card-title">LICENCIATURA</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Ivonne Cetina Mendoza</h6>
                    <p class="card-text">
                      cargo: </br> icetinme@utel.edu.mx 	</br>
                      Correo: </br>icetinme@utel.edu.mx 
                    </p>
                  </div>
                </div>

                <div class="col card border-0">
                  <div class="card-body">
                    <h5 class="card-title">LICENCIATURA</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Isabel Flores Jiménez</h6>
                    <p class="card-text">
                      Cargo: </br>5592522985</br>
                      Correo: </br>isabel.flores@utel.edu.mx 	

                    </p>
                  </div>
                </div>

                <div class="col card border-0">
                  <div class="card-body">
                    <h5 class="card-title">POSGRADOS </h5>
                    <h6 class="card-subtitle mb-2 text-muted">Jonnatan Silvestre García</h6>
                    <p class="card-text">
                      Cargo: </br>Coordinador Posgrados</br>
                      Correo: </br>jsilvega@utel.edu.mx 	

                    </p>
                  </div>
                </div>

                <div class="col card border-0">
                  <div class="card-body">
                    <h5 class="card-title">HELP DESK</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Alix Puebla Ayala</h6>
                    <p class="card-text">
                      Cargo: </br> Administrativa Éxito Estudiantil 	</br>
                      Correo:</br> graduacion@utel.edu.mx</br>
                      Funciones: </br> Análisis de cancelaciones de venta | Atención a solicitudes de baja en terceros | Atención de promesas de servicio 

                    </p>

                  </div>
                </div>

                <div class="col card border-0">
                  <div class="card-body">
                    <h5 class="card-title">HELP DESK</h5>
                    <h6 class="card-subtitle mb-2 text-muted">
                      Responsable:</br>Claudia Jacqueline Rodríguez Roa</h6>
                    <p class="card-text">
                      Cargo: </br>Analista Help Desk</br>
                      Correo: </br>crodriro@utel.edu.mx</br>
                      Funciones: </br>Revisión de cancelaciones de venta | Bajas aplicadas en SIU | Reversión de bajas 
                    </p>
                  </div>
                </div>

                <div class="col card border-0">
                  <div class="card-body">
                    <h5 class="card-title">HELP DESK</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Jacqueline Guadalupe Jiménez Quiroz</h6>
                    <p class="card-text">
                      Cargo: </br>Analista Help Desk 	</br>
                      Correo: </br>jjimenqu@utel.edu.mx</br>
                      Funciones: </br> Cancelaciones de venta | Reversión de cancelaciones | Segunda inscripción | Baja temporal para aplicar nivelación </br>
                    </p>
                  </div>
                </div>

                <div class="col card border-0">
                  <div class="card-body">
                    <h5 class="card-title">HELP DESK</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Nery Ramsés Rodríguez Sánchez</h6>
                    <p class="card-text">
                      Cargo: </br>Administrativo Éxito Estudiantil 	</br>
                      Correo: </br>nrodrisa@utel.edu.mx</br>
                      Funciones: </br>Atención de promesa de servicio | Reportería | Administración de asistencias universitarias 
                    </p>
                  </div>
                </div>

                <div class="col card border-0">
                  <div class="card-body">
                    <h5 class="card-title">HELP DESK</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Ricardo Iván López Gutiérrez</h6>
                    <p class="card-text">
                      Cargo: </br> Analista Help Desk</br>
                      Correo:</br> rlopezgu@utel.edu.mx</br>
                      Funciones:</br>Creación y actualización de procesos en Flokzu | Gestión general de la plataforma Flokzu | Gestión general de la plataforma Crisp
                    </p>

                  </div>
                </div>

                <div class="col card border-0">
                  <div class="card-body">
                    <h5 class="card-title">HELP DESK</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Irwin Nae Sánchez Gallegos</h6>
                    <p class="card-text">
                      Cargo: </br>Analista Help Desk</br>
                      Correo: </br>isanchegal@utel.edu.mx</br>
                      Funciones:</br>Construcción del reporte histórico de procesos Flokzu | Actualización diaria de la base de nivelación 
                    </p>
                  </div>
                </div>

                <div class="col card border-0">
                  <div class="card-body">
                    <h5 class="card-title">HELP DESK</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Juan Carlos López De la Cruz</h6>
                    <p class="card-text">
                      Cargo: </br>Analista Help Desk</br>
                      Correo: </br>jlopezde@utel.edu.mx </br>	
                      Funciones:</br>Actualización de consejería | Accesos a consejeria | Accesos a Calixta 
                    </p>
                  </div>
                </div>

                <div class="col card border-0">
                  <div class="card-body">
                    <h5 class="card-title">ANALISTA DE BASE DE DATOS</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Mitssy Marithza Tiffany Hernández Ramírez</h6>
                    <p class="card-text">
                      Cargo: </br>Analista de Base de Datos</br>
                      Correo: </br>mhernara@utel.edu.mx</br>
                      Funciones:</br>Análisis y creación de bases de datos 
                    </p>
                  </div>
                </div>

                        

              </div>
                
              </div>
            </div>
          </div>
          
          <div class="accordion-item">
            <h2 class="accordion-header">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                Servicios Escolares
              </button>
            </h2>
            <div id="collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
              <div class="accordion-body">
                <strong>This is the third item's accordion body.</strong> It is hidden by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.
              </div>
            </div>
          </div>

          <div class="accordion-item">
            <h2 class="accordion-header">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                Control Documental
              </button>
            </h2>
            <div id="collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
              <div class="accordion-body">
                <strong>This is the third item's accordion body.</strong> It is hidden by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.
              </div>
            </div>
          </div>

          <div class="accordion-item">
            <h2 class="accordion-header">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                Cobranza
              </button>
            </h2>
            <div id="collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
              <div class="accordion-body">
                
              </div>
            </div>
          </div>
        </div>

        <h5>Departamentos</h5>

        <div class="row row row-cols-1 row-cols-xl-4 row-cols-md-2 g-4 my-1">

          <div class="col card border-0">
            <div class="card-body">
              <h5 class="card-title">Aclaración de cargos</h5>
              <h6 class="card-subtitle mb-2 text-muted">Responsable: Carlos Ayala</h6>
              <p class="card-text">
                Teléfono: </br> 5513289022</br>
                Whatsapp: </br> 5514559559</br>
                Correo:</br> aclaraciondecargos@utel.edu.mx
              </p>
            </div>
          </div>

          <div class="col card border-0">
            <div class="card-body">
              <h5 class="card-title">Control Escolar</h5>
              <h6 class="card-subtitle mb-2 text-muted">Responsable: Miriam Selene Campusano Maya</h6>
              <p class="card-text">
                Teléfono: </br> NA</br>
                Whatsapp: </br> NA</br>
                Correo:</br> miriam.capuzano@s4learning.com
              </p>
            </div>
          </div>

          <div class="col card border-0">
            <div class="card-body">
              <h5 class="card-title">Reingresos</h5>
              <h6 class="card-subtitle mb-2 text-muted">Responsable: Carlos Ayala</h6>
              <p class="card-text">
                Teléfono: </br> 5513289022</br>
                Whatsapp: </br> 5514559559</br>
                Correo:</br> aclaraciondecargos@utel.edu.mx
              </p>
            </div>
          </div>

          <div class="col card border-0">
            <div class="card-body">
              <h5 class="card-title">Administración de colegiaturas</h5>
              <h6 class="card-subtitle mb-2 text-muted">Coordinación: Diana Manjarrez</h6>
              <p class="card-text">
                Teléfono: </br>5536841414 - 5536841414</br>
                Whatsapp: </br>5573773982</br>
                Correo: </br>cobranza@utel.mx

              </p>
            </div>
          </div>

          <div class="col card border-0">
            <div class="card-body">
              <h5 class="card-title">Cobranza</h5>
              <h6 class="card-subtitle mb-2 text-muted">Supervisora: Diana Alejandra Manjarrez López </h6>
              <p class="card-text">
                Teléfono: </br>5592522985</br>
                Whatsapp: </br>5592522985</br>
                Correo: </br>cobranza@utel.mx - dmanjalo@utel.edu.mx​ 

              </p>
            </div>
          </div>


          <div class="col card border-0">
            <div class="card-body">
              <h5 class="card-title">Facturación</h5>
              <h6 class="card-subtitle mb-2 text-muted">Óscar Gonzalez Vega</h6>
              <p class="card-text">
                Teléfono: </br>5550897310 - 5550897302</br>
                Whatsapp: </br>5573773982</br>
                Correo: </br>facturacion@utel.edu.mx - acalixgo@utel.edu.mx

              </p>
            </div>
          </div>

          <div class="col card border-0">
            <div class="card-body">
              <h5 class="card-title">Graduaciones</h5>
              <h6 class="card-subtitle mb-2 text-muted">Responsable: Carlos Ayala</h6>
              <p class="card-text">
                Teléfono: </br> 5513289010</br>
                Whatsapp: </br> 5513289010</br>
                Correo:</br> graduacion@utel.edu.mx

              </p>

            </div>
          </div>

          <div class="col card border-0">
            <div class="card-body">
              <h5 class="card-title">Recepción</h5>
              <h6 class="card-subtitle mb-2 text-muted">
                Responsable:</br>
                Adriana Vázquez Salcedo (matutino)</br>
                Ericka Vázquez (vespertino)</h6>
              <p class="card-text">
                Teléfono: </br>5550897300</br>
                Correo: </br>cobranza@utel.mx

              </p>
            </div>
          </div>

          <div class="col card border-0">
            <div class="card-body">
              <h5 class="card-title">Recolección</h5>
              <h6 class="card-subtitle mb-2 text-muted">Responsable: Josué Moisés Pacheco</h6>
              <p class="card-text">
                Teléfono: </br>5536841414 - 5536841414</br>
                Whatsapp: </br>5573773982</br>
                Correo: </br>c.estudiantil@utel.edu.mx

              </p>
            </div>
          </div>


          <div class="col card border-0">
            <div class="card-body">
              <h5 class="card-title">Servicio social</h5>
              <h6 class="card-subtitle mb-2 text-muted">Óscar Gonzalez Vega</h6>
              <p class="card-text">
                Teléfono: </br>5513289025</br>
                Whatsapp: </br>5513289025</br>
                Correo: </br>serviciosocial@utel.edu.mx

              </p>
            </div>
          </div>

          <div class="col card border-0">
            <div class="card-body">
              <h5 class="card-title">Servicio Social Utel</h5>
              <h6 class="card-subtitle mb-2 text-muted">Responsable: Carlos Ayala</h6>
              <p class="card-text">
                Teléfono: </br> 5550897377</br>
                Whatsapp: </br> - </br>
                Correo:</br> desarrollo.profesional@utel.edu.mx

              </p>

            </div>
          </div>

          <div class="col card border-0">
            <div class="card-body">
              <h5 class="card-title">Servicios Escolares</h5>
              <h6 class="card-subtitle mb-2 text-muted">Coordinador: José Luis Rodriguez</h6>
              <p class="card-text">
                Teléfono: </br>5550897350 </br>
                Whatsapp: </br> - </br>
                Correo: </br>escolares@utel.edu.mx

              </p>
            </div>
          </div>

          <div class="col card border-0">
            <div class="card-body">
              <h5 class="card-title">Titulación</h5>
              <h6 class="card-subtitle mb-2 text-muted">Coordinadora: Laura Patricia Zúñiga Vargas</h6>
              <p class="card-text">
                Teléfono: </br>5513289010</br>
                Whatsapp: </br>NA</br>
                Correo: </br>titulacion@utel.edu.mx

              </p>
            </div>
          </div>


          <div class="col card border-0">
            <div class="card-body">
              <h5 class="card-title">Éxito estudiantil</h5>
              <h6 class="card-subtitle mb-2 text-muted">Óscar Gonzalez Vega</h6>
              <p class="card-text">
                Teléfono: 5589770707</br>
                Whatsapp: 5589770707</br>
                Correo: exitoestudiantil@utel.mx </br> exitoestudiantilpos@utel.mx
              </p>
            </div>
          </div>

        </div>
      </div>

      <!--Glosario-->
      <div class="bloque" id="bloquePreguntasFrecuentesServicioSocial">
        <h3>Glosario</h3>
        <div class="framedoc m-5">
          <iframe src="docs/doc/glosario.pdf" width="100%" height="680px"></iframe>
        </div>
      </div>

    </div>
  </div>
</div>

<div class="container rounded-3 my-4 py-3 bg-white">

  <h3 class="text-center">Responsables por Departamentos</h3>

  <img class="d-block w-100" src="img/directorio/responsables.png" alt="">

</div>

<div class="container rounded-3 my-4 py-3 bg-white">

  <h3 class="text-center">Otras bases de información</h3>

  <br />
  <h5>Operación</h5>
  <br /><br />

  <div class="row">
    <div class="col col-mb-4">
      SIU
    </div>

    <div class="col col-mb-4">
      Revisar la información del alumno o egresado: documentos, egreso, adeudos, avance curricular, pagos y más
    </div>

    <div class="col col-mb-4">
      <a href="https://siu.scalahed.com/inscripcion/buscador/?matricula=200254804&nombre=&apellido_paterno=&apellido_materno=&email=&referencia=&campus=&estado_inscripcion=&estado_solicitud=&canal=&vendedor=&has_filter=true"
        class="Botonmanual row py-2 px-2 text-center justify-content-center" target="_blank">Ir</a></br>
    </div>
  </div>

  <div class="row">
    <div class="col col-mb-4">
      MINIPERFIL SIU
    </div>

    <div class="col col-mb-4">
      Información comprimida de SIU. Se puede ver en qué fecha egresó.
    </div>

    <div class="col col-mb-4">
      <a href="https://siu.scalahed.com/inscripcion/perfilse/#"
        class="Botonmanual row py-2 px-2 text-center justify-content-center" target="_blank">Ir</a></br>
    </div>
  </div>

  <div class="row">
    <div class="col col-mb-4">
      CRM
    </div>

    <div class="col col-mb-4">
      Se puede verificar si el egresado o alumno ya habló con algún compañero anteriormente
    </div>

    <div class="col col-mb-4">
      <a href="http://crm.utel.edu.mx/index.php?action=Login&module=Users"
        class="Botonmanual row py-2 px-2 text-center justify-content-center" target="_blank">Ir</a></br>
    </div>
  </div>

  <div class="row">
    <div class="col col-mb-4">
      FLOKZU
    </div>

    <div class="col col-mb-4">
      Cotejar si ya hay un seguimiento previo del egresado o alumno.
    </div>

    <div class="col col-mb-4">
      <a href="https://app.flokzu.com/test_flokzu/inbox"
        class="Botonmanual row py-2 px-2 text-center justify-content-center" target="_blank">Ir</a></br>
    </div>
  </div>

  <div class="row">
    <div class="col col-mb-4">
      SETI
    </div>

    <div class="col col-mb-4">
      Pedir un apoyo/ levantar un SETI
    </div>

    <div class="col col-mb-4">
      <a href="https://app.flokzu.com/public/01bb9LSETI"
        class="Botonmanual row py-2 px-2 text-center justify-content-center" target="_blank">Ir</a></br>
    </div>
  </div>

  <div class="row">
    <div class="col col-mb-4">
      Plantillas
    </div>

    <div class="col col-mb-4">
      Plantillas para responder correos
    </div>

    <div class="col col-mb-4">
      <a href="https://docs.google.com/document/d/1794oUPAgIhnpn0tQugvhct3br3cjt37WGIEeziUjFD0/edit?usp=sharing"
        class="Botonmanual row py-2 px-2 text-center justify-content-center" target="_blank">Ir</a></br>
    </div>
  </div>

  <div class="row">
    <div class="col col-mb-4">
      Tutoría - bajas
    </div>

    <div class="col col-mb-4">
      Notificar a tutoría para tramites de baja de alguna matrícula
    </div>

    <div class="col col-mb-4">
      <a href="https://app.flokzu.com/public/01bb9LNBT"
        class="Botonmanual row py-2 px-2 text-center justify-content-center" target="_blank">Ir</a></br>
    </div>
  </div>

  <div class="row">
    <div class="col col-mb-4">
      Cancelación de accesorios
    </div>

    <div class="col col-mb-4">
      Cancelar accesorios comprados desde autoservicio en SIU
    </div>

    <div class="col col-mb-4">
      <a href="https://app.flokzu.com/public/01bb9LCAUT"
        class="Botonmanual row py-2 px-2 text-center justify-content-center" target="_blank">Ir</a></br>
    </div>
  </div>

  <br />
  <h5>Titulación</h5>
  <br /><br />

  <div class="row">
    <div class="col col-mb-4">
      Pago de colegiatura final
    </div>

    <div class="col col-mb-4">
      Formulario para confirmar un pago de colegiatura final
    </div>

    <div class="col col-mb-4">
      <a href="https://docs.google.com/forms/d/e/1FAIpQLSdf-5CKBlm25cvPnQ2ylu-wxzyT4k74d9mdnNsy3iaNJAqXyQ/viewform"
        class="Botonmanual row py-2 px-2 text-center justify-content-center" target="_blank">Ir</a></br>
    </div>
  </div>

  <div class="row">
    <div class="col col-mb-4">
      Cédula profesional
    </div>

    <div class="col col-mb-4">
      Para consultar si el egresado ya cuenta con registro de Cédula profesional
    </div>

    <div class="col col-mb-4">
      <a href="https://msirepve.sep.gob.mx/validacionelectronica/publico/startCedulaElectronica!startWizard.action"
        class="Botonmanual row py-2 px-2 text-center justify-content-center" target="_blank">Ir</a></br>
    </div>
  </div>

  <div class="row">
    <div class="col col-mb-4">
      RENAPO
    </div>

    <div class="col col-mb-4">
      Consultar el CURP asociado de un egresado o alumno
    </div>

    <div class="col col-mb-4">
      <a href="https://www.gob.mx/tramites/ficha/consulta-e-impresion-de-la-curp/SEGOB175"
        class="Botonmanual row py-2 px-2 text-center justify-content-center" target="_blank">Ir</a></br>
    </div>
  </div>

  <div class="row">
    <div class="col col-mb-4">
      Formulario para cita de entrega de RG y Doc
    </div>

    <div class="col col-mb-4">
      Generación de CITA para entrega de documentos
    </div>

    <div class="col col-mb-4">
      <a href="https://docs.google.com/forms/d/e/1FAIpQLSePLyaDy64R7xyj983iTJXzP3wv3GnSAD6wR0_GNndmQcdVIA/viewform"
        class="Botonmanual row py-2 px-2 text-center justify-content-center" target="_blank">Ir</a></br>
    </div>
  </div>

  <div class="row">
    <div class="col col-mb-4">
      Drive para consulta de estatus de proyecto de TT LATAM
    </div>

    <div class="col col-mb-4">
      Revisar el estatus del proyecto de titulación de LATAM
    </div>

    <div class="col col-mb-4">
      <a href="https://docs.google.com/spreadsheets/d/1E3fVWjyCyqK7dU0iOhWTlDtFK2fgZLjtQYakCh2718Y/edit#gid=0"
        class="Botonmanual row py-2 px-2 text-center justify-content-center" target="_blank">Ir</a></br>
    </div>
  </div>

  <div class="row">
    <div class="col col-mb-4">
      Drive de consulta
    </div>

    <div class="col col-mb-4">
      Drive para checar estatus pausados de matrículas del 2021 hacia atrás.
    </div>

    <div class="col col-mb-4">
      <a href="https://docs.google.com/spreadsheets/d/1CTItGe4fY-9SKGVnxzkv8ZmcFMIELNeQ7tXzwmisS4E/edit?usp=sharing"
        class="Botonmanual row py-2 px-2 text-center justify-content-center" target="_blank">Ir</a></br>
    </div>
  </div>

  <br />
  <h5>Servicio social</h5>
  <br /><br />

  <div class="row">
    <div class="col col-mb-4">
      Drive de consulta
    </div>

    <div class="col col-mb-4">
      Revisar el estatus que guarda el alumno con respecto al SS Se puede revisar fechas de inicio y término
    </div>

    <div class="col col-mb-4">
      <a href="https://docs.google.com/spreadsheets/d/14ZI14ytD2gYr5FbgkfXrDlHNiii6HlWi61uitAr_MFg/edit#gid=1855365018"
        class="Botonmanual row py-2 px-2 text-center justify-content-center" target="_blank">Ir</a></br>
    </div>
  </div>

  <div class="row">
    <div class="col col-mb-4">
      Servicio social SERSO
    </div>

    <div class="col col-mb-4">
      Formulario que debe de llenar el alumno o egresado para el SS (No están todas las modalidades)
    </div>

    <div class="col col-mb-4">
      <a href="https://app.flokzu.com/public/01bb9LSERSO"
        class="Botonmanual row py-2 px-2 text-center justify-content-center" target="_blank">Ir</a></br>
    </div>
  </div>

  <div class="row">
    <div class="col col-mb-4">
      Carpeta de drive
    </div>

    <div class="col col-mb-4">
      Formatos de todas las modalidades de Servicio social. (Los JPG son ejemplos)
    </div>

    <div class="col col-mb-4">
      <a href="https://drive.google.com/drive/folders/1SuEsnKu3K7pM-Yp0wufSYlfBg51Z7Me_?usp=sharing"
        class="Botonmanual row py-2 px-2 text-center justify-content-center" target="_blank">Ir</a></br>
    </div>
  </div>

  <br />
  <h5>Control documental</h5>
  <br /><br />

  <div class="row">
    <div class="col col-mb-4">
      Escaneo de doc
    </div>

    <div class="col col-mb-4">
      Flokzu para solicitud de escaneo de documentos.
    </div>

    <div class="col col-mb-4">
      <a href="https://app.flokzu.com/public/01bb9LSCANDOC"
        class="Botonmanual row py-2 px-2 text-center justify-content-center" target="_blank">Ir</a></br>
    </div>
  </div>

  <div class="row">
    <div class="col col-mb-4">
      Solicitud de préstamo y devolución
    </div>

    <div class="col col-mb-4">
      Flokzu para solicitar préstamos y devolución de documentos.
    </div>

    <div class="col col-mb-4">
      <a href="https://app.flokzu.com/public/01bb9LARCH-PREST"
        class="Botonmanual row py-2 px-2 text-center justify-content-center" target="_blank">Ir</a></br>
    </div>
  </div>

  <div class="row">
    <div class="col col-mb-4">
      Drive de consulta
    </div>

    <div class="col col-mb-4">
      Cotejar los números de guías de envío anteriores a marzo de 2023
    </div>

    <div class="col col-mb-4">
      <a href="https://docs.google.com/spreadsheets/d/1YNi0G2dobKmUAF_pp1y6xRyHQ0UWxAv2TxPNg0tzm8I/edit?usp=sharing"
        class="Botonmanual row py-2 px-2 text-center justify-content-center" target="_blank">Ir</a></br>
    </div>
  </div>

  <div class="row">
    <div class="col col-mb-4">
      Solicitar guía a recolección
    </div>

    <div class="col col-mb-4">
      Formulario para solicitar guía para entrega de documentos por revalidación o EQ
    </div>

    <div class="col col-mb-4">
      <a href="https://forms.gle/ybVom84e76Ju2EHz6" class="Botonmanual row py-2 px-2 text-center justify-content-center"
        target="_blank">Ir</a></br>
    </div>
  </div>
</div>

<div class="container rounded-3 my-4 py-3 bg-white">

  <h3 class="text-center">Ubicación</h3>

  <div class="row">
    <div class="col col-mb-6">
      <p class="text-center" id="ubi">
        Utel<br />
        Calzada La Naranja 159, entre calle Esfuerzo Nacional y calle 8,<br />
        Fraccionamiento Industrial Alce Blanco, Naucalpan, Estado de México, C.P. 53370.<br />
      </p>

      <a class="Botonmanual row py-2 px-2 text-center justify-content-center" href="#ubi"
        onclick="copiarAlPortapapeles()">Copiar</a>
      <script>
        function copiarAlPortapapeles(id_elemento) {
          var aux = document.createElement("input");
          aux.setAttribute("value", "Calzada La Naranja  159, entre calle Esfuerzo Nacional y calle 8,Fraccionamiento Industrial Alce Blanco, Naucalpan, Estado de México, C.P. 53370.");
          document.body.appendChild(aux);
          aux.select();
          document.execCommand("copy");
          document.body.removeChild(aux);
        }
      </script>
      <a href="https://goo.gl/maps/yLxqfZMPLEM2" class="Botonmanual row py-2 px-2 text-center justify-content-center"
        target="_blank">Ver ubicación en maps</a></br>
    </div>

    <div class="col col-mb-6">
      <img class="rounded-3 d-block w-100" src="img/escolares/utelplantel.png" alt="">
    </div>
  </div>
</div>