<div class="container rounded-3 py-3 bg-white"> 
  <h1 class="text-center">Directorio</h1>

</div>

<div class="container rounded-3 my-4 py-3 bg-white"> 

  <div class="contenedor">
  <ul class="ul container">
  <div class="row text-center">
  <div class="col"><li class="li activo" id="menuPreguntasFrecuentesTitulacion">Directorio</li></div>
  <div class="col"><li class="li" id="menuPreguntasFrecuentesServicioSocial">Glosario</li></div>

  </div>
  </ul>

  <div class="subcontenedor">
  <!--Directorio-->   
  <div class="bloque activo" id="bloquePreguntasFrecuentesTitulacion">
  <!--
  <div class="buscador">
  <h5> Buscar contacto</h5>

  <input type="text" id="formulario" value="" class="form-control">

  <ul id="resultado" class="p-0">
  </ul>
  </div>
  -->

  <div class="border-3 card card-importante justify-content-center ">
    <div class="card-body">
      <p class="card-text">
        Es importante recalcar que debemos evitar proporcionar datos directos de colaboradores a los alumnos, la mayoría de la información es para compartir internamente.
      </p>
    </div>
  </div>

  <br/><br/>

  <h5>Departamentos</h5>
  <div class="row row row-cols-1 row-cols-xl-4 row-cols-md-2 g-4 my-1">

  <div class="col card border-0" >
  <div class="card-body">
  <h5 class="card-title">Aclaración de cargos</h5>
  <h6 class="card-subtitle mb-2 text-muted">Responsable: Carlos Ayala</h6>
  <p class="card-text">
  Teléfono:	</br> 5513289022</br>
  Whatsapp: </br> 5514559559</br>
  Correo:</br> aclaraciondecargos@utel.edu.mx

  </p>

  </div>
  </div>

  <div class="col card border-0" >
  <div class="card-body">
  <h5 class="card-title">Administración de colegiaturas</h5>
  <h6 class="card-subtitle mb-2 text-muted">Coordinación: Diana Manjarrez</h6>
  <p class="card-text">
  Teléfono:	</br>5536841414 - 5536841414</br>
  Whatsapp: </br>5573773982</br>
  Correo: </br>cobranza@utel.mx

  </p>
  </div>
  </div>

  <div class="col card border-0" >
  <div class="card-body">
  <h5 class="card-title">Cobranza</h5>
  <h6 class="card-subtitle mb-2 text-muted">Supervisor: Luis Eduardo Martínez</h6>
  <p class="card-text">
  Teléfono:	</br>5536841414 - 5536841414</br>
  Whatsapp: </br>5573773982</br>
  Correo: </br>cobranza@utel.mx - lmartiro@utel.edu.mx

  </p>
  </div>
  </div>


  <div class="col card border-0" >
  <div class="card-body" >
  <h5 class="card-title">Facturación</h5>
  <h6 class="card-subtitle mb-2 text-muted">Óscar Gonzalez Vega</h6>
  <p class="card-text">
  Teléfono:	</br>5550897310 - 5550897302</br>
  Whatsapp: </br>5573773982</br>
  Correo: </br>facturacion@utel.edu.mx - acalixgo@utel.edu.mx

  </p>
  </div>
  </div>

  <div class="col card border-0" >
  <div class="card-body">
  <h5 class="card-title">Graduaciones</h5>
  <h6 class="card-subtitle mb-2 text-muted">Responsable: Carlos Ayala</h6>
  <p class="card-text">
  Teléfono:	</br> 5513289010</br>
  Whatsapp: </br> 5513289010</br>
  Correo:</br> graduacion@utel.edu.mx

  </p>

  </div>
  </div>

  <div class="col card border-0" >
  <div class="card-body">
  <h5 class="card-title">Recepción</h5>
  <h6 class="card-subtitle mb-2 text-muted">
  Responsable:</br>
  Adriana Vázquez Salcedo (matutino)</br>
  Ericka Vázquez (vespertino)</h6>
  <p class="card-text">
  Teléfono:	</br>5550897300</br>
  Correo: </br>cobranza@utel.mx

  </p>
  </div>
  </div>

  <div class="col card border-0" >
  <div class="card-body">
  <h5 class="card-title">Recolección</h5>
  <h6 class="card-subtitle mb-2 text-muted">Responsable: Josué Moisés Pacheco</h6>
  <p class="card-text">
  Teléfono:	</br>5536841414 - 5536841414</br>
  Whatsapp: </br>5573773982</br>
  Correo: </br>c.estudiantil@utel.edu.mx

  </p>
  </div>
  </div>


  <div class="col card border-0" >
  <div class="card-body">
  <h5 class="card-title">Servicio social</h5>
  <h6 class="card-subtitle mb-2 text-muted">Óscar Gonzalez Vega</h6>
  <p class="card-text">
  Teléfono:	</br>5513289025</br>
  Whatsapp: </br>5513289025</br>
  Correo: </br>serviciosocial@utel.edu.mx

  </p>
  </div>
  </div>

  <div class="col card border-0" >
  <div class="card-body">
  <h5 class="card-title">Servicio Social UTEL</h5>
  <h6 class="card-subtitle mb-2 text-muted">Responsable: Carlos Ayala</h6>
  <p class="card-text">
  Teléfono:	</br> 5550897377</br>
  Whatsapp: </br> - </br>
  Correo:</br> desarrollo.profesional@utel.edu.mx

  </p>

  </div>
  </div>

  <div class="col card border-0" >
  <div class="card-body">
  <h5 class="card-title">Servicios Escolares</h5>
  <h6 class="card-subtitle mb-2 text-muted">Coordinador: José Luis Rodriguez</h6>
  <p class="card-text">
  Teléfono:	</br>5550897350	</br>
  Whatsapp: </br> - </br>
  Correo: </br>escolares@utel.edu.mx

  </p>
  </div>
  </div>

  <div class="col card border-0" >
  <div class="card-body">
  <h5 class="card-title">Titulación</h5>
  <h6 class="card-subtitle mb-2 text-muted">Coordinadora: Laura Patricia Zúñiga Vargas</h6>
  <p class="card-text">
  Teléfono:	</br>5513289010</br>
  Whatsapp: </br>5513289010</br>
  Correo: </br>titulacion@utel.edu.mx

  </p>
  </div>
  </div>


  <div class="col card border-0" >
  <div class="card-body">
  <h5 class="card-title">Éxito estudiantil Licenciatura</h5>
  <h6 class="card-subtitle mb-2 text-muted">Óscar Gonzalez Vega</h6>
  <p class="card-text">
  Teléfono:	</br> - </br>
  Whatsapp: </br> - </br>
  Correo: </br> -

  </p>
  </div>
  </div>

  </div>
  </div>

  <!--Glosario-->   
  <div class="bloque" id="bloquePreguntasFrecuentesServicioSocial">
  <h3>Glosario</h3>

  <p>
  <h4>Academia</h4>

  Acta de calificaciones: documento institucional en el que se concentran los
  resultados de las evaluaciones finales de los grupos abiertos en cada ciclo
  escolar, con la firma autógrafa o firma electrónica del académico responsable de la
  asignatura o unidad de aprendizaje.
  </br></br>
  Área de concentración (Lic.): asignaturas que brindan formación específica
  centrada a un campo de conocimiento para la especialización de los alumnos
  (Administración, Finanzas o Recursos Humanos).
  </br></br>
  Asignatura (Programa de Estudios): cada una de las materias que conforman
  un plan de estudios.
  </br>
  Aula Virtual: ambiente de aprendizaje en el que el alumno accede a los
  contenidos de estudio para realizar sus actividades educativas y ser evaluado.
  Calificación extraordinaria: puntuación final que se asigna al alumno en cada
  asignatura cursada en Nivelación Académica.
  </br></br>
  Calificación ordinaria: puntuación final que se asigna al alumno en cada
  asignatura cursada en un periodo.
  </br></br>
  Gestor de calidad: personal de apoyo y acompañamiento al profesor durante la
  impartición de los programas asignados por ciclo.
  </br></br>
  Open Class: sesión síncrona impartida por el profesor donde se revisan los temas
  de la asignatura impartida.
  </br></br>
  Plan de estudios: modelo sintético, esquematizado y estructurado de las
  asignaturas u otras unidades de aprendizaje, incluye el/los propósito(s) de
  formación general, así como una propuesta de evaluación para mantener su
  pertinencia y vigencia.
  </br></br>
  Profesor: persona que guía al alumno en su proceso de enseñanza-aprendizaje,
  imparte las open class, evalúa las actividades académicas y firma el acta de
  calificación final.
  </br></br>
  Programa de estudios: descripción sintetizada de los contenidos de las
  asignaturas o unidades de aprendizaje que especifican de manera coherente los
  propósitos, experiencias de aprendizaje y criterios de evaluación con los cuales se
  verificará el logro de los aprendizajes adquiridos.
  </br></br>
  Programación académica: Rol de asignación de docentes a cursos académicos.
  </br></br>
  Salida profesional (Lic.): asignaturas pertenecientes al área de concentración
  seleccionada por el alumno.
  </br></br>
  Tipo de evaluación: procedimiento con el que se califica al alumno en cada
  asignatura y que depende del nivel educativo.</br>
  ● Licenciatura (el alumno puede elegir la de su preferencia):
  ● Examen parcial</br>
  ● Actividades</br>
  ● Trabajo Final</br>
  ● Evidencia por competencias</br>
  ● Maestría: se evalúa con el análisis de casos, foro de discusión,
  participación en open class y entrega del trabajo de aplicación.</br>
  ● Doctorado: se evalúa con la aprobación de la clase magistral, participación
  en clase, trabajo final, actividades parciales y participación en los foros.

  </p>

  <p>
  <h4>Alumno</h4>
  </br></br>
  Alumno (MA): persona inscrita en un plan de estudios con matrícula vigente
  (cuenta con decisión 35).
  Alumno de nuevo ingreso: alumno registrado por primera vez en un plan de
  estudios.
  </br></br>
  Alumno activo: aquel que se encuentra cursando sus asignaturas de manera
  ordinaria.
  </br></br>
  Alumno futuro: aquel que ya se encuentra inscrito, cuenta con expediente digital
  cargado en SIU y está en espera de la fecha de inicio de ciclo.
  </br></br>
  Baja: estatus que inactiva los servicios ofrecidos por la institución al alumno.
  </br></br>
  Baja por adeudo: el alumno causa baja temporal (no voluntaria), por contar con
  adeudo financiero, sin acuerdo de pagos.
  </br></br>
  Baja definitiva (BD): alumno que decide suspender de manera permanente sus
  estudios.
  </br></br>
  Baja por documentos apócrifos: el antecedente académico entregado por el
  alumno no es reconocido por la institución emisora, o bien, el alumno falsifica un
  documento de la Universidad.
  </br></br>
  Baja por falta de documentos: transcurridos 6 meses posteriores al inicio del
  primer ciclo académico del alumno. Éste podrá continuar con el plan de estudios
  sin derecho a certificación.
  </br></br>
  Baja por inactividad (BTI): alumno que no ingresó al Aula Virtual durante dos
  periodos previos.
  </br></br>
  Baja temporal (BT): alumno que decide suspender por un tiempo definido sus
  estudios.
  </br></br>
  Cancelación de venta (CV): proceso para alumnos de nuevo ingreso mediante el
  cual se inactiva su matrícula de acuerdo a los lineamientos, se solicita dentro de
  las primeras 2 semanas del ciclo o cuando sea solicitado por el alumno antes de
  su inicio de clases, p. ej.: por error en su paquete de inscripción; no se localiza al
  alumno y no ingresa al Aula; ya no está interesado en iniciar.
  </br></br>
  Egresado (EG): alumno que ha acreditado el 100% de los créditos del plan de
  estudios cursado.
  </p>

  <p>
  <h4>Alumno</h4>
  </br></br>
  Alumno (MA): persona inscrita en un plan de estudios con matrícula vigente
  (cuenta con decisión 35).
  Alumno de nuevo ingreso: alumno registrado por primera vez en un plan de
  estudios.
  </br></br>
  Alumno activo: aquel que se encuentra cursando sus asignaturas de manera
  ordinaria.
  </br></br>
  Alumno futuro: aquel que ya se encuentra inscrito, cuenta con expediente digital
  cargado en SIU y está en espera de la fecha de inicio de ciclo.
  </br></br>
  Baja: estatus que inactiva los servicios ofrecidos por la institución al alumno.
  </br></br>
  Baja por adeudo: el alumno causa baja temporal (no voluntaria), por contar con
  adeudo financiero, sin acuerdo de pagos.
  </br></br>
  Baja definitiva (BD): alumno que decide suspender de manera permanente sus
  estudios.
  </br></br>
  Baja por documentos apócrifos: el antecedente académico entregado por el
  alumno no es reconocido por la institución emisora, o bien, el alumno falsifica un
  documento de la Universidad.
  </br></br>
  Baja por falta de documentos: transcurridos 6 meses posteriores al inicio del
  primer ciclo académico del alumno. Éste podrá continuar con el plan de estudios
  sin derecho a certificación.
  </br></br>
  Baja por inactividad (BTI): alumno que no ingresó al Aula Virtual durante dos
  periodos previos.
  </br></br>
  Baja temporal (BT): alumno que decide suspender por un tiempo definido sus
  estudios.
  </br></br>
  Cancelación de venta (CV): proceso para alumnos de nuevo ingreso mediante el
  cual se inactiva su matrícula de acuerdo a los lineamientos, se solicita dentro de
  las primeras 2 semanas del ciclo o cuando sea solicitado por el alumno antes de
  su inicio de clases, p. ej.: por error en su paquete de inscripción; no se localiza al
  alumno y no ingresa al Aula; ya no está interesado en iniciar.
  </br></br>
  Egresado (EG): alumno que ha acreditado el 100% de los créditos del plan de
  estudios cursado.
  </br></br>
  Matrícula: número consecutivo asignado a un prospecto, el cual es otorgado
  dependiendo del campus en el que es dado de alta, pudiéndose identificar de la
  siguiente forma:
  <table>
  <thead>
  <tr>
  <th>Nombre campus </th>
  <th>inicio matricula</th>
  </tr>
  </thead>
  <tbody>
  <tr>
  <td>UTEL HIGHER</td>
  <td>01</td>
  </tr>
  <tr>
  <td>UTEL STUDENT</td>
  <td>02</td>
  </tr>
  <tr>
  <td>UNIV TELETÓN</td>
  <td>03</td>
  </tr>
  <tr>
  <td>UNIV METROPOLITANA MONTERREY</td>
  <td>04</td>
  </tr>
  <tr>
  <td>UNIV AUTONOMA DE GUADALAJARA</td>
  <td>05</td>
  </tr>
  <tr>
  <td>UNIV LA SALLE PACHUCA </td>
  <td>06</td>
  </tr>
  <tr>
  <td>UNIV ANTROPOLÓGICA GUADALAJARA</td>
  <td>07</td>
  </tr>
  <tr>
  <td>UNIV OBERTA DE CATALUNYA</td>
  <td>08</td>
  </tr>
  <tr>
  <td>INITE</td>
  <td>09</td>
  </tr>
  <tr>
  <td>UNIVE VIRTUAL EDUCANET MEXICO</td>
  <td>10</td>
  </tr>        
  </table>
  </p>

  <p>

  </p>

  </div>
  </div>
  </div>
</div>

<div class="container rounded-3 my-4 py-3 bg-white"> 
  
  <h3 class="text-center">Responsables por Departamentos</h3>

  <img class="d-block w-100" src="img/directorio/responsables.png" alt="">

</div>

<div class="container rounded-3 my-4 py-3 bg-white"> 
  
  <h3 class="text-center">Otras bases de información</h3>

  <br/>
  <h5>Operación</h5>
  <br/><br/>

  <div class="row">
    <div class="col col-mb-4">
      SIU
    </div>

    <div class="col col-mb-4">
      Revisar la información del estudiante o egresado: documentos, egreso, adeudos, avance curricular, pagos y más
    </div>

    <div class="col col-mb-4">
      <a href="https://siu.scalahed.com/inscripcion/buscador/?matricula=200254804&nombre=&apellido_paterno=&apellido_materno=&email=&referencia=&campus=&estado_inscripcion=&estado_solicitud=&canal=&vendedor=&has_filter=true" class="Botonmanual row py-2 px-2 text-center justify-content-center" target="_blank">Ir</a></br>
    </div>
  </div>

  <div class="row">
    <div class="col col-mb-4">
      MINIPERFIL SIU
    </div>

    <div class="col col-mb-4">
      Información comprimida de SIU. Se puede ver en qué fecha egresó.
    </div>

    <div class="col col-mb-4">
      <a href="https://siu.scalahed.com/inscripcion/perfilse/#" class="Botonmanual row py-2 px-2 text-center justify-content-center" target="_blank">Ir</a></br>
    </div>
  </div>

  <div class="row">
    <div class="col col-mb-4">
      CRM
    </div>

    <div class="col col-mb-4">
      Se puede verificar si el egresado o estudiante ya habló con algún compañero anteriormente
    </div>

    <div class="col col-mb-4">
      <a href="http://crm.utel.edu.mx/index.php?action=Login&module=Users" class="Botonmanual row py-2 px-2 text-center justify-content-center" target="_blank">Ir</a></br>
    </div>
  </div>

  <div class="row">
    <div class="col col-mb-4">
      FLOKZU
    </div>

    <div class="col col-mb-4">
      Cotejar si ya hay un seguimiento previo del egresado o alumno.
    </div>

    <div class="col col-mb-4">
      <a href="https://app.flokzu.com/test_flokzu/inbox" class="Botonmanual row py-2 px-2 text-center justify-content-center" target="_blank">Ir</a></br>
    </div>
  </div>

  <div class="row">
    <div class="col col-mb-4">
      SETI
    </div>

    <div class="col col-mb-4">
      Pedir un apoyo/ levantar un SETI
    </div>

    <div class="col col-mb-4">
      <a href="https://app.flokzu.com/public/01bb9LSETI" class="Botonmanual row py-2 px-2 text-center justify-content-center" target="_blank">Ir</a></br>
    </div>
  </div>

  <div class="row">
    <div class="col col-mb-4">
      Plantillas
    </div>

    <div class="col col-mb-4">
      Plantillas para responder correos
    </div>

    <div class="col col-mb-4">
      <a href="https://docs.google.com/document/d/1794oUPAgIhnpn0tQugvhct3br3cjt37WGIEeziUjFD0/edit?usp=sharing" class="Botonmanual row py-2 px-2 text-center justify-content-center" target="_blank">Ir</a></br>
    </div>
  </div>

  <div class="row">
    <div class="col col-mb-4">
      Tutoría - bajas
    </div>

    <div class="col col-mb-4">
      Notificar a tutoría para tramites de baja de alguna matrícula
    </div>

    <div class="col col-mb-4">
      <a href="https://app.flokzu.com/public/01bb9LNBT" class="Botonmanual row py-2 px-2 text-center justify-content-center" target="_blank">Ir</a></br>
    </div>
  </div>

  <div class="row">
    <div class="col col-mb-4">
      Cancelación de accesorios
    </div>

    <div class="col col-mb-4">
      Cancelar accesorios comprados desde autoservicio en SIU
    </div>

    <div class="col col-mb-4">
      <a href="https://app.flokzu.com/public/01bb9LCAUT" class="Botonmanual row py-2 px-2 text-center justify-content-center" target="_blank">Ir</a></br>
    </div>
  </div>

  <br/>
  <h5>Titulación</h5>
  <br/><br/>

  <div class="row">
    <div class="col col-mb-4">
      Pago de colegiatura final
    </div>

    <div class="col col-mb-4">
      Formulario para confirmar un pago de colegiatura final
    </div>

    <div class="col col-mb-4">
      <a href="https://docs.google.com/forms/d/e/1FAIpQLSdf-5CKBlm25cvPnQ2ylu-wxzyT4k74d9mdnNsy3iaNJAqXyQ/viewform" class="Botonmanual row py-2 px-2 text-center justify-content-center" target="_blank">Ir</a></br>
    </div>
  </div>

  <div class="row">
    <div class="col col-mb-4">
      Cédula profesional 
    </div>

    <div class="col col-mb-4">
      Para consultar si el egresado ya cuenta con registro de Cédula profesional
    </div>

    <div class="col col-mb-4">
      <a href="https://msirepve.sep.gob.mx/validacionelectronica/publico/startCedulaElectronica!startWizard.action" class="Botonmanual row py-2 px-2 text-center justify-content-center" target="_blank">Ir</a></br>
    </div>
  </div>

  <div class="row">
    <div class="col col-mb-4">
      RENAPO
    </div>

    <div class="col col-mb-4">
      Consultar el CURP asociado de un egresado o alumno
    </div>

    <div class="col col-mb-4">
      <a href="https://www.gob.mx/tramites/ficha/consulta-e-impresion-de-la-curp/SEGOB175" class="Botonmanual row py-2 px-2 text-center justify-content-center" target="_blank">Ir</a></br>
    </div>
  </div>

  <div class="row">
    <div class="col col-mb-4">
      Formulario para cita de entrega de RG y Doc 
    </div>

    <div class="col col-mb-4">
      Generación de CITA para entrega de documentos
    </div>

    <div class="col col-mb-4">
      <a href="https://docs.google.com/forms/d/e/1FAIpQLSePLyaDy64R7xyj983iTJXzP3wv3GnSAD6wR0_GNndmQcdVIA/viewform" class="Botonmanual row py-2 px-2 text-center justify-content-center" target="_blank">Ir</a></br>
    </div>
  </div>

  <div class="row">
    <div class="col col-mb-4">
      Drive para consulta de estatus de proyecto de TT LATAM
    </div>

    <div class="col col-mb-4">
      Revisar el estatus del proyecto de titulación de LATAM
    </div>

    <div class="col col-mb-4">
      <a href="https://docs.google.com/spreadsheets/d/1E3fVWjyCyqK7dU0iOhWTlDtFK2fgZLjtQYakCh2718Y/edit#gid=0" class="Botonmanual row py-2 px-2 text-center justify-content-center" target="_blank">Ir</a></br>
    </div>
  </div>

  <div class="row">
    <div class="col col-mb-4">
      Drive de consulta
    </div>

    <div class="col col-mb-4">
      Drive para checar estatus pausados de matrículas del 2021 hacia atrás.
    </div>

    <div class="col col-mb-4">
      <a href="https://docs.google.com/spreadsheets/d/1CTItGe4fY-9SKGVnxzkv8ZmcFMIELNeQ7tXzwmisS4E/edit?usp=sharing" class="Botonmanual row py-2 px-2 text-center justify-content-center" target="_blank">Ir</a></br>
    </div>
  </div>

  <br/>
  <h5>Servicio social</h5>
  <br/><br/>

  <div class="row">
    <div class="col col-mb-4">
      Drive de consulta
    </div>

    <div class="col col-mb-4">
      Revisar el estatus que guarda el estudiante con respecto al SS Se puede revisar fechas de inicio y término
    </div>

    <div class="col col-mb-4">
      <a href="https://docs.google.com/spreadsheets/d/14ZI14ytD2gYr5FbgkfXrDlHNiii6HlWi61uitAr_MFg/edit#gid=1855365018" class="Botonmanual row py-2 px-2 text-center justify-content-center" target="_blank">Ir</a></br>
    </div>
  </div>

  <div class="row">
    <div class="col col-mb-4">
      Servicio social SERSO
    </div>

    <div class="col col-mb-4">
      Formulario que debe de llenar el estudiante o egresado para el SS (No están todas las modalidades)
    </div>

    <div class="col col-mb-4">
      <a href="https://app.flokzu.com/public/01bb9LSERSO" class="Botonmanual row py-2 px-2 text-center justify-content-center" target="_blank">Ir</a></br>
    </div>
  </div>

  <div class="row">
    <div class="col col-mb-4">
      Carpeta de drive
    </div>

    <div class="col col-mb-4">
      Formatos de todas las modalidades de Servicio social. (Los JPG son ejemplos)
    </div>

    <div class="col col-mb-4">
      <a href="https://drive.google.com/drive/folders/1SuEsnKu3K7pM-Yp0wufSYlfBg51Z7Me_?usp=sharing" class="Botonmanual row py-2 px-2 text-center justify-content-center" target="_blank">Ir</a></br>
    </div>
  </div>

   <br/>
  <h5>Control documental</h5>
  <br/><br/>

  <div class="row">
    <div class="col col-mb-4">
      Escaneo de doc
    </div>

    <div class="col col-mb-4">
      Flokzu para solicitud de escaneo de documentos.
    </div>

    <div class="col col-mb-4">
      <a href="https://app.flokzu.com/public/01bb9LSCANDOC" class="Botonmanual row py-2 px-2 text-center justify-content-center" target="_blank">Ir</a></br>
    </div>
  </div>

  <div class="row">
    <div class="col col-mb-4">
      Solicitud de préstamo y devolución
    </div>

    <div class="col col-mb-4">
      Flokzu para solicitar préstamos y devolución de documentos.
    </div>

    <div class="col col-mb-4">
      <a href="https://app.flokzu.com/public/01bb9LARCH-PREST" class="Botonmanual row py-2 px-2 text-center justify-content-center" target="_blank">Ir</a></br>
    </div>
    </div>

  <div class="row">
    <div class="col col-mb-4">
      Drive de consulta
    </div>

    <div class="col col-mb-4">
      Cotejar los números de guías de envío anteriores a marzo de 2023
    </div>

    <div class="col col-mb-4">
      <a href="https://docs.google.com/spreadsheets/d/1YNi0G2dobKmUAF_pp1y6xRyHQ0UWxAv2TxPNg0tzm8I/edit?usp=sharing" class="Botonmanual row py-2 px-2 text-center justify-content-center" target="_blank">Ir</a></br>
    </div>
    </div>

    <div class="row">
    <div class="col col-mb-4">
      Solicitar guía a recolección
    </div>

    <div class="col col-mb-4">
      Formulario para solicitar guía para entrega de documentos por revalidación o EQ
    </div>

    <div class="col col-mb-4">
      <a href="https://forms.gle/ybVom84e76Ju2EHz6" class="Botonmanual row py-2 px-2 text-center justify-content-center" target="_blank">Ir</a></br>
    </div>
    </div>
</div>

<div class="container rounded-3 my-4 py-3 bg-white"> 
  
  <h3 class="text-center">Ubicación</h3>

  <div class="row">
    <div class="col col-mb-6">
      <p class="text-center" id="ubi">
        UTEL<br/>
        Calzada La Naranja  159, entre calle Esfuerzo Nacional y calle 8,<br/>
        Fraccionamiento Industrial Alce Blanco, Naucalpan, Estado de México, C.P. 53370.<br/>
      </p>

        <a class="Botonmanual row py-2 px-2 text-center justify-content-center" href="#ubi" onclick="copiarAlPortapapeles()">Copiar</a>  
          <script>
            function copiarAlPortapapeles(id_elemento) {
              var aux = document.createElement("input");
              aux.setAttribute("value","Calzada La Naranja  159, entre calle Esfuerzo Nacional y calle 8,Fraccionamiento Industrial Alce Blanco, Naucalpan, Estado de México, C.P. 53370.");
              document.body.appendChild(aux);
              aux.select();
              document.execCommand("copy");
              document.body.removeChild(aux);
            }
          </script>
        <a href="https://goo.gl/maps/yLxqfZMPLEM2" class="Botonmanual row py-2 px-2 text-center justify-content-center" target="_blank">Ver ubicación en maps</a></br>
    </div>

    <div class="col col-mb-6">
      <img class="rounded-3 d-block w-100" src="img/escolares/utelplantel.png" alt="">
    </div>
  </div>
</div>