      <div class="container rounded-3 my-3 py-3 bg-white"> 

         <h1 class="text-center">Directorio</h1>
         <div class="contenedor">
            <ul class="ul container">
                <div class="row text-center">
                <div class="col"><li class="li activo" id="menuPreguntasFrecuentesTitulacion">Directorio</li></div>
                <div class="col"><li class="li" id="menuPreguntasFrecuentesServicioSocial">Glosario</li></div>

                </div>
            </ul>

            <div class="subcontenedor">
              <!--Directorio-->   
              <div class="bloque activo" id="bloquePreguntasFrecuentesTitulacion">
              <div class="buscador">
                <h5> Buscar contacto</h5>

                <input type="text" id="formulario" value="" class="form-control">
                  
                <ul id="resultado" class="p-0">
                </ul>
              </div>

              <h5>Departamentos</h5>
              <div class="row row row-cols-1 row-cols-xl-4 row-cols-md-2 g-4 my-1">
        
                <div class="col card border-0" >
                  <div class="card-body">
                    <h5 class="card-title">Aclaracón de cargos</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Responsable: Carlos Ayala</h6>
                    <p class="card-text">
                      Telefono:	</br> 5513289022</br>
                      Whatsapp: </br> 5514559559</br>
                      Correo:</br> aclaraciondecargos@utel.edu.mx

                    </p>
                    
                  </div>
                </div>

                <div class="col card border-0" >
                  <div class="card-body">
                    <h5 class="card-title">Administración de colegiaturas</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Cordinación: Diana Manjarrez</h6>
                    <p class="card-text">
                      Telefono:	</br>5536841414 - 5536841414</br>
                      Whatsapp: </br>5573773982</br>
                      Correo: </br>cobranza@utel.mx

                    </p>
                  </div>
                </div>

                <div class="col card border-0" >
                  <div class="card-body">
                    <h5 class="card-title">Cobranza</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Supervisor: Luis Eduardo Martínez</h6>
                    <p class="card-text">
                      Telefono:	</br>5536841414 - 5536841414</br>
                      Whatsapp: </br>5573773982</br>
                      Correo: </br>cobranza@utel.mx - lmartiro@utel.edu.mx

                    </p>
                  </div>
                </div>


                <div class="col card border-0" >
                  <div class="card-body card-aviso" >
                    <h5 class="card-title">Facturación</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Óscar Gonzalez Vega</h6>
                    <p class="card-text">
                      Telefono:	</br>5550897310 - 5550897302</br>
                      Whatsapp: </br>5573773982</br>
                      Correo: </br>facturacion@utel.edu.mx - acalixgo@utel.edu.mx

                    </p>
                  </div>
                </div>

                <div class="col card border-0" >
                  <div class="card-body">
                    <h5 class="card-title">Graduaciones</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Responsable: Carlos Ayala</h6>
                    <p class="card-text">
                      Telefono:	</br> 5513289010</br>
                      Whatsapp: </br> 5513289010</br>
                      Correo:</br> graduacion@utel.edu.mx

                    </p>
                    
                  </div>
                </div>

                <div class="col card border-0" >
                  <div class="card-body">
                    <h5 class="card-title">Recepción</h5>
                    <h6 class="card-subtitle mb-2 text-muted">
                      Responsable:</br>
                      Adriana Vázquez Salcedo (matutino)</br>
                      Ericka Vázquez (vespertino)</h6>
                    <p class="card-text">
                      Telefono:	</br>5550897300</br>
                      Correo: </br>cobranza@utel.mx

                    </p>
                  </div>
                </div>

                <div class="col card border-0" >
                  <div class="card-body">
                    <h5 class="card-title">Recolección</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Responsable: Josué Moisés Pacheco</h6>
                    <p class="card-text">
                      Telefono:	</br>5536841414 - 5536841414</br>
                      Whatsapp: </br>5573773982</br>
                      Correo: </br>c.estudiantil@utel.edu.mx

                    </p>
                  </div>
                </div>


                <div class="col card border-0" >
                  <div class="card-body">
                    <h5 class="card-title">Servicio social</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Óscar Gonzalez Vega</h6>
                    <p class="card-text">
                      Telefono:	</br>5513289025</br>
                      Whatsapp: </br>5513289025</br>
                      Correo: </br>serviciosocial@utel.edu.mx

                    </p>
                  </div>
                </div>

                <div class="col card border-0" >
                  <div class="card-body">
                    <h5 class="card-title">Servicio Social UTEL</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Responsable: Carlos Ayala</h6>
                    <p class="card-text">
                      Telefono:	</br> 5550897377</br>
                      Whatsapp: </br> - </br>
                      Correo:</br> desarrollo.profesional@utel.edu.mx

                    </p>
                    
                  </div>
                </div>

                <div class="col card border-0" >
                  <div class="card-body">
                    <h5 class="card-title">Servicios Escolares</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Coordinador: José Luis Rodriguez</h6>
                    <p class="card-text">
                      Telefono:	</br>5550897350	</br>
                      Whatsapp: </br> - </br>
                      Correo: </br>escolares@utel.edu.mx

                    </p>
                  </div>
                </div>

                <div class="col card border-0" >
                  <div class="card-body">
                    <h5 class="card-title">Titulación</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Coordinadora: Laura Patricia Zúñiga Vargas</h6>
                    <p class="card-text">
                      Telefono:	</br>5513289010</br>
                      Whatsapp: </br>5513289010</br>
                      Correo: </br>titulacion@utel.edu.mx

                    </p>
                  </div>
                </div>


                <div class="col card border-0" >
                  <div class="card-body">
                    <h5 class="card-title">Éxito estudiantil Licenciatura</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Óscar Gonzalez Vega</h6>
                    <p class="card-text">
                      Telefono:	</br> - </br>
                      Whatsapp: </br> - </br>
                      Correo: </br> -

                    </p>
                  </div>
                </div>

              </div>
              </div>

              <!--Glosario-->   
              <div class="bloque" id="bloquePreguntasFrecuentesServicioSocial">
                <h4><b>Glosario</b></h4></br>

              </div>
            </div>
         </div>
      </div>