<div class="container rounded-3 py-3 bg-white">
      <div id="carouselExampleIndicators" class="carousel slide">

        <div class="carousel-indicators">
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="img/Utel3.jpg" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="img/Utel2.jpg" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="img/Utel.jpg" class="d-block w-100" alt="...">
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>

      <div class="row row-cols-1 row-cols-md-2 g-4 py-3" >
        <div class="col">
          <div class="card border-0">
            <img src="img/Noticias/noticiasstrabajo.png" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Servicio social por experiencia laboral.</h5>
              <p class="card-text">Se abrirá una nueva campaña con éxito estudiantil para una nueva modalidad de liberación de Servicio social por experiencia laboral. Consiste en tomar en cuenta los últimos 6 meses de trabajo (en una empresa pública o privada) para poder liberar el servicio social. </p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card border-0">
            <img src="img/Noticias/pagonoticia.png" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Colegiatura final outselling.</h5>
              <p class="card-text">Habrá Colegiatura final outselling, esta consiste en descuentos, pagos a plazos y está disponible para los alumnos que tengan desde el 10% al 79% de avance curricular. 
Esto como tal no nos toca pero es importante conocerlo. </p>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card border-0">
            <img src="img/Noticias/constanciaaviso.png" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Constancia de inscripción.</h5>
              <p class="card-text"> Se aperturó un nuevo accesorio que se llama Constancia de inscripción. Este documento es solo para los de nuevo ingreso y futuros. Solo se refleja la matriculación, fecha de inicio de clases, número de materias y RVOE. El costo es de $500 </p>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card border-0">
            <img src="img/Noticias/equipoaviso.png" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title"> Correspondencia escolar.</h5>
              <p class="card-text">
                Se anuncia la creación del nuevo equipo de Correspondencia escolar. Este equipo se encargará de la recepción y envío de los documentos en UTEL. Los integrantes del equipo son: <br/>
                -Carlos Eduardo Barrera Sanabria (turno matutino  y responsable del área)<br/>
                -Carlos Fernando Jiménez Huicochea (turno matutino) <br/>
                -Erick Abdul Cureño Castillo (Turno Vespertino) <br/>
                -Arturo Pacheco Vaquero (Turno Vespertino) 
              </p>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card border-0">
            <img src="img/Noticias/aviso.png" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title"> Correspondencia escolar.</h5>
              <p class="card-text">
                Es muy importante que no descuidamos esta parte y sigamos el proceso de forma adecuada para solicitar el préstamos o devolución. Si alguien tiene dudas sobre este proceso o no lo tiene claro, mándenme hang para que lo podamos revisar y resolver dudas. 
              </p>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card border-0">
            <img src="img/Noticias/demora.png" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title"> Correspondencia escolar.</h5>
              <p class="card-text">
                Indican que están realizando varios procesos y la carga de trabajo se les ha incrementado. 
              </p>
            </div>
          </div>
      </div>
      </div>



      <div class="row row-cols-1 row-cols-md-1 py-3">
        
        <div class="col">
        <iframe style="width: 100%; height: 400px;"  src="https://www.youtube.com/embed/YoXp1pOf2Jc" title="Conoce tu Universidad | UTEL Universidad" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        </div>
      </div>
    </div>