<div class="container rounded-3 py-3 bg-white">
      <div id="carouselExampleIndicators" class="carousel slide">

        <div class="carousel-indicators">
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="img/Utel3.jpg" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="img/Utel2.jpg" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="img/Utel.jpg" class="d-block w-100" alt="...">
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
 
      <div class="row row-cols-1 row-cols-md-2 g-4 py-3" >
        <div class="col">
          <div class="card border-0">
            <img loading="lazy" src="img/Noticias/noticiasstrabajo.png" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Modalidades servicio social</h5>
              <p class="card-text" style="text-align: justify;">Se crean  nuevas modalidades de servicio social,  con el fin de que los alumnos tengan  mayor facilidad para realizar la liberación del servicio social.
                <br/>
                 La información a detalle se puede consultar  en el apartado de servicio social.</p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card border-0">
            <img loading="lazy" src="img/Noticias/pagonoticia.png" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Colegiatura final outselling</h5>
              <p class="card-text" style="text-align: justify; ">Consiste en descuentos o pagos a plazos. Está disponible para los alumnos que tengan desde el 10% al 79% de avance curricular.</p>
                
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card border-0">
            <img loading="lazy" src="img/Noticias/constanciaaviso.png" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Equivalencia Ecuador</h5>
              <p class="card-text" style="text-align: justify;">
                SENESYT solicita carta CINE UNESCO, para trámite de Equivalencia academica. Los egresados que hayan realizado el pago del certificado de programa académico (CPA) quedan exentos del pago de la carta CINE UNESCO, esto aplica para las matrículas a las que aún se les solicitó el pago del CPA, con anterioridad.
              </p>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card border-0">
            <img loading="lazy" src="img/Noticias/equipoaviso.png" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Nuevas supervisiones</h5>
              <p class="card-text" style="text-align: justify;">
                José Roberto Reyes Simbrón, queda a cargo de la supervisión de certificación.<br/>
 
                Jessica Guzmán Pérez queda a cargo de la supervisión de titulación.
              </p>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card border-0">
            <img loading="lazy" src="img/Noticias/aviso.png" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title"> Correspondencia escolar</h5>
              <p class="card-text" style="text-align: justify;">
                Se incrementan las solicitudes de préstamo y devolución de documentos. Es importante que para dicha solicitud el alumno cuente con el formato correspondiente.
              </p>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card border-0">
            <img loading="lazy" src="img/Noticias/demora.png" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Evento de entrega de documentos</h5>
              <p class="card-text" style="text-align: justify;">
                El pasado 11 de noviembre se llevó a cabo la entrega de documentos en UTEL. Siendo un éxito con asistencia del 83%.
              </p>  
            </div>
          </div>
      </div>
      </div>

      <div class="row row-cols-1 row-cols-md-1 py-3">
        <div class="col">
        <iframe width="100%" height="500px" src="https://www.youtube.com/embed/SFlLJdusXwg" title="Recorridos por nuestras graduaciones a lo largo del tiempo I Utel Universidad" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        </div>
      </div>
    </div>
    