<div class="container rounded-3 py-3 bg-white"> 

         <h1 class="text-center" id="certificacion">Apostilla</h1>
         <div class="contenedor ">
            <ul class="ul container">
                <div class="row text-center">
                <div class="col"><li class="li activo">Apostilla</li></div>
                <div class="col"><li class="li">Convalidación</li></div>
                <div class="col"><li class="li">Doble reconocimiento</li></div>
                </div>
            </ul>

            <div class="subcontenedor">

              <div class="bloque activo" >
                <div class="card border-0 py-3 px-3" >

                  <!--Certificado apostillado-->
                  <div class="row row-cols-1 row-cols-xl-1 row-cols-md-1 g-4 my-1">
                      <div class="col">
                      <div class="card border-0 mb-3" >
                          <div class="row g-0">

                            <div class="col-md-8">
                              <div class="card-body">
                                <h5 class="card-title text-center">Certificado apostillado</h5>
                                <p class="card-text">     
                                  
                                Trámite de certificación de firmas facultadas para la validez y legitimidad de documentos públicos emitidos en territorio mexicano</br></br>
            
                                Se deberán cubrir los siguientes requisitos:</br>
                                -Certificado total de estudios emitido por autoridad educativa de México</br>
                                -Pago de tramite o beneficio en paquete</br>
                                </p>

                              </div>
                            </div>

                            <div class="col-md-4">
                              <button class="col btn botonejemdoc" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasBottom4" aria-controls="offcanvasBottom"><img style=" max-width: 300px;"src="Img/titulacion/certi-apost1.png"></i></button>

                              <div class="offcanvas offcanvas-bottom" tabindex="-1" id="offcanvasBottom4" aria-labelledby="offcanvasBottomLabel">
                              <div class="offcanvas-header">
                                <h5 class="offcanvas-title" id="offcanvasBottomLabel4">Certificación</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                              </div>
                              <div class="container card border border-0">
                
                                <div class="row row-cols-1 row-cols-xl-2 row-cols-md-2">
                
                                  <div class="col">

                                    <div id="carousel3" class="carousel carousel-ejemplo slide">
                                      <div class="carousel-inner carousel-inner-ejemplo">
                                        <div class="carousel-item active">
                                        Documento
                                          <img src="Img/Titulacion/certi-apost1.PNG " class="d-block w-100" alt="...">
                                        </div>
                                        <div class="carousel-item">
                                        Apostilla
                                          <img src="Img/Titulacion/certi-apost2.PNG " class="d-block w-100" alt="...">
                                        </div>
                                      </div>
                                      <button class="carousel-control-prev" type="button" data-bs-target="#carousel3" data-bs-slide="prev">
                                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                        <span class="visually-hidden">Previous</span>
                                      </button>
                                      <button class="carousel-control-next" type="button" data-bs-target="#carousel3" data-bs-slide="next">
                                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                        <span class="visually-hidden">Next</span>
                                      </button>
                                    </div>
                                    
                                  </div>
                                  
                                  <div class="col card border border-0">
                
                                    <strong class="py-3 px-3"> Caracteristicas del apostille de documentos</strong></br>
                                    
                                    1- Que la firma de la persona que aparece en el documento es auténtica.
                                  </br></br>
                                    2.- Que la persona que firma el documento tiene facultades para ello de acuerdo a las atribuciones que mediante Ley le son otorgadas al momento de
                                    firmar dicho documento.
                                  </br></br>
                                    3.- Que el sello o timbre que en su caso consta en el documento, es auténtico.
                                  </br></br>
                                    De este modo, todos los casos en los que una apostilla sea identificable y permanezca adherida al Documento en cuestión, éste es válido y surte efectos en el
                                    extranjero cuando así se requiera.
                                  
                                  </div>
                                </div>   
                              </div>
                              </div> 
                            </div>
                            
                          </div>
                      </div>
                      </div>
                      
                  </div>
                  <!--Titulo apostillado-->
                  <div class="row row-cols-1 row-cols-xl-1 row-cols-md-1 g-4 my-1">
                    <div class="col">
                    <div class="card border-0 mb-3" >
                        <div class="row g-0">

                          <div class="col-md-8">
                            <div class="card-body">
                              <h5 class="card-title text-center">Titulo apostillado</h5>
                              <p class="card-text">     
                                
                                Trámite de certificación de firmas facultadas para la validez y legitimidad de documentos públicos emitidos en territorio mexicano</br></br>
            
                                Se deberán cubrir los siguientes requisitos:</br>
                                -Titulo emitido por autoridad educativa de México</br>
                                -Pago de tramite o beneficio en paquete</br>
                                
                              </p>

                            </div>
                          </div>

                          <div class="col-md-4">
                            <button class="col btn botonejemdoc" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasBottom-tit-apost" aria-controls="offcanvasBottom"><img style=" max-width: 300px;"src="Img/titulacion/tit-apost1.png"></i></button>

                            <div class="offcanvas offcanvas-bottom" tabindex="-1" id="offcanvasBottom-tit-apost" aria-labelledby="offcanvasBottomLabel">
                            <div class="offcanvas-header">
                              <h5 class="offcanvas-title" id="offcanvasBottomLabel4">Certificación</h5>
                              <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                            </div>
                            <div class="container card border border-0">
              
                              <div class="row row-cols-1 row-cols-xl-2 row-cols-md-2">
              
                                <div class="col">

                                  <div class="col">

                                    <div id="carousel0" class="carousel carousel-ejemplo slide">
                                      <div class="carousel-inner carousel-inner-ejemplo">
                                        <div class="carousel-item active">
                                        Documento
                                          <img src="Img/Titulacion/tit-apost1.PNG " class="d-block w-100" alt="...">
                                        </div>
                                        <div class="carousel-item">
                                        Apostilla
                                          <img src="Img/Titulacion/tit-apost2.PNG " class="d-block w-100" alt="...">
                                        </div>
                                      </div>
                                      <button class="carousel-control-prev" type="button" data-bs-target="#carousel0" data-bs-slide="prev">
                                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                        <span class="visually-hidden">Previous</span>
                                      </button>
                                      <button class="carousel-control-next" type="button" data-bs-target="#carousel0" data-bs-slide="next">
                                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                        <span class="visually-hidden">Next</span>
                                      </button>
                                    </div>
                                    
                                  </div>
                                  
                                </div>
                                
                                <div class="col card border border-0">
                
                                  <strong class="py-3 px-3"> Caracteristicas del apostille de documentos</strong></br>
                                  
                                  1- Que la firma de la persona que aparece en el documento es auténtica.
                                </br></br>
                                  2.- Que la persona que firma el documento tiene facultades para ello de acuerdo a las atribuciones que mediante Ley le son otorgadas al momento de
                                  firmar dicho documento.
                                </br></br>
                                  3.- Que el sello o timbre que en su caso consta en el documento, es auténtico.
                                </br></br>
                                  De este modo, todos los casos en los que una apostilla sea identificable y permanezca adherida al Documento en cuestión, éste es válido y surte efectos en el
                                  extranjero cuando así se requiera.
                                
                                </div>
                              </div>   
                            </div>
                            </div> 
                          </div>
                          
                        </div>
                    </div>
                    </div>
                    
                  </div>


                </div>

              </div>

              <div class="bloque">
                <div class="card border-0">
                  <h4><b>¿Qué es el Proceso de Convalidación LATAM?</b></h4></br>
                  
                  <a>
                    La convalidación de títulos es el reconocimiento que el Ministerio de Educación Nacional efectúa
                    sobre un título de educación superior otorgado por una institución legalmente autorizada en el
                    país de origen. Este reconocimiento permite adquirir los mismos efectos académicos y legales en
                    otro país que tienen los títulos otorgados por las Instituciones de Educación Superior.

                  </a>


                </div>
              </div>

              <div class="bloque">
                <div class="card border-0 py-3 px-3" >
                    <h4><b>Doble reconocimiento con Estados Unidos</b></h4></br>
                    
                    <a>
                        Realizar este trámite permite a nuestros egresados reconocer y validar sus estudios de UTEL en territorio 
                        estadounidense, disfrutando de los mismos beneficios y condiciones tales como:</br></br>

                        -Continuar sus estudios en una universidad norteamericana.</br>
                        -Obtener trabajo en una empresa formalmente establecida.</br>
                        -Trabajar en el área de formación profesional.</br>
                        -Mejorar ingresos económicos.</br>
                        -Realizar trámites migratorios o certificación laboral.                      
  
                    </a>
  
                </div>
                <div class="card border-0 py-3 px-3" >
                  <h4><b>Proceso</b></h4></br>
                  
                  <a>
                      Realizar este trámite permite a nuestros egresados reconocer y validar sus estudios de UTEL en territorio 
                      estadounidense, disfrutando de los mismos beneficios y condiciones tales como:</br></br>

                      -Continuar sus estudios en una universidad norteamericana.</br>
                      -Obtener trabajo en una empresa formalmente establecida.</br>
                      -Trabajar en el área de formación profesional.</br>
                      -Mejorar ingresos económicos.</br>
                      -Realizar trámites migratorios o certificación laboral.</br></br>    
                      
                      
                      La gestión del trámite se lleva a cabo directamente en UTEL y solo se podrá iniciar una vez que tengas
                      tu Título o Grado académico avalado por la SEP apostillado en México y solicites el trámite que
                      consiste en:

                      <h6>1. Llenar la Solicitud de Convalidación de Título de UTEL en USA.</h6></br></br>    
                      <h6>2. Pagar el costo correspondiente al trámite, que incluye:</h6></br></br>    
                       -Envío de documentos a USA</br> 
                       -Traducción oficial del Título de UTEL (en USA)</br> 
                       -Procedimiento de revalidación ante Agencia Acreditadora (en USA)</br> 
                       -Resultado: Informe de Equivalencia</br> 
                       -Legalización ante Notario Público</br> 
                       -Apostilla de la Convención de La Haya para el Informe de Equivalencia (emitida en USA)</br> 
                       -Envío de documentos a UTEL</br> 
                       

                  </a>
                  

                  <div class="my-5 ">
                    <div class="accordion" id="accordionPanelsStayOpenExample">
                      
                      <div class="">
                      
                      <div class="accordion-item">
                        <h2 class="accordion-header" id="panelsStayOpen-headingOne">
                          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true" aria-controls="panelsStayOpen-collapseOne">
                            Formato de informes
                          </button>
                        </h2>
                          <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingOne">
                            <div class="accordion-body">
                                <div class="row row-cols-md-2">
                                  <img class="Col" src="Img/Titulacion/Doblerec1.PNG ">
                                  <img class="Col" src="Img/Titulacion/Doblerec2.PNG ">
                                  <img Class="Col "src="Img/Titulacion/Doblerec3.PNG ">
                                  <img Class="Col "src="Img/Titulacion/Doblerec4.PNG ">
                                </div>
                            </div>  
                          </div>
  
                      </div>
  
                      <div class="accordion-item">
                        <h2 class="accordion-header" id="panelsStayOpen-headingTwo">
                          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false" aria-controls="panelsStayOpen-collapseTwo">
                            Formato de informes
                          </button>
                        </h2>
                        <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingTwo">
                          <div class="accordion-body">
                            <strong>Documentación para alumnos de LATAM</strong></br></br>       
                          
                          
                          </div>
                      </div>
                      
                      </div>
  
                      </div>
                    
                    </div>
  
                  </div>
                </div>
                
              </div>  
       
            </div>
         </div>    
                  
      </div>