<div class="container rounded-3 py-3 bg-white">

    <h1 class="text-center">Mapa</h1>

    <div class="row py-5">

      <div class="col-3">
        <div class="col">
          <a class="Botonmenu row py-3 px-3 my-0 bton justify-content-center" onmouseover="mostrarDocumento(1)">Titulación</a>
          <a class="Botonmenu row py-3 px-3 my-0 bton justify-content-center" onmouseover="mostrarDocumento(2)">Servicio social</a>
          <a class="Botonmenu row py-3 px-3 my-0 bton justify-content-center" onmouseover="mostrarDocumento(3)">Servicios escolares</a>
          <a class="Botonmenu row py-3 px-3 my-0 bton justify-content-center" onmouseover="mostrarDocumento(4)">Recolección de documentos</a>
          <a class="Botonmenu row py-3 px-3 my-0 bton justify-content-center" onmouseover="mostrarDocumento(5)">Convalidación</a>
          <a class="Botonmenu row py-3 px-3 my-0 bton justify-content-center" onmouseover="mostrarDocumento(6)">Directorio</a>
          <a class="Botonmenu row py-3 px-3 my-0 bton justify-content-center" onmouseover="mostrarDocumento(7)">Manuales</a>
          <a class="Botonmenu row py-3 px-3 my-0 bton justify-content-center" onmouseover="mostrarDocumento(8)">Dudas</a>
        </div>

      </div>

      <div class="col-9">

        <div class="tramites">

        <script>
          
        </script>

        <!--Titulación-->
        <div class="py-2" style="display: none;" id="titulacion">
          <img src="img/Titulacion_img.png" class="imagenes_mapa" alt="...">
          <h5 class="card-title text-center py-0">Titulación</h5>
          <a  href="titulacion#bloqueCertificacion" class="Botonsubmenu row py-3 px-3 my-0 bton" id="botoncerti">Certificación</a>
          <a  href="titulacion#boqueTitulacion" class="Botonsubmenu row py-3 px-3 my-0 bton" id="botontitu">Titulación</a>
          <a  href="titulacion#bloqueTitulacionLatam" class="Botonsubmenu row py-3 px-3 my-0 bton" id="botontitulatam">Titulación LATAM</a>
          <a  href="titulacion#bloqueTituloInt" class="Botonsubmenu row py-3 px-3 my-0 bton" id="botontitinter">Representación Grafica</a>
          <a  href="titulacion#boqueCertificadoPar" class="Botonsubmenu row py-3 px-3 my-0 bton" id="botoncertpar">Certificado parcial</a>
        </div>

        <!--Convalidación-->
        <div class="card border-0 mb-3 py-2 doc" style="display: none;" id="apostilla">
          <img src="img/Apostilla_img.png" class="imagenes_mapa" alt="...">
          <h5 class="card-title text-center">Convalidación</h5>
          <a class="Botonsubmenu row py-3 px-3 my-0 bton" >Apostilla</a>
          <a class="Botonsubmenu row py-3 px-3 my-0 bton" >Convalidación</a>
          <a class="Botonsubmenu row py-3 px-3 my-0 bton" >CINE UNESCO</a>
          <a class="Botonsubmenu row py-3 px-3 my-0 bton" >Equivalencia academica USA</a>
          <a class="Botonsubmenu row py-3 px-3 my-0 bton" >CPA</a>
        </div>

        <!--Servicio social-->
        <div class="card border-0 mb-3 py-2 doc" style="display: none;" id="serviciosocial">
          <img src="img/Serso_img.png" class="imagenes_mapa" alt="...">
          <h5 class="card-title text-center">Servicio social</h5>
          <a href="serviciosocial#SSregular" class="Botonsubmenu row py-3 px-3 my-0 bton" onclick="selecNum(6)">Servicio social regular</a>
          <a href="serviciosocial#SScoach" class="Botonsubmenu row py-3 px-3 my-0 bton" onclick="selecNum(10)">Servicio social en Utel como coach universitario</a>
          <a href="serviciosocial#SSart91" class="Botonsubmenu row py-3 px-3 my-0 bton" onclick="selecNum(7)">Servicio social por articulo 91</a>
          <a href="serviciosocial#SSart52" class="Botonsubmenu row py-3 px-3 my-0 bton" onclick="selecNum(8)">Servicio social por articulo 52</a>
          <a href="serviciosocial#SStrabajo" class="Botonsubmenu row py-3 px-3 my-0 bton" onclick="selecNum(11)">Trabajo colaborativo</a>
          <a href="serviciosocial#SStrabajo" class="Botonsubmenu row py-3 px-3 my-0 bton" onclick="selecNum(11)">Servicio social para las juventudes</a>
          <a href="serviciosocial#SSconcausa" class="Botonsubmenu row py-3 px-3 my-0 bton" onclick="selecNum(9)">Coach Titulación y Profesionalización</a>
          <a href="serviciosocial#SSconcausa" class="Botonsubmenu row py-3 px-3 my-0 bton" onclick="selecNum(9)">Servicio Social Para la Comunidad</a>
          <a href="serviciosocial#SSconcausa" class="Botonsubmenu row py-3 px-3 my-0 bton" onclick="selecNum(9)">Servicio social con causa</a>
          <a href="serviciosocial#SSconcausa" class="Botonsubmenu row py-3 px-3 my-0 bton" onclick="selecNum(9)">Servicio Social en Empresas y Emprendimientos</a>
          <a href="serviciosocial#SSconcausa" class="Botonsubmenu row py-3 px-3 my-0 bton" onclick="selecNum(9)">Servicio Social Programa de Tutorías</a>
        </div>
        
        <!--Servicios escolares-->
        <div class="card border-0 mb-3 py-2 doc" style="display: none;" id="sees">
          <img src="img/Escolares_img.png" class="imagenes_mapa" alt="...">
          <h5 class="card-title text-center">Servicios escolares</h5>
          <a class="Botonsubmenu row py-3 px-3 my-0 bton" >Tipos de ingreso</a>
          <a class="Botonsubmenu row py-3 px-3 my-0 bton" >Tramites que realiza escolares</a>
          <a class="Botonsubmenu row py-3 px-3 my-0 bton" >Costos en plataforma</a>
          <a class="Botonsubmenu row py-3 px-3 my-0 bton" >Diploma intermedio</a>
        </div>

        <!--Recoleción de documentos-->
        <div class="card border-0 mb-3 py-2 doc" style="display: none;" id="recolecdocs">
          <img src="img/Documentos_img.png" class="imagenes_mapa" alt="...">
          <h5 class="card-title text-center">Recoleción de documentos</h5>
          <a class="Botonsubmenu row py-3 px-3 my-0 bton" >Documentación Utel</a>
          <a class="Botonsubmenu row py-3 px-3 my-0 bton" >Documentos nacionales</a>
          <a class="Botonsubmenu row py-3 px-3 my-0 bton" >Documentos LATAM</a>
          <a class="Botonsubmenu row py-3 px-3 my-0 bton" >Documentos Alianzas</a>
          <a class="Botonsubmenu row py-3 px-3 my-0 bton" >Documentación tipos de ingreso</a>
          <a class="Botonsubmenu row py-3 px-3 my-0 bton" >Legalización</a>
          <a class="Botonsubmenu row py-3 px-3 my-0 bton" >Archivo</a>
          <a class="Botonsubmenu row py-3 px-3 my-0 bton" >Procesos</a>
        </div>
        

        <!--Directorio-->
        <div class="card border-0 mb-3 py-2 doc" style="display: none;" id="directorio">
          <img src="img/Directorio_img.png" class="imagenes_mapa" alt="...">
          <h5 class="card-title text-center">Directorio</h5>
          <a class="Botonsubmenu row py-3 px-3 my-0 bton" >Departamentos</a>
          <a class="Botonsubmenu row py-3 px-3 my-0 bton" >Glosario</a>
          <a class="Botonsubmenu row py-3 px-3 my-0 bton" >Responsables por Departamentos</a>
          <a class="Botonsubmenu row py-3 px-3 my-0 bton" >Otras bases de información</a>
          <a class="Botonsubmenu row py-3 px-3 my-0 bton" >Ubicación</a>
        </div>

        <!--Manuales-->
        <div class="card border-0 mb-3 py-2 doc" style="display: none;" id="manuales">
          <img src="img/Manual_img.png" class="imagenes_mapa" alt="...">
          <h5 class="card-title text-center">Recoleción de documentos</h5>
          <a class="Botonsubmenu row py-3 px-3 my-0 bton" >Documentación Utel</a>
          <a class="Botonsubmenu row py-3 px-3 my-0 bton" >¿Como validar documentos nacionales?</a>
          <a class="Botonsubmenu row py-3 px-3 my-0 bton" >¿Como validar documentos LATAM?</a>
          <a class="Botonsubmenu row py-3 px-3 my-0 bton" >Legalización</a>
          <a class="Botonsubmenu row py-3 px-3 my-0 bton" >Archivo</a>
          <a class="Botonsubmenu row py-3 px-3 my-0 bton" >Procesos</a>
        </div>

        <!--Dudas-->
        <div class="card border-0 mb-3 py-2 doc" style="display: none;" id="preguntfrec">
          <img src="img/Preguntas_img.png" class="imagenes_mapa" alt="...">
          <h5 class="card-title text-center">Dudas</h5>
          <a class="Botonsubmenu row py-3 px-3 my-0 bton" >Titulación</a>
          <a class="Botonsubmenu row py-3 px-3 my-0 bton" >Servicio social</a>
          <a class="Botonsubmenu row py-3 px-3 my-0 bton" >Control documental</a>
          <a class="Botonsubmenu row py-3 px-3 my-0 bton" >Escolares</a>
          <a class="Botonsubmenu row py-3 px-3 my-0 bton" >Tutoria</a>
        </div>
      </div>

      </div>
    </div>
  </div> 