      <div class="container rounded-3 my-3 py-3 bg-white"> 

         <h1 class="text-center" id="certificacion">Preguntas frecuentes</h1>

         
          
          <div class="buscador">
            <h5> Buscar</h5>

          <input type="text" id="formulario" value="" class="form-control">
            
          <ul id="resultado" class="p-0">
          </ul>

          </div>
         <div class="contenedor">
            <ul class="ul container">
                <div class="row text-center">
                <div class="col"><li class="li activo" id="menuPreguntasFrecuentesTitulacion">Titulación</li></div>
                <div class="col"><li class="li" id="menuPreguntasFrecuentesServicioSocial">Servicio social</li></div>
                <div class="col"><li class="li" id="menuPreguntasFrecuentesControlDocumental">Control documental</li></div>
                <div class="col"><li class="li" id="menuPreguntasFrecuentesEscolares">Escolares</li></div>
                <div class="col"><li class="li" id="menuPreguntasFrecuentesTutoria">Éxito estudiantil</li></div>
                </div>
            </ul>

            <div class="subcontenedor">
              <!--Titulación-->   
              <div class="bloque activo" id="bloquePreguntasFrecuentesTitulacion">
                  <h4><b>Preguntas frecuentes titulacion</b></h4></br>


                  <div class="pf card border-0 py-3 px-3" id="spsuctsss" >

                  <h6><b>¿Se puede solicitar un certificado total sin servicio social?</b></h6>
                  <a>
                    Se puede trabajar el certificado total siempre y cuando cumpla con:
                    <br/><br/>
                    -Documentación entregada.<br/>
                    -colegiatura final cubierto.<br/>
                    -Avance curricular y estatus de egresado.
                    <br/><br/>
                    El tramite de titulación quedara pausado hasta la liberación de servicio social, posteriormente se tiene que comunicar para solicitar seguimiento.

                  </a>

                  </div>

                  <div class="pf card border-0 py-3 px-3" id="ctdetdt" >

                  <h6><b>¿Cuanto tiempo dura el tramite de titulación?</b></h6>
                  <a>
                    El trámite dura un estimado de 8 meses, a veces se puede extender por situaciones tanto internas como externas, hay que tener presente que los tiempos son estimados.
                  </a>

                  </div>

                  <div class="pf card border-0 py-3 px-3" id="qdenpetdt" >

                  <h6><b>¿Qué documentación es necesaria para el trámite de titulación?</b></h6>
                  <a>
                    Lo ideal es que el alumno tenga toda la documentación completa, no obstante, la documentación obligatoria es:
                    <br/><br/>
                    Antecedentes académicos (Certificado de estudios). <br/>
                    Título (maestrías y doctorados). <br/>
                    Acta de nacimiento. <br/>
                    CURP.

                  </a>

                  </div>

                  <div class="pf card border-0 py-3 px-3" id="ceecdpdt" >

                  <h6><b>¿Cuál es el costo de la colegiatura final?</b></h6>
                  <a>
                    El pago de la colegiatura final tiene un costo de 15,000.00 pesos mexicanos en plataforma, hay ocasiones en que el costo puede cambiar por alguna promoción o bien se tiene incluido.
                  </a>

                  </div>

                  <div class="pf card border-0 py-3 px-3" id="qhsuanqrtdmam" >

                  <h6><b>¿Qué hacer si un alumno no quiere realizar trámite de máster a maestría?</b></h6>
                  <a>
                    Únicamente se le puede proporcionar un diploma de máster, para la obtención de cédula y titulo es necesario solicitar el cambio.
                  </a>

                  </div>
              </div>

              <!--ServicioSocial-->   
              <div class="bloque" id="bloquePreguntasFrecuentesServicioSocial">
                <h4><b>Preguntas frecuentes servicio social</b></h4></br>
         
                <div class="pf card border-0 py-3 px-3" id="RequisitosSS" >

                  <h6><b>¿Qué necesito para realizar mi servicio social?</b></h6>
                  <a>
                    Primeramente requieres cumplir con lo siguiente:</br></br>
                    - Contar con al menos el 70% de avance curricular</br>
                    - No presentar adeudo de ningún tipo</br>
                    - Tener los documentos físicos entregados y validados</br>
                  </a>
                
                </div>

                <div class="pf card border-0 py-3 px-3" id="DondeRealizarSS" >

                  <h6><b>¿Dónde puedo realizar el servicio social?</b></h6>
                  <a>
                    Lo puedes llevar acabo en una institución pública, esta puede ser en cualquier
                    dependencia gubernamental, o en una empresa privada que esté legalmente constituida,
                    los requisitos que te pedimos en ambos casos es que sea una empresa o dependencia
                    Mexicana y que las actividades a realizar sean adherentes a tu licenciatura.
                  </a>

                </div>

                <div class="pf card border-0 py-3 px-3" id="ActividadesSS" >

                  <h6><b>¿Qué actividades debo realizar en la empresa donde haré mi servicio social?</b></h6>
                  <a>
                    Las actividades a realizar las define la persona responsable de validar tu servicio social.
                  </a>

                </div>

                <div class="pf card border-0 py-3 px-3" id="FirmasDocsSS" >

                  <h6><b>¿Quién tiene qué firmar mis documentos?</b></h6>
                  <a>
                    Requiere firmar aquella persona de la empresa que tenga la facultad de dar fe a tu servicio
                    social; puede ser Director, Subdirector, Gerente, Recursos Humanos, entre otros.
                  </a>

                
                </div>

                <div class="pf card border-0 py-3 px-3" id="ListaEmpresasSS" >

                  <h6><b>¿Cuentan con algún listado de empresas en donde pueda ver opciones para realizar el servicio social?</b></h6>
                  <a>
                    Si, lo encuentras en tu aula virtual; recuerda que las vacantes para servicio social están
                    sujetas a disponibilidad de las empresas.</br>
                    Te dejo el enlace.</br>
                    https://www.utel.edu.mx/servicio-social/
                  </a>

                </div>

                <div class="pf card border-0 py-3 px-3" id="conveniosProcedimientoSS" >

                  <h6><b>Si elegí una empresa del listado de convenios, ¿qué tengo que hacer?</b></h6>
                  <a>
                    Ponte en contacto con la empresa y pregunta acerca de las vacantes; en caso de existir
                    una y que seas aceptado notifica a serviciosocial@utel.edu.mx para que te otorguen la
                    plantilla del primer formato:</br></br>
                    Envía los siguientes datos:</br>
                    - Nombre completo</br>
                    - Matrícula</br>
                    - Nombre de la institución</br>
                  </a>

                </div>

                <div class="pf card border-0 py-3 px-3" id="ResponsableSS" >

                  <h6><b>¿Con quién me dirijo para registrar mi servicio social?</b></h6>
                  <a>
                    Dirígete con el área de servicio social; envía los siguientes datos:</br>
                    - Nombre completo</br>
                    - Matrícula</br>
                    - Nombre de la institución</br>
                    A la cuenta de serviciosocial@utel.edu.mx
                  </a>

                </div>

                <div class="pf card border-0 py-3 px-3" id="SSTrabajoLaborando" >

                  <h6><b>¿Puedo hacer el servicio social en la empresa en la que laboro?</b></h6>
                  <a>
                    Sí, siempre y cuando las actividades que realices sean distintas a las que desempeñas
                    laboralmente y en un horario diferente al laboral.
                  </a>

                </div>

                <div class="pf card border-0 py-3 px-3" id="HorasSS" >

                  <h6><b>¿Cuántas horas tengo que cubrir para liberar el servicio social?</b></h6>
                  <a>
                    Requieres cubrir 480 horas en un periodo no menor a 6 meses ni mayor a 2 años
                  </a>

                </div>

                <div class="pf card border-0 py-3 px-3" id="HorasMenosSS" >

                  <h6><b>¿Puedo hacer las horas en un tiempo menor?</b></h6>
                  <a>
                    No, de acuerdo a Ley Reglamentaria del Artículo 5o. Constitucional, Relativo al Ejercicio de
                    las Profesiones en el Distrito Federal y al Reglamento para la Prestación del Servicio Social,
                    el tiempo mínimo de servicio social es de 6 meses y máximo de 2 años.
                  </a>

                </div>

                <div class="pf card border-0 py-3 px-3" id="ART91SS" >

                  <h6><b>Yo trabajo en una Institución de Gobierno, ¿también tengo que hacer servicio social?</b></h6>
                  <a>
                    No, de acuerdo al Artículo 91 de la Ley Reglamentaria del Artículo 5o. Constitucional,
                    Relativo al Ejercicio de las Profesiones en el Distrito Federal los servidores públicos están
                    exentos de realizar el servicio social siempre y cuando tengan una antigüedad mínima de 6
                    meses en el puesto, para gestionar tu trámite envía los siguientes datos:</br>
                    - Nombre completo</br>
                    - Matrícula</br>
                    - Nombre de la institución</br>
                    - Antigüedad en el puesto</br>
                    A la cuenta de serviciosocial@utel.edu.mx
                  </a>

                </div>

                <div class="pf card border-0 py-3 px-3" id="ART52SS" >
                  
                  <h6><b>Tengo 60 años, ¿qué hago para liberar el servicio social?</b></h6>
                  <a>
                    De acuerdo al Artículo 52 de la Ley Reglamentaria del Artículo 5o. Constitucional, Relativo
                    al Ejercicio de las Profesiones en el Distrito Federal los adultos mayores de 60 años están
                    exentos de realizar el servicio social, para gestionar tu trámite envía los siguientes datos:</br>
                    - Nombre completo</br>
                    - Matrícula</br>
                    - Especifica que tienes más de 60 años</br>
                    A la cuenta de serviciosocial@utel.edu.mx
                  </a>

                </div>

                <div class="pf card border-0 py-3 px-3" id="ART52SSDiscapacidad" >
                  
                  <h6><b>Soy una persona incapacitada para realizar el servicio social, ¿Qué necesito para liberarlo?</b></h6>
                  <a>
                    De acuerdo al Artículo 52 de la Ley Reglamentaria del Artículo 5o. Constitucional, Relativo
                    al Ejercicio de las Profesiones en el Distrito Federal las personas que padecen alguna
                    enfermedad grave están exentos de realizar el servicio social, para gestionar tu trámite
                    envía los siguientes datos:</br>
                    - Nombre completo</br>
                    - Matrícula</br>
                    - Menciona tu condición actual y envía algún documento que lo respalde</br>
                    A la cuenta de serviciosocial@utel.edu.mx
                  </a>

                </div>

                <div class="pf card border-0 py-3 px-3" id="VerificarConvenio" >
                  
                  <h6><b>¿Me gustaría saber si la empresa donde quiero hacer mi servicio social tiene convenio con ustedes?</b></h6>
                  <a>
                    Actualmente ya no se firma el convenio a menos que la empresa así lo solicite; en caso de
                    requerirlo te pido te pongas en contacto a serviciosocial@utel.edu.mx para que te apoyen
                    con más detalles.
                  </a>

                </div>

                <div class="pf card border-0 py-3 px-3" id="SSsinNotificar" >
                  
                  <h6><b>Inicié mi servicio social desde hace tiempo pero no le avisé a nadie, ¿qué puedo hacer?</b></h6>
                  <a>
                    En este caso es muy probable que no se te considere el tiempo, pues de acuerdo a la
                    logística primero requieres registrar tu servicio social; sin embargo puedes ponerte en
                    contacto al área de Servicio social; allí podrán orientarte mejor:
                    serviciosocial@utel.edu.mx
                  </a>

                </div>

                <div class="pf card border-0 py-3 px-3" id="SSExpLaboral" >
                  
                  <h6><b>Tengo ya tiempo trabajando para una empresa privada, ¿puedo liberar mi servicio social por experiencia profesional?</b></h6>
                  <a>
                    Tengo ya tiempo trabajando para una empresa privada, ¿puedo liberar mi servicio social
                    por experiencia profesional?
                  </a>

                </div>

                <div class="pf card border-0 py-3 px-3" id="EquivalenciaSS" >
                  
                  <h6><b>Si yo entré por equivalencia, ¿ya no tengo que hacer servicio social?</b></h6>
                  <a>
                    El servicio social no se hace equivalente, ya que lo realizaste para otra institución y en otro
                     momento, además que los oficios requieren estar dirigidos a la Utel.
                  </a>

                </div>

                <div class="pf card border-0 py-3 px-3" id="RevalidaSS" >
                  
                  <h6><b>Estoy estudiando una segunda licenciatura, yo ya hice el servicio social cuando estudiaba esa licenciatura, ¿Es necesario volver a hacerlo?</b></h6>
                  <a>
                    Si, el servicio social es un requisito obligatorio para obtener un título universitario y dado
                    que la Norma Constitutiva lo indica, requiere hacerse al cumplir por lo menos el 70% de
                    avance curricular de la licenciatura actual y para nuestra institución; por lo que el servicio
                    social que tú ya realizaste no se te puede tomar en cuenta pues lo hiciste en otro
                    momento y para otra institución.
                  </a>

                </div>

                <div class="pf card border-0 py-3 px-3" id="PausaSS" >
                  
                  <h6><b>¿Puedo poner en pausa mi servicio social?</b></h6>
                  <a>
                    Sí, siempre y cuando la empresa en donde realizas el servicio social esté de acuerdo; de lo
                    contrario tendrías que empezar nuevamente el proceso.
                  </a>

                </div>

                <div class="pf card border-0 py-3 px-3" id="SSUTEL" >
                  
                  <h6><b>¿Puedo hacer el servicio social en Utel?</b></h6>
                  <a>
                    Si, actualmente tenemos disponible únicamente el programa coach universitario, el cual
                    consiste en brindar acompañamiento y apoyo a los estudiantes de nuevo ingreso.</br>
                    Si te interesa recibir mayor información del programa, te pido te pongas en contacto a la
                    siguiente dirección:</br>
                    desarrollo.profesional@utel.edu.mx
                  </a>

                </div>
              </div>

              <!--ControlDocumental-->   
              <div class="bloque" id="bloquePreguntasFrecuentesControlDocumental">
                <div class="card border-0 py-3 px-3" id="Preguntasprueba" >
                  
                  <div class="pf card border-0 py-3 px-3" id="qhssiucd" >
                    
                    <h6><b>¿Qué hacer si se identifica un CURP duplicado?</b></h6>
                    <a>
                        
                        Lo primero que se tiene que identificar es si ya se realizó una unificación ante RENAPO, en caso de que no, brindarle 
                        instrucciones al alumno para realizar el proceso y obtener la CURP con la leyenda de curp unificado.<br/><br/>
    
                        <img src="img/busqueda/curp.png" alt=""><br/><br/>

                        En caso de que el alumno realice este trámite posterior a la titulación es necesario realizar la corrección de sus 
                        documentos ya que no podrá tramitar su Cédula en la plataforma de la SEP, Lo primero que se tiene que identificar es si ya 
                        se realizo 
                      </a>    

                  </div>

                  <div class="pf card border-0 py-3 px-3" id="" >
                    
                    <h6><b>¿Qué es una dictaminación de un documento?</b></h6>
                    <a>
                      Formalmente es el documento escrito que acredita y justifica el cumplimiento de un requisito de trámite procesal legislativo.
                    </a>    

                  </div>

                  <div class="pf card border-0 py-3 px-3" id="" >
                    
                    <h6><b>¿Qué documentos requiren legalización?</b></h6>
                    <a>
                      La documentación ya no se solicita legalizada a menos que se realice un trámite de equivalencia se solicitara el certificado parcial legalizado, muchos documentos ya tienen leyendas incluidas que no lo requieren.
                    </a>    

                  </div>

                  <div class="pf card border-0 py-3 px-3" id="" >
                    
                    <h6><b>¿Otra persona puede recoger mi documentación?</b></h6>
                    <a>
                      
                    </a>    

                  </div>

              </div>
                
                
              </div>  

              <!--Escolares-->
              <div class="bloque" id="bloquePreguntasFrecuentesEscolares">

                 <div class="pf card border-0 py-3 px-3" id="">
                    
                    <h6><b>Constancia de estudios</b></h6>
                     
                     <br/>

                    <a>
                      Constancia de estudios <br/>
                      Documento que hace constar que el alumno se encuentra actualmente inscrito en la universidad.<br/><br/>

                      Constancia de Pago<br/>
                      Indica los pagos que ha realizado el alumno y los que tiene pendientes.<br/><br/>

                      Para realizar el trámite de constancia se necesita:<br/><br/>

                      -Tener tu documentación física (acta de nacimiento y certificado de bachillerato)<br/><br/>

                      -Tener tus pagos al corriente<br/><br/>

                      Realizar el pago en siu-utl.scalahed.com en la pestaña de trámites en línea por $500 o con la referencia de tus pagos de colegiatura. Si realizas tu pago por otro medio deberás solicitar el trámite a tutoría enviando tu comprobante de pago.<br/><br/>

                      Nota: Si realizas tu pago en línea la solicitud será creada en automático, el trámite tiene una duración de 4 a 10 días hábiles aproximadamente.<br/><br/>
                      *En ambos casos se recomienda dar aviso al área de tutoría para el seguimiento.<br/>

                    </a>
                  </div>

                  <div class="pf card border-0 py-3 px-3" id="">
                        
                      <h6><b>Documentos para revalidación - Lic.</b></h6>

                      <br/>

                      <a>
                        Para alumnos con bachillerato en el extranjero es necesario realizar trámite de Revalidación sí es que aun no tienes Resolución de Revalidación de bachillerato.<br/><br/>

                        Los documentos en físico que necesitamos para darte de alta en SEP son:<br/><br/>

                        Acta de nacimiento original si tu documento fue emitido en el extranjero debe tener apostilla o legalización.<br/><br/>

                        Resolución de Revalidación de bachillerato emitido por la Secretaría de Educación Pública. 
                        Copia de identificación (INE o Pasaporte)<br/><br/>

                        En caso de no tener *Resolución de Revalidación es necesario proporcionar para trámite.<br/><br/>

                        Certificado o diploma de bachillerato o equivalente legalizado o apostillado.<br/><br/>

                        Historia académica (tira de materias con calificaciones obtenidas)<br/><br/>

                        Plan de estudio de bachiller<br/><br/>

                        Carta poder llena con firma autógrafa.<br/><br/>

                        En caso de que los documentos sean en idioma diferente al español, traducción de Perito traductor.<br/><br/>

                        Realizar pago gestión de trámite $3,000.00<br/><br/>

                        Copia de identificación (INE o Pasaporte)<br/><br/>

                        El pago lo realizas en la página de siu-utl.scalahed.com en la etiqueta de tramites en línea, si realizas tu pago por otro medio solicita el trámite a tutoría enviando tu comprobante de pago.<br/><br/>
                      </a>
                  </div>

                  <div class="pf card border-0 py-3 px-3" id="">
                    
                    <video width="640" height="360" controls>
                      <source src="videos/Trámites en línea.mp4" type="video/mp4">
                      <p>Txd</p>
                    </video>

                    <video width="640" height="360" controls>
                      <source src="videos/Equivalencia.mp4" type="video/mp4">
                      <p>Txd</p>
                    </video>

                    <video width="640" height="360" controls>
                      <source src="videos/Revalidación.mp4" type="video/mp4">
                      <p>Txd</p>
                    </video>

                    <video width="640" height="360" controls>
                      <source src="videos/Requisitos de titulación.mp4" type="video/mp4">
                      <p>Txd</p>
                    </video>

                    <video width="640" height="360" controls>
                      <source src="videos/Servicio social.mp4" type="video/mp4">
                      <p>Txd</p>
                    </video>

                    <video width="640" height="360" controls>
                      <source src="videos/Trámites en línea.mp4" type="video/mp4">
                      <p>Txd</p>
                    </video>
                  </div>

                  

              </div>

              

              <!--Tutoria-->   
              <div class="bloque" id="bloquePreguntasFrecuentesTutoria">

                <div class="pf card border-0 py-3 px-3" id="">
                  
                  <h6><b>¿Cómo realizo un cambio de Licenciatura?</b></h6>
                  <br/>
                  <a>
                    En este procedimiento el alumno solicita cambiar a una carrera diferente de la que inició, para realizar el trámite se necesita el formato de cambio de carrera firmado y el pago por la gestión del trámite con costo de $1500.<br/><br/>

                    Si ya cuentas con avance curricular y la nueva carrera tiene materias que ya cursaste se hará una equivalencia interna y no tendrás que cursarlas nuevamente.<br/><br/>

                    Para iniciar el trámite realiza tu pago en trámites en línea en la página de siu-utl.scalahed.com  y manda tu formato a tu tutor.<br/><br/>

                    Nota: La solicitud de cambio de carrera se debe realizar 2 semanas antes del inicio del bimestre.<br/><br/>
                  </a>
                </div>

                <div class="pf card border-0 py-3 px-3" id="">
                    
                    <h6><b>¿Cómo puedo ver el avance curricular?</b></h6>
                    <br/>
                    
                    <a>
                      Primero debes entrar a siu-utl.scalahed.com<br/>
                      En el apartado de "Programas inscritos" en la parte inferior encontrarás la opción de avance curricular.<br/>
                      <img src="img/busqueda/avance.png" alt=""><br/>
                      En el mismo apartado también encontrarás tu historial académico, las calificaciones se actualizan aproximadamente 2 semanas después del cierre del aula virtual.
                    </a>
                </div>

                <div class="pf card border-0 py-3 px-3" id="">
                    
                    <h6><b>Requisitos de la jornada Super intensiva para Licenciatura</b></h6>

                    <br/>

                    <a>
                      La duración de la Licenciatura en Jornada Super Intensiva es de 2 años 2 meses.<br/>
                      Para Derecho la duración de la Licenciatura es de 2 años 8 meses.<br/>

                      Requisitos para la jornada Super intensiva<br/>

                      -Aplica para alumnos inscritos a partir del 2018.<br/>

                      -Tener promedio mayor a 8 en Bachillerato.<br/>

                      -Documentación original y digital completa.<br/>

                      -No tener materias reprobadas y tener los pagos al corriente (en caso de tener avance curricular)<br/>

                      -Domiciliando se obtiene el 5% de descuento adicional.<br/>

                      -En caso de tener promedio inferior a 8 en Bachillerato pueden ingresar a esta jornada realizando un pago anual.<br/>

                      -Para alumnos de nuevo ingreso iniciarán con 2 materias por bimestre, a partir del tercer cuatrimestre (6o bimestre) tendrán 4 materias por bimestre.<br/>

                      Nota: Esta jornada no cubre el pago de asistencia, título, cédula e inglés,  en caso de que su esquema de pago actual lo cubra al cambiarse los perderá, se debe revisar con Finanzas para saber si habrá ajuste por estos conceptos.<br/>
                    </a>
                </div>

                <div class="pf card border-0 py-3 px-3" id="">
                    
                    <h6><b>¿Cómo ingreso al Sistema de Información Universitaria (SIU)?</b></h6>

                    <br/>

                    <a>
                      1.- Para acceder al sistema ingresa la liga siu-utl.scalahed.com<br/>
                      2.-Ingresa la matrícula y contraseña que se te hizo llegar por correo<br/>
                      3.-Solo al ingresar por primera vez, el sistema te pedirá actualizar tu contraseña. (Debe ser alfanumérica, contener mínimo 6, máximo 8 dígitos  y sin caracteres especiales)<br/>
                      4.-Al realizar este proceso podrás acceder al sistema<br/>
                      A continuación encontrarás un video tutorial de la información a la que tendrás acceso en SIU.<br/>
                    </a>
                </div>

                <div class="pf card border-0 py-3 px-3" id="">
                    
                    <h6><b>Pago de incorporación SEP</b></h6>

                    <br/>

                    <a>
                      Como normativa de la Secretaría de Educación Pública, cada fin de cuatrimestre se deben validar los estudios ante la Dirección General de Acreditación, Incorporación y Revalidación.<br/>

                      Para efectuar la gestión es necesario realizar el pago de incorporación que tiene un costo de $700 en licenciaturas y $800 en maestrías, deberá ser efectuado dentro de los 30 días siguientes al inicio del ciclo escolar. <br/>

                      Dicha normativa se encuentra en el acuerdo número 279 por el que se establecen los trámites y procedimientos relacionados con el reconocimiento de validez oficial de estudios del tipo superior.<br/>
                    </a>
                </div>


              </div>

            </div>
         </div>
      </div>