      <div class="container rounded-3 my-3 py-3 bg-white"> 

         <h1 class="text-center" id="certificacion">Preguntas frecuentes</h1>

         
          
          <div class="buscador">
            <h5> Buscar</h5>

          <input type="text" id="formulario" value="" class="form-control">
            
          <ul id="resultado" class="p-0">
          </ul>

          </div>
         <div class="contenedor">
            <ul class="ul container">
                <div class="row text-center">
                <div class="col"><li class="li activo" id="menuPreguntasFrecuentesTitulacion">Titulación</li></div>
                <div class="col"><li class="li" id="menuPreguntasFrecuentesServicioSocial">Servicio social</li></div>
                <div class="col"><li class="li" id="menuPreguntasFrecuentesControlDocumental">Control documental</li></div>
                <div class="col"><li class="li" id="menuPreguntasFrecuentesEscolares">Escolares</li></div>
                <div class="col"><li class="li" id="menuPreguntasFrecuentesTutoria">Éxito estudiantil</li></div>
                </div>
            </ul>

            <div class="subcontenedor">
              <!--Titulación-->   
              <div class="bloque activo" id="bloquePreguntasFrecuentesTitulacion">
                <div class="pf card border-0 py-3 px-3" id="spsuctsss" >

                <h6><b>¿Se puede solicitar un certificado total sin servicio social?</b></h6>
                <a>
                  Se puede trabajar el certificado total siempre y cuando se cumpla con:
                  <br/><br/>
                  -Documentación digital completa.<br/>
                  -Pago de documento o colegiatura final.<br/>
                  -Avance curricular  con el 100% y estatus de egresado.
                  <br/><br/>
                  El trámite de titulación quedará pausado hasta la liberación del servicio social, posteriormente el egresado  se tiene que comunicar para solicitar seguimiento.
                </a>

                </div>

                <div class="pf card border-0 py-3 px-3" id="ctdetdt" >

                <h6><b>¿Cuánto tiempo dura el trámite de titulación?</b></h6>
                <a>
                  El trámite dura un tiempo estimado de 8 meses. En ocasiones se puede extender por situaciones internas o externas.
                </a>

                </div>

                <div class="pf card border-0 py-3 px-3" id="qdenpetdt" >

                <h6><b>¿Qué documentación es necesaria para el trámite de titulación?</b></h6>
                <a>
                  Lo ideal es que el alumno tenga toda la documentación completa, no obstante, la documentación obligatoria es:
                  <br/><br/>
                  Antecedentes académicos (certificado de estudios). <br/>
                  Título (maestrías y doctorados). <br/>
                  Acta de nacimiento. <br/>
                  CURP.
                </a>

                </div>

                <div class="pf card border-0 py-3 px-3" id="ceecdpdt" >

                <h6><b>¿Cuál es el costo de la colegiatura final?</b></h6>
                <a>
                  El pago de la colegiatura final tiene un costo de $15,000.00 pesos mexicano Hay ocasiones en que el costo puede cambiar por alguna promoción o bien se tiene incluido en el paquete de inscripción.
                </a>

                </div>

                <div class="pf card border-0 py-3 px-3" id="qhsuanqrtdmam" >

                <h6><b>¿Qué hacer si un alumno no quiere realizar el trámite de cambio de programa de máster a maestría?</b></h6>
                <a>
                  Se informará al alumno que solo obtendrá un diploma con valor curricular. Solo con el cambio de programa a Maestría podrá obtener un grado académico
                </a>

                </div>
              </div>

              <!--ServicioSocial-->   
              <div class="bloque" id="bloquePreguntasFrecuentesServicioSocial">
         
                <div class="pf card border-0 py-3 px-3" id="RequisitosSS" >

                  <h6><b>¿Qué se necesita para realizar mi servicio social?</b></h6>
                  <a>
                    Se requieren cubrir los siguientes requisitos:</br></br>
                    - Contar con  el 70% de avance curricular</br>
                    - Documentación digital completa</br>
                  </a>
                
                </div>

                <div class="pf card border-0 py-3 px-3" id="DondeRealizarSS" >

                  <h6><b>¿Dónde se puede  realizar el servicio social?</b></h6>
                  <a>
                    Se puede llevar a cabo en una institución pública, puede ser en cualquier dependencia gubernamental, o en una empresa privada que esté legalmente constituida en territorio mexicano.
                  </a>

                </div>

                <div class="pf card border-0 py-3 px-3" id="ActividadesSS" >

                  <h6><b>¿Qué actividades se  realizan en el servicio social?</b></h6>
                  <a>
                    Las actividades a realizar las define la persona responsable de validar el servicio social.
                  </a>

                </div>

                <div class="pf card border-0 py-3 px-3" id="FirmasDocsSS" >

                  <h6><b>¿Quién firma los documentos de servicio social?</b></h6>
                  <a>
                    Aquella persona de la empresa o institución que tenga la facultad de dar fe del cumplimiento del servicio social; puede ser Director, Subdirector, Gerente, Recursos Humanos, entre otros.
                  </a>

                
                </div>

                <div class="pf card border-0 py-3 px-3" id="ListaEmpresasSS" >

                  <h6><b>¿Se cuenta  con algún listado de empresas en donde  se puedan ver las opciones para realizar el servicio social?</b></h6>
                  <a>
                    Si, se encuentra en el  aula virtual en el apartado de servicios escolares</br>
                    https://www.utel.edu.mx/servicio-social/
                  </a>

                </div>

                <div class="pf card border-0 py-3 px-3" id="conveniosProcedimientoSS" >

                  <h6><b>¿Cómo se da inicio al servicio social, una vez que se cubren los requisitos?</b></h6>
                  <a>
                    El alumno debera llenar el formulario de SERSO o bien enviar correo electrónico a serviciosocial@utel.edu.mx</br></br>
                    Se deberán enviar los siguientes datos:</br>
                    - Nombre completo</br>
                    - Matrícula</br>
                    - Nombre de la institución</br>
                    -Avance curricular
                  </a>

                </div>

                <div class="pf card border-0 py-3 px-3" id="ResponsableSS" >

                  <h6><b>¿Con quién me dirijo para registrar mi servicio social?</b></h6>
                  <a>
                    Dirígete con el área de servicio social; envía los siguientes datos:</br>
                    - Nombre completo</br>
                    - Matrícula</br>
                    - Nombre de la institución</br>
                    A la cuenta de serviciosocial@utel.edu.mx
                  </a>

                </div>

                <div class="pf card border-0 py-3 px-3" id="SSTrabajoLaborando" >

                  <h6><b>¿Puedo hacer el servicio social en la empresa en la que laboro?</b></h6>
                  <a>
                    Sí, siempre y cuando las actividades que realices sean distintas a las que desempeñas
                    laboralmente y en un horario diferente al laboral.
                  </a>

                </div>

                <div class="pf card border-0 py-3 px-3" id="HorasSS" >

                  <h6><b>¿Cuántas horas se tiene que cubrir para liberar el servicio social?</b></h6>
                  <a>
                    Se requiere cubrir 480 horas en un periodo no menor a 6 meses ni mayor a 2 años
                  </a>

                </div>

                <div class="pf card border-0 py-3 px-3" id="HorasMenosSS" >

                  <h6><b>¿Se pueden hacer menos horas de servicio social?</b></h6>
                  <a>
                    No, de acuerdo a Ley Reglamentaria del Artículo 5o. Constitucional, Relativo al Ejercicio de las Profesiones en el Distrito Federal y al Reglamento para la Prestación del Servicio Social, el tiempo mínimo de servicio social es de 6 meses y máximo de 2 años.
                  </a>

                </div>

                <div class="pf card border-0 py-3 px-3" id="excentos" >

                  <h6><b>¿Quienes quedan exentos del servicio social?</b></h6>
                  <a>
                    Trabajadores de gobierno :de acuerdo al Artículo 91 de la Ley Reglamentaria del Artículo 5o. Constitucional, Relativo al Ejercicio de las Profesiones en el Distrito Federal los servidores públicos están exentos de realizar el servicio social siempre y cuando tengan una antigüedad mínima de 6 meses en el puesto.
                    </br>

                    Adultos mayores de 60 años:de acuerdo al Artículo 52 de la Ley Reglamentaria del Artículo 5o. Constitucional, Relativo al Ejercicio de las Profesiones en el Distrito Federal los adultos mayores de 60 años están exentos de realizar el servicio social.
                    </br>
                    
                    Personas con discapacidad o enfermedad:de acuerdo al Artículo 52 de la Ley Reglamentaria del Artículo 5o. Constitucional, Relativo al Ejercicio de las Profesiones en el Distrito Federal las personas que padecen alguna enfermedad grave están exentos de realizar el servicio social
                    </br>
                  </a>

                </div>


                <div class="pf card border-0 py-3 px-3" id="VerificarConvenio" >
                  
                  <h6><b>¿Una empresa puede hacer convenios con Utel, para reclutar alumnos para servicio social?</b></h6>
                  <a>
                    Si, para ello el alumno deberá escribir al correo electrónico de serviciosocial@utel.edu.mx y proporcionar los datos de la empresa
                  </a>

                </div>

                <div class="pf card border-0 py-3 px-3" id="SSsinNotificar" >
                  
                  <h6><b>¿Qué pasa cuando un alumno no reporta el inicio del servicio social?</b></h6>
                  <a>
                    En este caso es muy probable que no se tome en cuenta  el tiempo. Parte de los requisitos, es que el alumno solicite los documentos de servicio social para registrar el inicio del mismo.
                    <br/>
                    Para casos delicados se debe canalizar directamente con el coordinador del área o bien que el alumno se comunique directamente con el área de servicio social  

                  </a>

                </div>

                <div class="pf card border-0 py-3 px-3" id="SSExpLaboral" >
                  
                  <h6><b>¿Se puede liberar el servicio social por experiencia laboral?</b></h6>
                  <a>
                    Si, siempre y cuando se lleve un mínimo de 6 meses en la empresa.
                  </a>

                </div>

                <div class="pf card border-0 py-3 px-3" id="EquivalenciaSS" >
                  
                  <h6><b>¿Si un alumno ingresó por equivalencia y liberó el servicio social, ya no se realiza?</b></h6>
                  <a>
                    El servicio social no se hace equivalente, se debe realizar nuevamente.
                  </a>

                </div>

                <div class="pf card border-0 py-3 px-3" id="RevalidaSS" >
                  
                  <h6><b>¿Si un alumno ya concluyó una licenciatura, y está en curso una segunda debe realizar servicio social?</b></h6>
                  <a>
                    Si, el servicio social es un requisito obligatorio para obtener un título, por lo tanto no se  puede tomar en cuenta debido a que se realizó para un programa diferente.
                  </a>

                </div>

                <div class="pf card border-0 py-3 px-3" id="PausaSS" >
                  
                  <h6><b>¿Se puede pausar el servicio social?</b></h6>
                  <a>
                    Sí, siempre y cuando la empresa en donde se realiza el servicio social esté de acuerdo; de lo contrario se tendrá que empezar nuevamente el proceso. 
                    No debe exceder de  2 años 
                  </a>

                </div>

                <div class="pf card border-0 py-3 px-3" id="SSUTEL" >
                  
                  <h6><b>¿Puedo hacer el servicio social en Utel?</b></h6>
                  <a>
                    ¿Se puede hacer el servicio social en Utel?
                    Si, actualmente tenemos disponible el programa coach universitario, el cual consiste en brindar acompañamiento y apoyo a los alumnos inscritos  
                  </a>

                </div>
              </div>

              <!--ControlDocumental-->   
              <div class="bloque" id="bloquePreguntasFrecuentesControlDocumental">
                  <div class="pf card border-0 py-3 px-3" id="" >
                    
                    <h6><b>¿Qué es una dictaminación de un documento?</b></h6>
                    <a>
                      Formalmente es el documento escrito que acredita y justifica el cumplimiento de un requisito de trámite procesal legislativo.
                    </a>    

                  </div>

                  <div class="pf card border-0 py-3 px-3" id="" >
                    
                    <h6><b>¿Qué documentos requiren legalización?</b></h6>
                    <a>
                      La documentación ya no se solicita legalizada a menos que se realice un trámite de equivalencia se solicitara el certificado parcial legalizado, muchos documentos ya tienen leyendas incluidas que no lo requieren.
                    </a>    

                  </div>

                  <div class="pf card border-0 py-3 px-3" id="" >
                    
                    <h6><b>¿Dónde puede legalizar un documento?</b></h6>
                      Los documentos expedidos por autoridades de cualquier Estado de la República Mexicana, deberán legalizarse en la Secretaría General de Gobierno de los Estados.

                      <br/><br/>
                      Mas información en el siguiente enlace:<br/>

                      http://dicoppu.segob.gob.mx/es/DICOPPU/Requisitos2

                      <div class="col-md-4 card py-3 px-3 border-0">
           
                        <a class="Botonmanual py-3 text-center border-0" href="http://dicoppu.segob.gob.mx/es/DICOPPU/Requisitos2"
                          target="_blank">Visitar web
                        </a>
                      </div>

                  </div>

                  <div class="pf card border-0 py-3 px-3" id="" >
                    
                    <h6><b>¿Otra persona puede recoger mi documentación?</b></h6>

                    Una persona puede recoger la documentación de un alumno siempre y cuando el conocido o familiar lleve una carta poder original firmada por el alumno/egresado y copias de una identificación oficial de ambos.

                  </div>

                  <div class="pf card border-0 py-3 px-3" id="qhssiucd" >
                    
                    <h6><b>¿Qué hacer si se identifica un CURP duplicado?</b></h6>
                    <a>
                        
                        Lo primero que se tiene que identificar es si ya se realizó una unificación ante RENAPO, en caso de que no, brindarle 
                        instrucciones al alumno para realizar el proceso y obtener la CURP con la leyenda de curp unificado.<br/><br/>
    
                        <img src="img/busqueda/curp.png" alt=""><br/><br/>

                        En caso de que el alumno realice este trámite posterior a la titulación es necesario realizar la corrección de sus documentos ya que no podrá tramitar su Cédula en la plataforma de la SEP, Lo primero que se tiene que identificar que CURP tiene su documentación oficial, en caso de ser incorrecto deberá cubrir el costo de corrección de documentos desde la plataforma SIU (Es un trámite por cada documento).
                      </a>    

                  </div>
              </div>  

              <!--Escolares-->
              <div class="bloque" id="bloquePreguntasFrecuentesEscolares">

                <div class="pf card border-0 py-3 px-3" id="">
                    
                    <h6><b>Constancia de estudios</b></h6>

                      Documento que hace constar que el alumno se encuentra actualmente inscrito en la universidad.<br/><br/>

                      Para realizar el trámite de constancia se necesita:<br/>

                      -Tener tu documentación física (acta de nacimiento y certificado de bachillerato)<br/>

                      -Tener tus pagos al corriente<br/>

                      <br/>

                      El alumno tiene que realizar el pago en siu-utl.scalahed.com en la pestaña de trámites en línea por $500 o con la referencia de sus pagos de colegiatura. Si realiza el pago por otro medio deberá solicitar el trámite a tutoría y enviar su comprobante de pago.<br/><br/>

                      Nota: Si realiza su pago en línea la solicitud será creada en automático, el trámite tiene una duración de 4 a 10 días hábiles aproximadamente.<br/><br/>
                      En ambos casos se recomienda dar aviso al área de tutoría para el seguimiento.<br/>

                </div>

                <div class="pf card border-0 py-3 px-3" id="">
                      
                    <h6><b>Documentos para revalidación.</b></h6>

                      Para alumnos con bachillerato en el extranjero es necesario realizar trámite de Revalidación sí es que aun no tiene Resolución de Revalidación de bachillerato.<br/><br/>

                      Los documentos en físico que necesitamos para dar de alta en SEP al alumno son:<br/>

                      Acta de nacimiento original si tu documento fue emitido en el extranjero debe tener apostilla o legalización.<br/>

                      ● Resolución de Revalidación de bachillerato emitido por la Secretaría de Educación Pública. <br/>
                      ● Copia de identificación (INE o Pasaporte)<br/>
                      En caso de no tener *Resolución de Revalidación es necesario proporcionar para trámite.<br/>
                      ● Certificado o diploma de bachillerato o equivalente legalizado o apostillado.<br/>
                      ● Historia académica (tira de materias con calificaciones obtenidas)<br/>
                      ● Plan de estudio de bachiller<br/>
                      ● Carta poder llena con firma autógrafa.<br/>
                      En caso de que los documentos sean en idioma diferente al español, traducción de Perito traductor.<br/>
                      ● Realizar pago gestión de trámite $3,000.00<br/>
                      ● Copia de identificación (INE o Pasaporte)<br/><br/>

                      El pago lo realiza en la página de siu-utl.scalahed.com en la etiqueta de tramites en línea, si realiza el pago por otro medio el alumno solicita el trámite a tutoría enviando su comprobante de pago.

                </div>

                <div class="pf card border-0 py-3 px-3" id="">
                      
                  <h6><b>¿Se puede agregar a una constancia de termino algo referente a la titulación?</b></h6>

                  Se puede agregar una leyenda referente a que la titulación del alumno esta en curso, siempre y cuando el alumno cuente con los requisitos y cuente con el certificado total emitido (el primer documento de la titulación.
                  <br/><br/>
                  Primero el alumno tiene que solicitar el documento y posterior el apoyo para agregarle la leyenda.

                </div>

                <div class="pf card border-0 py-3 px-3" id="">
                      
                  <h6><b>Alumno no recibe documento solicitado</b></h6>

                  Primero tenemos que verificar que en el apartado de documentos QR emitidos dentro de SIU, en caso de que el documento ya se encuentre elaborado, verificar si el correo del alumno en la plataforma es correcto.
                  <br/><br/>
                  En caso de que sea correcto verificar si no se encuentra en no deseados o spam dentro de su correo, si el alumno indica que no lo tiene, se deberá solicitar el reenvío del documento.

                </div>

                <div class="pf card border-0 py-3 px-3" id="">
                      
                  <h6><b>Se puede solicitar un documento en físico</b></h6>

                  Si, se puede solicitar la elaboración de la documentación que emite escolares en físico, siempre y cuando el documento que se solicitó no este incluido en algún paquete o promoción ya que estos documentos solo se entregan en digital.
                  <br/><br/>
                  En caso de que el alumno requiera el documento en físico tendrá que cubrir el monto en su plataforma.
                 
                </div>

              </div>

              <!--Tutoria-->   
              <div class="bloque" id="bloquePreguntasFrecuentesTutoria">

                <div class="pf card border-0 py-3 px-3" id="">
                  
                  <h6><b>¿Cómo realizo un cambio de Licenciatura?</b></h6>
                   <a>
                    En este procedimiento el alumno solicita cambiar a una carrera diferente de la que inició, para realizar el trámite se necesita el formato de cambio de carrera firmado y el pago por la gestión del trámite con costo de $1500.<br/><br/>

                    Si ya cuenta con avance curricular y la nueva carrera tiene materias que ya cursaste se hará una equivalencia interna y no tendrá que cursarlas nuevamente.<br/><br/>

                    Para iniciar el trámite el alumno realiza el pago en trámites en línea en la página de siu-utl.scalahed.com y manda su formato a su tutor.<br/><br/>

                    Nota: La solicitud de cambio de carrera se debe realizar 2 semanas antes del inicio del bimestre.<br/><br/>
                  </a>
                </div>

                <div class="pf card border-0 py-3 px-3" id="">
                    
                  <h6><b>¿Cómo puedo ver el avance curricular?</b></h6>
                  
                    Primero debe entrar a siu-utl.scalahed.com<br/>
                    En el apartado de "Programas inscritos" en la parte inferior encontrará la opción de avance curricular.<br/>
                    <img src="img/busqueda/avance.png" alt=""><br/>
                    En el mismo apartado también encontrará su historial académico, las calificaciones se actualizan aproximadamente 2 semanas después del cierre del aula virtual.

                </div>

                <div class="pf card border-0 py-3 px-3" id="">
                    
                    <h6><b>Requisitos de la jornada Super intensiva para Licenciatura</b></h6>
                   
                      La duración de la Licenciatura en Jornada Super Intensiva es de 2 años 2 meses.<br/>
                      Para Derecho la duración de la Licenciatura es de 2 años 8 meses.<br/>

                      Requisitos para la jornada Super intensiva<br/>

                      ● Aplica para alumnos inscritos a partir del 2018.<br/>

                      ● Tener promedio mayor a 8 en Bachillerato.<br/>

                      ● Documentación original y digital completa.<br/>

                      ● No tener materias reprobadas y tener los pagos al corriente (en caso de tener avance curricular)<br/>

                      ● Domiciliando se obtiene el 5% de descuento adicional.<br/>

                      ● En caso de tener promedio inferior a 8 en Bachillerato pueden ingresar a esta jornada realizando un pago anual.<br/>

                      ● Para alumnos de nuevo ingreso iniciarán con 2 materias por bimestre, a partir del tercer cuatrimestre (6o bimestre) tendrán 4 materias por bimestre.<br/>

                      Nota: Esta jornada no cubre el pago de asistencia, título, cédula e inglés,  en caso de que su esquema de pago actual lo cubra al cambiarse los perderá, se debe revisar con Finanzas para saber si habrá ajuste por estos conceptos.<br/>
                    
                </div>

                <div class="pf card border-0 py-3 px-3" id="">
                    
                  <h6><b>¿Cómo ingreso al Sistema de Información Universitaria (SIU)?</b></h6>

                    1.- Para acceder al sistema ingresa la liga siu-utl.scalahed.com<br/>
                    2.-Ingresa la matrícula y contraseña que se te hizo llegar por correo<br/>
                    3.-Solo al ingresar por primera vez, el sistema te pedirá actualizar tu contraseña. (Debe ser alfanumérica, contener mínimo 6, máximo 8 dígitos  y sin caracteres especiales)<br/>
                    4.-Al realizar este proceso podrás acceder al sistema<br/>
                    A continuación encontrarás un video tutorial de la información a la que tendrás acceso en SIU.<br/>
                  
                </div>

                <div class="pf card border-0 py-3 px-3" id="">
                    
                    <h6><b>Pago de incorporación SEP</b></h6>

                      Como normativa de la Secretaría de Educación Pública, cada fin de cuatrimestre se deben validar los estudios ante la Dirección General de Acreditación, Incorporación y Revalidación.<br/>

                      Para efectuar la gestión es necesario realizar el pago de incorporación que tiene un costo de $700 en licenciaturas y $800 en maestrías, deberá ser efectuado dentro de los 30 días siguientes al inicio del ciclo escolar. <br/>

                      Dicha normativa se encuentra en el acuerdo número 279 por el que se establecen los trámites y procedimientos relacionados con el reconocimiento de validez oficial de estudios del tipo superior.<br/>
                </div>

              </div>

            </div>
         </div>
      </div>