<div class="modal fade imagen-ampliada" id="imagenModalguia" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-g"> 
    <div class="modal-content">
      <div class="modal-body">
        <img src="img/Recoleccion/guia.PNG" class="img-fluid" alt="Imagen Ampliada">
      </div>
    </div>
  </div>
</div>

<div class="modal fade imagen-ampliada" id="imagenModalguia2" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg"> 
    <div class="modal-content">
      <div class="modal-body">
        <img src="img/Recoleccion/guia2.png" class="img-fluid" alt="Imagen Ampliada">
      </div>
    </div>
  </div>
</div>

<div class="modal fade imagen-ampliada" id="imagenModalguia3" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-g"> 
    <div class="modal-content">
      <div class="modal-body">
        <img src="img/Recoleccion/guia3.png" class="img-fluid" alt="Imagen Ampliada">
      </div>
    </div>
  </div>
</div>

<div class="modal fade imagen-ampliada" id="imagenModalguia4" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg"> 
    <div class="modal-content">
      <div class="modal-body">
        <img src="img/Recoleccion/guia4.png" class="img-fluid" alt="Imagen Ampliada">
      </div>
    </div>
  </div>
</div>

<div class="modal fade imagen-ampliada" id="imagenModal3" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg"> 
    <div class="modal-content">
      <div class="modal-body">
        <img src="img/Recoleccion/cartapoder1.PNG" class="img-fluid" alt="Imagen Ampliada">
        <a href="docs/Recoleccion/CARTA PODER REV.docx" download="" class="Botonmanual row py-2 mx-5 text-center justify-content-center">Descargar formato</a>
      </div>
    </div>
  </div>
</div>

<div class="modal fade imagen-ampliada" id="imagenModal2" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg"> 
    <div class="modal-content">
      <div class="modal-body">
        <img src="img/Recoleccion/cartapoder2.PNG" class="img-fluid" alt="Imagen Ampliada">
        <a href="docs/Recoleccion/Formato Utel_Carta Poder.docx" download="" class="Botonmanual row py-2 mx-5 text-center justify-content-center">Descargar formato</a>
      </div>
    </div>
  </div>
</div>

<div class="container rounded-3 py-3 bg-white">

    <h1 class="text-center" id="certificacion">Control documental</h1>
    <div class="contenedor ">
      <ul class="ul container">
        <div class="row text-center">
          <div class="col">
            <li class="li activo">Recolección de documentos</li>
          </div>
          <div class="col">
            <li class="li">Archivo</li>
          </div>
          <div class="col">
            <li class="li">Dictaminación</li>
          </div>
          <div class="col">
            <li class="li">Correspondencia escolar</li>
          </div>
          <div class="col">
            <li class="li">Alianzas</li>
          </div>
        </div>
        
      </ul>
      <div class="subcontenedor">

        <!--Documentación Utel-->
        <div class="bloque activo m-0 p-3" id="bloqueDocUtel">

          <div class="border border-0 card mt-1">

            <h4><b>Recolección de documentos</b></h4>

            <p style="text-align: justify;">
             Equipo encargado de recolectar y validar documentos digitales y físicos de todo estudiante que no ha completado su expediente escolar.
            <br/>
             <b> Proceso general:</b> el asesor contacta al alumno para obtener el documento faltante, lo carga y válida en el sistema SIU para completar el expediente escolar. 
            </P>
            
            <h5>Características y condiciones de documentos:</h5>

            <p style="text-align: justify;">
            ● El alumno debe entregar documentos digitales, excepto para ingresos por equivalencia o revalidación, que necesitan documentos físicos originales.
            <br/>
            ● Solo se aceptarán escaneos en formato PDF del documento original, que estén legibles, en buen estado, y muestren ambos lados (aún cuando esté en blanco en el reverso) con los 4 bordes completos. No se admitirán fotografías en formato PDF ni capturas de aplicaciones de celular o fotos de fotos.
            </P>

            <div class="row row-cols-1 row-cols-md-2 g-4">
              <div class="col">
                <div class="card border-customrec h-100">
                  <div class="card-header border-customrec">
                    Documentos Digitales para Licenciatura:
                  </div>
                  <div class="card-body">                   
                    <p>
                    ● Acta de nacimiento
                    <br/>
                    ● Certificado de bachillerato (En todos los certificados dice  “certificado o certifica”)
                    </P>
                  </div>
                </div>
              </div>
              <div class="col">
                <div class="card border-customrec h-100">
                  <div class="card-header border-customrec">
                    Documentos Digitales para Maestría:
                  </div>
                  <div class="card-body">
                    <p>
                    ● Acta de nacimiento
                    <br/>
                    ● Certificado de licenciatura (En todos los certificados dice  “certificado o certifica”)
                    <br/>
                    ● Título de licenciatura (Se aceptan copias 100% legibles)
                    </P>
                  </div>
                </div>
              </div>

              <div class="col">
                <div class="card border-customrec h-100">
                  <div class="card-header border-customrec">
                    Documentos Digitales para Doctorado:
                  </div>
                  <div class="card-body">
                    <p>
                    ● Acta de nacimiento
                    <br/>
                    ● Certificado de Maestría (En todos los certificados dice  “certificado o certifica”)
                    <br/>
                    ● Título de grado (Se aceptan copias 100% legibles)
                    </P>
                  </div>
                </div>
              </div>
              <div class="col">

                <div class="card border-customrec h-100">
                  <div class="card-header border-customrec">
                    Para Utel LATAM:
                  </div>
                  <div class="card-body">
                    <p>
                    Documentos Digitales para Dictamen Técnico (los documentos deben estar notariados):
                    <br/>
                    ● Acta de nacimiento/partida de nacimiento (No es obligatoria)
                    <br/>
                    ● Certificado/diploma/título de bachiller o documento equivalente. 
                    <br/>
                    ● Identificación oficial o DNI
                    </P>
                  </div>
                </div>
              </div>
            </div>

            <br/><br/>
            <h5>¿Que es el tipo de Ingreso?</h5>
            <p>Se asigna según la situación escolar y antecedentes académicos de cada alumno, incluyen: regular, equivalencia de materias, revalidación de estudios o dictamen técnico.</p>
            
            <div class="row row-cols-1 row-cols-md-2 g-4">
              <div class="col">
                <div class="card border-customrec h-100">
                  <div class="card-header border-customrec">
                    Regular:
                  </div>
                  <div class="card-body">                   
                    <p>
                    Proceso estándar mediante el cual los estudiantes solicitan y son admitidos en programas académicos regulares que no piensan hacer equivalencia de materias o revalidación. Esto implica seguir los procedimientos y requisitos establecidos por la universidad.
                    </P>
                  </div>
                </div>
              </div>
              <div class="col">
                <div class="card border-customrec h-100">
                  <div class="card-header border-customrec">
                    Equivalencia de materias:
                  </div>
                  <div class="card-body">
                    <p>
                    Trámite mediante el cual la Autoridad Educativa o la Institución declara equiparables entre sí estudios realizados dentro del Sistema Educativo Nacional.
                    </P>
                  </div>
                </div>
              </div>

              <div class="col">
                <div class="card border-customrec h-100">
                  <div class="card-header border-customrec">
                    Revalidación de estudios:
                  </div>
                  <div class="card-body">
                    <p>
                    Trámite mediante el cual la autoridad educativa otorga validez oficial a estudios realizados en el extranjero, siempre y cuando sean equiparables con estudios que se impartan en el Sistema Educativo Nacional.
                    </P>
                  </div>
                </div>
              </div>
              <div class="col">

                <div class="card border-customrec h-100">
                  <div class="card-header border-customrec">
                    Dictamen técnico:
                  </div>
                  <div class="card-body">
                    <p>
                    Finalidad de reconocer estudios de Educación Media Superior y Superior realizados en el extranjero, únicamente con fines académicos para facilitar el ingreso de alumnos a escuelas mexicanas que imparten planes de estudios con reconocimiento de validez oficial.
                    </P>
                  </div>
                </div>
              </div>
            </div>
            
            <br/>
            <h5><b>¿Qué es la legalización?</b></h5>

            <p style="text-align: justify;">
            Es el trámite que consiste en autenticar las firmas que contiene el certificado de estudios, este trámite se lleva a cabo en oficinas de gobierno del estado donde se emitió el documento.
            </P>
                
            <div class="accordion accordion-flush" id="accordionFlushExample">
              <h5><b>Documentos para trámite equivalencia y revalidación.</b></h5>
              <div class="accordion-item">
                <h2 class="accordion-header">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapsereva" aria-expanded="false" aria-controls="flush-collapsereva">
                    Documentos digitales y físicos para revalidación
                  </button>
                </h2>
                <div id="flush-collapsereva" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                  <div class="accordion-body">
                      <p style="text-align: justify;">
                      ● Acta de nacimiento/partida de nacimiento original <br/>
                      ● Certificado/diploma/título de bachiller o equivalente.<br/>
                      ● Antecedentes de Secundaria (Boletas de calificaciones y boleta de notas)<br/>
                      ● Carta poder (Solo aplica para maestría)<br/>
                      <div class="container mt-5">
                        <div class="row row-cols-xl-1 row-cols-xl-4 row-cols-md-4">
                          <div class="col">
                            <img src="img/Recoleccion/cartapoder1.PNG" class="img-fluid" alt="Imagen" data-bs-toggle="modal" data-bs-target="#imagenModal3">
                          </div>                
                        </div>
                      </div>
                      </P>
                  </div>
                </div>
              </div>

              <div class="accordion-item">
                <h2 class="accordion-header">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseeq" aria-expanded="false" aria-controls="flush-collapseeq">
                    Documentos digitales y físicos para equivalencia de materias
                  </button>
                </h2>
                <div id="flush-collapseeq" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                  <div class="accordion-body">
                    <p style="text-align: justify;">
                      ● Acta de nacimiento<br/>
                      ● Certificado total de bachillerato legalizado (si aplica) (En todos los certificados dice  “certificado o certifica”)<br/>
                      ● Certificado parcial o total de licenciatura legalizado (si aplica) (En todos los certificados dice  “certificado o certifica”)<br/>
                      ● Carta poder con firma autógrafa (llenar la parte de firma del otorgante y nombre de otorgante, sin fecha, nada adicional (formato legible))

                      <div class="container mt-5">
                        <div class="row row-cols-xl-1 row-cols-xl-4 row-cols-md-4">
                          <div class="col">
                            <img src="img/Recoleccion/cartapoder2.PNG" class="img-fluid" alt="Imagen" data-bs-toggle="modal" data-bs-target="#imagenModal2">
                          </div>                
                        </div>
                      </div>
                    </P>
                  </div>
                </div>
              </div>
            </div> 

            <div class="accordion accordion-flush" id="accordionFlushExample">
              <h5><b>Opciones de entrega de documentos físicos </b></h5>
              <div class="accordion-item">
                <h2 class="accordion-header">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                    Asistirá de forma presencial
                  </button>
                </h2>
                <div id="flush-collapseOne" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                  <div class="accordion-body">
                    
                    <div class="row">
                      <div class="col col-mb-6">
                        <p class="text-center" id="ubi">
                          En caso de que desees asistir de forma presencial, te atenderemos de lunes a viernes de 9:00 am a 5:00 pm en nuestras instalaciones en UTEL, ubicadas en:

                          Calzada La Naranja 159, entre calle Esfuerzo Nacional y calle 8,<br />
                          Fraccionamiento Industrial Alce Blanco, Naucalpan, Estado de México, C.P. 53370.<br />
                        </p>

                        <a class="Botonmanual row py-2 px-2 text-center justify-content-center" href="#ubi"
                          onclick="copiarAlPortapapeles()">Copiar</a>
                        <script>
                          function copiarAlPortapapeles(id_elemento) {
                            var aux = document.createElement("input");
                            aux.setAttribute("value", "Calzada La Naranja  159, entre calle Esfuerzo Nacional y calle 8,Fraccionamiento Industrial Alce Blanco, Naucalpan, Estado de México, C.P. 53370.");
                            document.body.appendChild(aux);
                            aux.select();
                            document.execCommand("copy");
                            document.body.removeChild(aux);
                          }
                        </script>
                        <a href="https://goo.gl/maps/yLxqfZMPLEM2" class="Botonmanual row py-2 px-2 text-center justify-content-center"
                          target="_blank">Ver ubicación en maps</a></br>
                      </div>

                      <div class="col col-mb-6">
                        <img class="rounded-3 d-block w-100" src="img/escolares/utelplantel.jpg" alt="">
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="accordion-item">
                <h2 class="accordion-header">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                    ¿Requieres enviarlos a la oficina Utel?
                  </button>
                </h2>
                <div id="flush-collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                  <div class="accordion-body">
                    Cuando el ingreso es por equivalencia de materias, puedes solicitar una guía prepagada de Redpack para el envío de documentos. Sin embargo, si el ingreso es por revalidación de estudios y no te encuentras en México, el costo del envío corre por tu cuenta.
                  </div>
                </div>
              </div>
            </div>

          </div>
          
          <br/>
          
          <div>
            <div class="card border-0 py-3 px-3" >
              <h5 class="text-center" ><b>Tabla de correspondencia de estudios</b></h5>
              <div class="framedoc m-5">
              <iframe src="docs/doc/tablacorrespondencia.pdf" width="100%" height="680px"></iframe>

              </div>
            </div>
          </div>
          
        </div>

        <!--Archivo-->
        <div class="bloque" id="bloqueTiposiIngreso">
          <div class="border border-0 card mt-1">

            <h4><b>Archivo</b></h4>
            
            <p style="text-align: justify;">
             El equipo de Archivo se encarga de la validación física y la correcta integración, registro, resguardo y control de la documentación que conforma el expediente del estudiante de forma física en Utel.
            <br/><br/>
              Funciones que realiza:<br/>
              ● Recepción y Validación de documentos físico en SIU<br/>
              ● Escaneo de documentos físicos<br/>
              ● Préstamo y devoluciones de documentos físicos<br/>
              ● Recepción y envío de documentos a las alianzas ÚNICA, UNAG, UVE
            </P>
            
            <div class="row row-cols-1 row-cols-md-2 g-4">

              <div class="col">
                <h5><b>Proceso de prestamo</b></h5>
                  <p style="text-align: justify;">
                  <img src="img/Recoleccion/infoprestamo.png" class="img-fluid">
                  </P>
              </div>
              <div class="col">
                <h5><b>Proceso de devolución:</b></h5>
                <img src="img/Recoleccion/infodevolucion.png" class="img-fluid">
              </div>
            </div>

            

            

            <h5><b>Opciones de entrega de préstamo de documento físico o devolución de documento físico</b></h5>

            <p style="text-align: justify;">
            ● Asistirás de forma presencial<br/>
            En caso de que desees asistir de forma presencial, te atenderemos de lunes a viernes de 9:00 am a 5:00 pm en nuestras instalaciones en UTEL, ubicadas en la Calle Calz. de la Naranja 159, Alce Blanco, 53370 Naucalpan de Juárez, Méx.
            <br/><br/>
            ● Asiste tercera persona<br/>
            La tercera persona deberá traer consigo una copia de su INE, una copia del INE del alumno y una carta poder con firma autógrafa para poder entregar los documentos.
            <br/><br/>
            ● Requieres envío a domicilio
            Si prefieres el envío por paquetería, te recomendamos contratar un servicio de mensajería de tu elección. Por favor, asegúrate de incluir tus datos como remitente y dirigir el paquete a Josue Moises Pacheco como destinatario. La dirección completa es: Calle Calz. de la Naranja 159, Alce Blanco, 53370 Naucalpan de Juárez, Méx. (Oficinas, piso 1)
            La guía deberá mandarla al gestor que le brinde el seguimiento.
            Ejemplo de Guías:
            </P>

            <div class="border-3 card card-aviso mb-3 justify-content-center ">
              <div class="card-body">
                <p class="card-text">
                  Es importante verificar que las guías tengan buena calidad ya que la información dentro del documento se escanea por parte del departamento y la paquetería.
                </p>
              </div>
            </div>

            
            <div class="container mt-5">
              <div class="row row-cols-1 row-cols-md-4 g-4 ">
                <div class="col text-center">
                  <b>DHL</b>
                  <img style="cursor: zoom-in;" src="img/Recoleccion/guia.PNG" class="img-fluid botonejemdoc" alt="Imagen" data-bs-toggle="modal" data-bs-target="#imagenModalguia">
                </div>
                <div class="col text-center">
                  <b>FedEx</b>
                  <img style="cursor: zoom-in;"  src="img/Recoleccion/guia2.png" class="img-fluid botonejemdoc" alt="Imagen" data-bs-toggle="modal" data-bs-target="#imagenModalguia2">
                </div>
                <div class="col text-center">
                  <b>99 minutos</b> <br/>
                  <img style="cursor: zoom-in;" src="img/Recoleccion/guia3.png" class="img-fluid botonejemdoc" alt="Imagen" data-bs-toggle="modal" data-bs-target="#imagenModalguia3">
                </div>
                <div class="col text-center">
                  <b>99 minutos</b>
                  <img style="cursor: zoom-in;" src="img/Recoleccion/guia4.png" class="img-fluid botonejemdoc" alt="Imagen" data-bs-toggle="modal" data-bs-target="#imagenModalguia4"></div>
                </div>

                
                
            </div>
          </div>

        </div>

        <!--Dictaminación-->
        <div class="bloque" id="bloqueLegalizacion">

          <div class="card border-0 mb-3">
              <div class="row g-0">

                <h4><b>¿Qué es la dictaminación?</b></h4>

                <p style="text-align: justify;">
                  Proceso institucional para corroborar que los elementos de forma y validez del certificado de estudios del alumno cumplan con los lineamientos establecidos para su registro, integración y resguardo.
                  <br/><br/>
                  Para realizar este proceso es importante que los documentos se encuentren escaneados legibles, que se visualicen las 4 esquinas, completos,  que estén todas las hojas que integran el Certificado de Estudios, siempre por ambos lados. 
                  <br/><br/>
                  Si los documentos digitales no son ilegibles se rechazan y se piden escaneos correctos. Apoyándonos con el área de Recolección 
                </P>
                
                <h5><b>Proceso</b></h5>

                <p style="text-align: justify;">
                  ● Se revisan y analizan formatos, estructura, logos, sellos, firmas, papel, folios, materias, promedios, duración de los estudios, claves de centro de trabajo, lectura de QR y se verifica información en las ligas oficiales. 
                  <br/><br/>
                  ● Si toda la información del documento es correcta se realiza la Dictaminación (proceso institucional interno), aplica desde el inicio para los alumnos de ingreso regular o dictamen técnico. 
                  <br/><br/>
                  ● En caso de detectar alguna inconsistencia después de haber agotado los recursos se solicita la Dictaminación externa (DAPO) con el fin de que la Autoridad Educativa ratifique la validez del antecedente académico. 
                  <br/><br/>
                   NOTA: En el caso de las equivalencias y revalidaciones se realiza la dictaminación hasta contar el Dictamen emitido por SEP.
                  <br/><br/>
                  ●En los 4 tipos de ingreso (regular, dictamen técnico, equivalencia y revalidación) debe estar el Certificado de estudios como dictaminado para que se inicie su proceso de titulación.

                </P>
                <div class="table-responsive">
                  <table class="table tabla-verde">
                    <thead>
                      <tr>
                        <th>Flokzu</th>
                        <th>Significado</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>ESPERA DE DICTAMINACIÓN DE DOC</td>
                        <td>La Autoridad Educativa está haciendo la revisión</td>
                      </tr>
                      <tr>
                        <td>ESPERA REPLICA/ACLARACIÓN</td>
                        <td>Cuando ya le notificamos al alumno y estamos en espera de la réplica</td>
                      </tr>
                      <tr>
                        <td>FINALIZADO APLICADO</td>
                        <td>Ya se aplicó la Baja</td>
                      </tr>
                      <tr>
                        <td>CANCELADO/RECHAZADO POR VALIDACIÓN EXTERNA</td>
                        <td>Cuando la autoridad determinó que el documento es auténtico</td>
                      </tr>

                    </tbody>
                  </table>
                </div>
                <div class="card border-0 mb-3 py-2" style="display: block;">

                          <h4 class="text-center" >Aviso para el alumno</h4>
                          
                          <img class="mx-auto d-block img-fluid" src="img/Recoleccion/infoalumnos.PNG">
                          
                        </div>  

                


                <!--
                <div class="col-md-8">
                  <div class="card-body">

                    <h5 class="card-title text-center">¿Qué es la legalización?</h5>
                    <p class="card-text" style="text-align: justify;">
                      Es el trámite que consiste en autenticar las firmas que contiene el certificado de estudios, este trámite se lleva a cabo en oficinas de gobierno del estado donde se emitió el documento.
                    </p>

                    <h5 class="card-title text-center">¿Qué documentos requieren de legalización?</h5>


                    <p class="card-text">

                      Los documentos que NO cuenten con alguno de estos requerimientos:</br>
                    <ul>

                      <li>
                        La leyenda de "Este documento es válido en toda la República Mexicana y no requiere tramites
                        adicionales de legalización"
                      </li>
                      <li>
                        Los documentos que tengan escrito correspondiente al Artículo 60 de la Ley General de
                        Educación. Los estudios realizados dentro del sistema educativo nacional tendrán validez en
                        toda la República.
                      </li>
                      <li>
                        Los documentos que tengan el sello del poder ejecutivo
                      </li>
                    </ul>
                    </p>
                    <h5 class="card-title text-center">¿Qué instituciones no requieren de legalización? </h5>
                    <p class="card-text">
                      Los documentos que NO cuenten con alguno de estos requerimientos:</br>
                    <ul>
                      <li>
                        UNAM
                      </li>
                      <li>
                        IPN
                      </li>
                      <li>
                        UAM
                      </li>
                    </ul>
                    </p>
                  </div>

                  <div class="border-3 card card-importante mx-3 mb-5">
                    <div class="card-body">
                      <strong class="">Importante</strong>
                      <p class="card-text" style="text-align: justify;">
                        Es importante resaltar que los documentos que solicitamos ya no son requeridos para legalizar
                        en caso de ingresos regulares, solo aplica para
                        certificados parciales para trámites de equivalencia; en caso de que se requiera la
                        legalización se le indica al alumno.
                      </p>
                    </div>
                  </div>
                </div>

                <div class="col-md-4">
                  <img loading="lazy" style="width:  300px" src="img/Lega.png ">
                </div>
                -->
              </div>
            </div>
        </div>

        <!--Correspondecia escolar-->
        <div class="bloque" id="bloqueArchivo">

          <div class="card border-0 py-3 px-3" > 

            <h4><b>Correspondecia escolar</b></h4>

            <p style="text-align: justify;">
              El área de correspondencia escolar lleva a su cargo dos procesos:
            </P>

            <h5><b>Envío de documentos</b></h4>

            <p style="text-align: justify;">
              Se encarga de gestionar el envío de paquetes con documentos emitidos por Utel dirigidos a alumnos, ex alumnos y egresados. En este sentido, se asegura la entrega adecuada de los paquetes y documentos, para atender las siguientes solicitudes:<br/>
              
              <br/>
              
              Devolución de documentos por egreso <br/>
              ● Requiere previa confirmación de datos de envío<br/>
              ● Proceso de certificación y titulación finalizado<br/>
              ● Proceso de conformación de expediente finalizado<br/>

              <br/>

              Documentos físicos emitidos por el área de servicios escolares <br/>
              (Constancias, credenciales, Historial académico, Avance currícular, Carta pasante, Certificado parcial, Credencial exalumno)<br/>
              ● Requiere de solicitud previa<br/>

              <br/>

              Préstamo y devolución de documentos por baja <br/>
              ● Requiere solicitud previa<br/>
              ● Requiere que el alumno/ex alumno proporcione la guía de paquetería<br/>
            </P>

            <div class="border-3 card card-aviso mx-3 mb-3 justify-content-center ">
              <div class="card-body">
                <p class="card-text">
                  En envíos donde la guía es generada por UTEL, es importante proporcionar la  información actualizada del domicilio y datos de contacto (teléfono y correo electrónico).
                </p>
              </div>
            </div>

            <h5><b>Recepción de paquetería</b></h4>

            <p style="text-align: justify;">
              Se encarga de recibir todos los documentos que los alumnos  envían a través de paquetería, dirigidos a la Dirección de servicios escolares y regulación. Principalmente para  la conformación de expediente escolar u otros fines. Una vez identificada el área de destino, se procede con la entrega al personal correspondiente.
            </P>
              <h4><b>¿Qué es la dictaminación?</b></h4>
            
            <p style="text-align: justify;">
              Proceso institucional para corroborar que los elementos de forma y validez del certificado de estudios del alumno cumplan con los lineamientos establecidos para su registro, integración y resguardo.
              <br/><br/>
              Para realizar este proceso es importante que los documentos se encuentren escaneados legibles, que se visualicen las 4 esquinas, completos,  que estén todas las hojas que integran el Certificado de Estudios, siempre por ambos lados. 
              <br/><br/>
              Si los documentos digitales no son ilegibles se rechazan y se piden escaneos correctos. Apoyándonos con el área de Recolección 

            </P>

            <h4 class="text-center"><b>Proceso</b></h4>

            <div class="row row-cols-1 row-cols-xl-1 row-cols-md-1 g-4 my-1">
              <div class="col">
                <div class="card border-0 mb-3" >
                    <div class="row g-0">

                      <div class="col-lg-5">
                        <img class="mx-auto d-block img-fluid" src="img/Recoleccion/dicdocs.png">                        
                      </div>

                      <div class="col-lg-7">
                        <div class="card border-0 mb-3 py-2" style="display: block;">

                          <h4 class="text-center" >Constancia de autenticidad</h4>
                          
                          <img class="mx-auto d-block img-fluid" src="img/Recoleccion/acuse-autenticacion.PN">
                          
                        </div>

                        <div class="card border-0 mb-3 py-2" style="display: block;">

                          <h4 class="text-center" >Aviso para el alumno</h4>
                          
                          <img class="mx-auto d-block img-fluid" src="img/Recoleccion/infoalumnos.PNG">
                          
                        </div>  
                      </div>

                      <div class="border-3 card card-aviso mx-3 mb-3 justify-content-center ">
                        <div class="card-body">

                          <p class="card-text">
                            DAPO: es el el nombre de la solicitud proceso de detección de documentación que carece de validez oficial.
                          </p>
                        </div>
                      </div>

                      
                    </div>
                </div>
              </div>
            </div>
            -->
          </div>

        </div>

        <!--Alianzas-->
        <div class="bloque m-0" id="bloqueProcesosCD">

          <div class="card border-0 py-3" > 

            <h4>Recolección de documentos<b></b></h4>

            <p style="text-align: justify;">
              Equipo encargado de recolectar y validar documentos digitales y físicos de todo estudiante que no ha completado su expediente escolar.
              <br/>
              <b>Proceso general:</b> El asesor contacta al alumno para solicitar documentos digitales y físicos para completar el expediente escolar.
            </P>

            <h5><b>Características y condiciones de documentos: </b></h4>
            <p>
              Solo se aceptarán escaneos en formato PDF del documento original, que estén legibles, en buen estado, y muestren ambos lados (aún cuando esté en blanco en el reverso) con los 4 bordes completos. No se admitirán fotografías en formato PDF ni capturas de aplicaciones de celular o fotos de fotos.
            </p>

            <h5><b>Documentos digitales y físicos que se requieren: </b></h4>
            
            <div>
              <div class="row row-cols-1 row-cols-md-2 g-4">
                <div class="col">
                  <div class="card h-100">
                    <div class="card-header">
                    <b>UNAG Maestría</b>
                    </div>
                    <div class="card-body">                   
                      ● Acta de nacimiento original y 3 copias.<br/>      
                      ● Certificado total de licenciatura original y 3 copias.<br/>
                      ● 3 Copias del título profesional de licenciatura por ambos lados.<br/>
                      ● 3 Copias de cédula profesional de licenciatura por ambos lados.<br/>
                      ● 2 Copias del CURP actualizada.<br/>
                      ● Copia de la identificación oficial por ambos lados.<br/>
                      ● Copia del comprobante de domicilio no mayor a 3 meses<br/>
                      ● Ficha de inscripción de ingreso a posgrado autorizado por UNAG original con firma autógrafa y fotografía actualizada.<br/>
                      ● Carta compromiso autorizada por UNAG de ingreso al posgrado.<br/>
                      ● 2 Fotos tamaño infantil, en blanco y negro. No instantáneas, con auto-adherible, papel mate (debe ser en papel fotográfico, sin brillo, no papel satinado).<br/>
                      <br/>
                      <div class="border-3 card card-aviso mb-3 justify-content-center ">
                        <div class="card-body">
                          <p class="card-text">
                            NOTA: Las copias certificadas ante notario público no son aceptadas como reemplazo del original. 
                          </p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col">
                  <div class="card h-100">
                    <div class="card-header">
                      <b>UNAG Doctorado</b>
                    </div>
                    <div class="card-body">  
                      ● Acta de nacimiento original y 3 copias.<br/>
                      ● Certificado total de maestría original y 3 copias. <br/>
                      ● 3 Copias del título profesional de maestría por ambos lados.<br/>
                      ● 3 Copias de cédula profesional de maestría por ambos lados. <br/>
                      ● 2 Copias del CURP actualizado. <br/>
                      ● Copia de la identificación oficial por ambos lados.<br/>
                      ● Copia del comprobante de domicilio no mayor a 3 meses.<br/>
                      ● Ficha de inscripción de ingreso a posgrado autorizada por UNAG original con firma autógrafa y fotografía actualizada.<br/>
                      ● Carta compromiso autorizado por UNAG de ingreso al posgrado.<br/>
                      ● 2 fotografías tamaño infantil blanco y negro, papel adherible, mate.<br/><br/>
                      <div class="border-3 card card-aviso mb-3 justify-content-center ">
                        <div class="card-body">
                          <p class="card-text">
                            NOTA: Las copias certificadas ante notario público no son aceptadas como reemplazo del original.  
                          </p>
                        </div>
                      </div>
                    </div>
                  </div>                  
                </div>

                <div class="col">
                  <div class="card h-100">
                    <div class="card-header">
                      <b>ÚNICA</b>
                    </div>
                    <div class="card-body">                   
                      ● Acta de nacimiento original (original y 2 copias legibles por ambos lados, no obscuras, en caso de ser el original en oficio se deberá hacer reducción a tamaño carta)<br/>
                      ● Certificado total de bachillerato legalizado (original y 2 copias legibles por ambos lados, no obscuras, en caso de ser el original en oficio se deberá hacer reducción a tamaño carta)<br/>
                      ● Copia del CURP actualizado (2 copias en ampliación al 130% en horizontal y en tamaño carta)<br/>
                      ● Copia de la identificación oficial por ambos lados (2 copias, legibles, no obscuras)<br/>
                      ● Copia del comprobante de domicilio no mayor a 3 meses.<br/>
                      ● 8 Fotografías: tamaño infantil, en blanco y negro, papel mate, no instantáneas, con auto-adherible. (no se admitirán fotos que no cumplan con estas características)<br/>
                      ● Oficio de antecedentes académicos dirigido a Universidad de Comunicación Avanzada (anexo)<br/>
                      <br/>
                      En caso de que se menor de edad adicionalmente se requiere: <br/>
                      ● Carta responsiva del padre o tutor original dirigida a ÚNICA con firma autógrafa <br/>
                      ● Copia de la credencial del menor<br/>
                      ● Copia de la identificación oficial por ambos lados del padre o tutor (2 copias, legibles, no obscuras)<br/>
                      <br/>
                      <div class="border-3 card card-aviso mb-3 justify-content-center ">
                        <div class="card-body">
                          <p class="card-text">
                            NOTA: copias certificadas ante notario público no son aceptadas como reemplazo del original
                          </p>
                        </div>
                      </div>
                    </div>
                  </div>
                  <br/>
                  

                </div>
                <div class="col">
                  <div class="card h-100">
                    <div class="card-header">
                      <b>UVE Bachillerato</b>
                    </div>
                    <div class="card-body">                   
                      ● Acta de nacimiento (original y 3 copias)<br/>
                      ● Certificado de secundaria (original y 3 copias)<br/>
                      ● Oficio de validación de antecedentes académicos (se solicita en la escuela dónde cursaste la secundaria, si tu certificado cuenta con código QR no es necesario)<br/>
                      ● Copia del CURP actualizado (3 copias)<br/>
                      ● Copia de la identificación oficial por ambos lados (3 copias)<br/>
                      ● Copia del comprobante de domicilio no mayor a 3 meses<br/>
                      ● Formato de inscripción elaborado y autorizado por UVE original con firma autógrafa<br/>
                      ● Carta protesta elaborado y autorizado por UVE original con firma autógrafa<br/>
                      ● Carta compromiso elaborado y autorizado por UVE original con firma autógrafa<br/>
                      En caso de que seas menor de edad adicionalmente se requiere<br/>
                      ● Carta responsiva del padre o tutor original dirigida a UVE con firma autógrafa<br/>
                      ● Copia de la credencial del menor puede ser de cualquier grado escolar anterior<br/>
                      ● Copia de la identificación oficial por ambos lados del padre o tutor (3 copias)
                      <br/><br/>
                      <div class="border-3 card card-aviso mb-3 justify-content-center ">
                        <div class="card-body">
                          <p class="card-text">
                            NOTA: copias certificadas ante notario público no son aceptadas como reemplazo del original
                          </p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="col">
                  <div class="card h-100">
                    <div class="card-header">
                      <b>UVE Licenciatura</b>
                    </div>
                    <div class="card-body">                   
                      ● Acta de nacimiento original<br/>
                      ● Certificado total de bachillerato legalizado original<br/>
                      ● Oficio de validación de antecedentes académicos<br/>
                      ● Copia del CURP actualizado<br/>
                      ● Copia de la identificación oficial por ambos lados<br/>
                      ● Copia del comprobante de domicilio no mayor a 3 meses<br/>
                      ● Formato de inscripción elaborado y autorizado por UVE original con firma autógrafa<br/>
                      ● Carta protesta elaborado y autorizado por UVE original con firma autógrafa<br/>
                      ● Carta compromiso elaborado y autorizado por UVE original con firma autógrafa <br/>

                      En caso de que se menor de edad adicionalmente se requiere:<br/>
                      ● Carta responsiva del padre o tutor original dirigida a UVE con firma autógrafa<br/>
                      ● Copia de la credencial del menor<br/>
                      ● Copia de la identificación oficial por ambos lados del padre o tutor
                      <br/><br/>
                      <div class="border-3 card card-aviso mb-3 justify-content-center ">
                        <div class="card-body">
                          <p class="card-text">
                            NOTA: copias certificadas ante notario público no son aceptadas como reemplazo del original
                          </p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                

              </div>
            </div>  
            <br/><br/>
            <div>
              <h5>¿Que es el tipo de Ingreso?</h5>
              <p>Se asigna según la situación escolar y antecedentes académicos de cada alumno, incluyen: regular y revalidación de estudios.</p>
            
              <div class="row row-cols-1 row-cols-md-2 g-4">
                <div class="col">
                  <div class="card h-100">
                    <div class="card-header">
                      Regular:
                    </div>
                    <div class="card-body">                   
                      <p>
                      Proceso estándar mediante el cual los estudiantes solicitan y son admitidos en programas académicos regulares que no piensan hacer equivalencia de materias o revalidación. Esto implica seguir los procedimientos y requisitos establecidos por la universidad.
                      </P>
                    </div>
                  </div>
                </div>
                <div class="col">
                  <div class="card h-100">
                    <div class="card-header">
                      Revalidación de estudios:
                    </div>
                    <div class="card-body">
                      <p>
                      Trámite mediante el cual la autoridad educativa otorga validez oficial a estudios realizados en el extranjero, siempre y cuando sean equiparables con estudios que se impartan en el Sistema Educativo Nacional.
                      </P>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <br/><br/>
            <h5><b>¿Qué es la legalización?</b></h5>

            <p>
              Es el trámite que consiste en autenticar las firmas que contiene el certificado de estudios, este trámite se lleva a cabo en oficinas de gobierno del estado donde se emitió el documento.
            </p>
            <br/><br/>

            <h5><b>Procesos de devolución</b></h5>

            <p>
              <b>Proceso para devolución, cuando el expediente está en Utel para cualquier alianza (Este proceso solo lo puede hacer recolección)</b>
              <br/>
              1. El alumno deberá contratar una guía de recolección a domicilio y deberá enviarla al asesor.<br/>
              Datos que le pedirán al alumno al contratar la guia:
              Dirección de recolección: calzada de la Naranja #159 Fracc. Industrial Alce Blanco Naucalpan, Edo. de México, C.P. 53370. con atención a Claudia Paulina Bruno Lopez
              Peso es de 1kg y las medidas son 41cm * 31 cm * 1 cm
              2. El asesor levantará el ticket adjuntando la guía, para que archivo libere el paquete.<br/>
              3 El paquete se libera, el asesor solo notifica al alumno.<br/>
              
              <br/><br/>  
              <b>Devolución cuando el expediente está en UVE bachillerato (Este proceso solo lo puede hacer recolección)</b>
              <br/>
              1. Primero se solicita la ficha de pago con UVE a Patricia y Monica<br/>
              2. Cuando ya se tiene la ficha de pago se debe de mandar al alumno<br/>
              3. Cuando el alumno manda la imagen o captura de su comprobante de pago, se debe de mandar a las chicas de alianzas junto con los datos del alumno<br/>
              4 La alianza se encarga de todos lo demás<br/>

              <br/><br/>
              <b>Devolución cuando el expediente está en UVE licenciatura (Este proceso solo lo puede hacer recolección)</b>
              <br/>
              1.- Primero se solicita la ficha de pago con UVE a Alicia y Patricia<br/>
              2. Cuando ya se tiene la ficha de pago se debe de mandar al alumno<br/>
              3. Cuando el alumno manda la imagen o captura de su comprobante de pago, se debe de mandar a las chicas de alianzas junto con los datos del alumno<br/>
              4 La alianza se encarga de todos lo demás<br/>

            </p>
      </div>
    </div>
  </div>
  