<div class="container rounded-3 py-3 bg-white">

    <h1 class="text-center" id="certificacion">Control documental</h1>
    <div class="contenedor ">
      <ul class="ul container">
        <div class="row text-center">
          <div class="col">
            <li class="li activo">Documentación Utel</li>
          </div>
          <div class="col">
            <li class="li">Documentación tipos de ingreso</li>
          </div>
          <div class="col">
            <li class="li">Legalización</li>
          </div>
          <div class="col">
            <li class="li">Dictaminación</li>
          </div>
          <div class="col">
            <li class="li">Procesos</li>
          </div>
        </div>
        
      </ul>
      <div class="subcontenedor">

        <!--Documentación UTEL-->
        <div class="bloque activo" id="bloqueDocUtel">
          <div class="card border-0 py-3 px-3" style="text-align: justify;">

            <h4><b>Recolección de documentos</b></h4></br>
            <p>
            Equipo encargado de recolectar y validar documentos digitales y físicos de todo estudiante que no ha completado su expediente escolar.
            Proceso general: el asesor contacta al alumno para obtener el documento faltante, lo carga y válida en el sistema SIU para completar el expediente escolar. 
            </p>
            
            </br>
            <h5><b>Características y condiciones de documentos:</b></h5></br>
            <a>

             ● El alumno debe entregar documentos digitales, excepto para ingresos por equivalencia o revalidación, que necesitan documentos físicos originales.
              </br>
             ● Solo se aceptarán escaneos en formato PDF del documento original, que estén legibles, en buen estado, y muestren ambos lados (aún cuando esté en blanco en el reverso) con los 4 bordes completos. No se admitirán fotografías en formato PDF ni capturas de aplicaciones de celular o fotos de fotos.
              </br></br>

              Con la documentación física se realiza la inscripción oficial ante el sistema educativo (SEP) y desde ese momento registrar sus calificaciones cada periodo. 
              Al ser egresado y liberar su servicio social, tiene derecho a la emisión del Certificado de estudios y Título profesional/Grado académico.
              De tal manera que al aprobar las materias y servicio social el alumno tiene derecho a Título y
              Cédula.</br></br>

              Los documentos físicos originales deben estar en perfectas condiciones:</br></br>
              ● Sin tachaduras o enmendaduras</br>
              ● No enmicados o recubiertos de cinta adhesiva</br>
              ● Sin manchas de café o comida</br>
              ● No rotos o incompletos</br>
              ● Con fotografía pegada y cancelada (certificados)</br>
              ● Con las firmas correspondientes u hologramas de verificación de autenticidad</br>
            </a>
          </div>

          <div class="border-3 card card-importante mx-3 mb-5">
            <div class="card-body">
              <strong class="">Importante</strong>
              <p class="card-text">
                La documentación solo se solicita de forma digital, sin embargo, hay alumnos que aún cuentan con
                expediente físico dentro de las instalaciones en Naucalpan ya que con anterioridad así se manejaba.
              </p>
            </div>
          </div>

          <div>
            <div class="accordion" id="accordionPanelsStayOpenExample">
              <div class="">
                <!--Documentos mexicanos-->
                <div class="accordion-item">
                  <h2 class="accordion-header" id="panelsStayOpen-headingOne">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                      data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true"
                      aria-controls="panelsStayOpen-collapseOne">
                      Documentación alumnos nacionales
                    </button>
                  </h2>
                  <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse"
                    aria-labelledby="panelsStayOpen-headingOne">
                    <div class="accordion-body">
                      <div class="row">
                        <div class="col">

                          <strong>Documentación para licenciatura:</strong> </br></br>
                          ● CURP</br>
                          ● Carta poder (en caso de equivalencia)</br>
                          ● Certificado parcial Licenciatura (en caso de equivalencia)</br>
                          ● Acta de nacimiento</br>
                          ● Carta compromiso</br>
                          ● Certificado total bachillerato (En todos los certificados dice  “certificado o certifica”)</br>
                          ● Identificación oficial</br>
                          ● Comprobante de domicilio</br>
                          ● Términos y condiciones</br>
                          ● Solicitud de admisión </br></br>

                          <strong>Documentación para Maestría:</strong> </br></br>

                          ● Comprobante de domicilio</br>
                          ● CURP</br>
                          ● Identificación oficial</br>
                          ● Carta compromiso</br>
                          ● Pago</br>
                          ● Términos y condiciones</br>
                          ● Título digital (Se aceptan copias 100% legibles)</br>
                          ● Curriculum vitae</br>
                          ● Carta motivos</br>
                          ● Solicitud de admisión</br>
                          ● Certificado total Licenciatura (En todos los certificados dice  “certificado o certifica”)</br>
                          ● Acta de nacimiento </br></br>

                          <strong>Documentación para Doctorado:</strong> </br></br>
                          ● Comprobante de domicilio</br>
                          ● CURP</br>
                          ● Identificación oficial</br>
                          ● Carta compromiso</br>
                          ● Pago</br>
                          ● Términos y condiciones</br>
                          ● Constancia de Ingles</br>
                          ● Título digital(Se aceptan copias 100% legibles)</br>
                          ● Curriculum vitae</br>
                          ● Carta motivos</br>
                          ● Solicitud de admisión</br>
                          ● Certificado total maestría(En todos los certificados dice  “certificado o certifica”)</br>
                          ● Acta de nacimiento </br></br>
                        </div>

                        <div class="col">
                          <strong>Manuales de validación</strong></br>
                          <a class="Botonmanual row py-3 px-3" href="docs/manualesdoc/Mexico/validar_curp.pdf" target="_blank">¿Cómo validar un
                            CURP?</a>
                          <a class="Botonmanual row py-3 px-3" href="docs/manualesdoc/Mexico/validar_acta.pdf" target="_blank">¿Cómo
                            validar un acta de nacimiento?</a>
                          <a class="Botonmanual row py-3 px-3" href="docs/manualesdoc/Mexico/validar_certificado.pdf" target="_blank">¿Cómo
                            validar un certificado?</a>
                          <a class="Botonmanual row py-3 px-3" href="docs/manualesdoc/Mexico/validar_titulo.pdf" target="_blank">¿Cómo
                            validar un título?</a>
                          <a class="Botonmanual row py-3 px-3" href="docs/manualesdoc/Mexico/validar_cedula.pdf" target="_blank">¿Cómo
                            validar una cédula?</a>
                          <a class="Botonmanual row py-3 px-3" href="docs/manualesdoc/Mexico/validar_comprobante.pdf" target="_blank">¿Cómo
                            validar un comprobante de domicilio?</a>
                          <a class="Botonmanual row py-3 px-3" href="docs/manualesdoc/Mexico/validar_ine.pdf" target="_blank">¿Cómo
                            validar una identificación oficial?</a>
                        </div>
                      </div>
                    </div>
                  </div>

                </div>
                
                <!--Documentos LATAM-->
                <div class="accordion-item">
                  <h2 class="accordion-header" id="panelsStayOpen-headingTwo">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                      data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false"
                      aria-controls="panelsStayOpen-collapseTwo">
                      Documentación para alumnos extranjeros
                    </button>
                  </h2>

                  <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse"
                    aria-labelledby="panelsStayOpen-headingTwo">
                    <div class="accordion-body">
                      <strong>Documentación para alumnos de LATAM</strong></br></br>

                      Documentos Digitales para Dictamen Técnico (los documentos deben estar notariados)
                      <br/>
                      ● Acta de nacimiento / Partida de nacimiento
                      <br/>
                      ● Certificado / diploma / título de bachiller o documento equivalente / 
                      </br></br>

                      Los documentos que deben entregar son:</br></br>
                      1. Carta Compromiso original con firma autógrafa con hoja anexa</br>
                      2. Copia Notariada del DNI (Identificación oficial) o también le llaman cédula de identidad,
                      debe estar vigente o el acta, partida o certificado de Nacimiento</br>
                      3. Copia Notariada del Diploma o Título de Bachiller o de Licenciatura según sea el caso</br>
                      4. En los casos de Maestría carta de Exposición de motivos

                      </br></br>  
                      ● Países que constituyen LATAM:</br>
                      ● Argentina</br>
                      ● Bolivia</br>
                      ● Ecuador</br>
                      ● Chile</br>
                      ● Colombia</br>
                      ● República dominicana</br>
                      ● Perú</br>
                      ● Paraguay</br>
                      ● España</br>
                      ● Guatemala</br>
                      ● El salvador</br>
                      ● Usa
</br></br>
                      <div class="card card-aviso mx-3 mb-5 justify-content-center ">
                        <div class="card-body">

                          <p class="card-text">
                            En el campus USA, la documentación dependerá del país donde se hayan cursados los estudios, puesto que son muy variables los documentos.
                          </p>
                        </div>
                      </div>

                    </div>

                    <div class="accordion px-3" id="accordionPanelsStayOpenExample">

                      <!---Argentina--->
                      <div class="accordion-item">
                        <!--Botón-->
                        <h2 class="accordion-header" id="panelsStayOpen-headingDocumentosArgentina">
                          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#panelsStayOpen-collapseDocumentosArgentina" aria-expanded="true"
                            aria-controls="panelsStayOpen-collapseDocumentosArgentina">
                            Documentos Argentina
                          </button>
                        </h2>
                        <!--Contenido-->
                        <div id="panelsStayOpen-collapseDocumentosArgentina" class="accordion-collapse collapse"
                          aria-labelledby="panelsStayOpen-headingDocumentosArgentina">
                          <div class="accordion-body">
                            <h2 class="text-center">Documentos Argentina</h2>
                            <div class="row">
                              <div class="col">

                                <strong>Documentación para licenciatura:</strong> </br></br>
                                ● Antecedentes académicos bachillerato</br>
                                ● Carta compromiso</br>
                                ● Carta motivos</br>
                                ● Comprobante de domicilio</br>
                                ● Adentificación</br></br>

                                <strong>Documentación para Maestría:</strong> </br></br>
                                ● Antecedentes académicos licenciatura</br>
                                ● Carta compromiso</br>
                                ● Carta motivos</br>
                                ● Constancia laboral</br>
                                ● Curriculum</br>
                                ● Comprobante de domicilio</br>
                                ● Identificación</br></br>

                                <strong>Documentación para Doctorado:</strong> </br></br>
                                ● Antecedentes académicos licenciatura</br>
                                ● Carta compromiso</br>
                                ● Carta motivos</br>
                                ● Constancia laboral</br>
                                ● Curriculum</br>
                                ● Comprobante de domicilio</br>
                                ● Identificación</br></br>

                              </div>

                              <div class="col">
                                <strong>Manuales de validación</strong></br>
                                <a class="Botonmanual row py-3 px-3" href="docs/manualesdoc/Argentina/validar_certificado.pdf"
                                  target="_blank">¿Cómo validar un antecedente academico?</a>
                                <a class="Botonmanual row py-3 px-3" href="docs/manualesdoc/Argentina/validar_identificacion.pdf"
                                  target="_blank">¿Cómo validar una identificación?</a>
                                <a class="Botonmanual row py-3 px-3" href="docs/manualesdoc/Argentina/validar_comprobante.pdf"
                                  target="_blank">¿Cómo validar un Comprobante de domicilio?</a>
                                <a class="Botonmanual row py-3 px-3" href="docs/manualesdoc/Argentina/validar_cartayanexo.pdf"
                                  target="_blank">¿Cómo validar una carta compromiso y anexo?</a>
                                <a class="Botonmanual row py-3 px-3" href="docs/manualesdoc/Argentina/validar-cartamotivos.pdf"
                                  target="_blank">¿Cómo validar una carta motivos?</a>
                                <a class="Botonmanual row py-3 px-3" href="docs/manualesdoc/Argentina/validar-curriculum.pdf"
                                  target="_blank">¿Cómo validar una carta curriculum?</a> 
                                <a class="Botonmanual row py-3 px-3" href="docs/manualesdoc/Argentina/validar-laboral.pdf"
                                  target="_blank">¿Cómo validar una constancia laboral?</a> 
                              </div>
                            </div>
                          </div>
                        </div>

                      </div>
                      
                      <!---Bolivia--->
                      <div class="accordion-item">
                        <!--Botón-->
                        <h2 class="accordion-header" id="panelsStayOpen-headingDocumentosBolivia">
                          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#panelsStayOpen-collapseDocumentosBolivia" aria-expanded="true"
                            aria-controls="panelsStayOpen-collapseDocumentosBolivia">
                            Documentos Bolivia
                          </button>
                        </h2>
                        <!--Contenido-->
                        <div id="panelsStayOpen-collapseDocumentosBolivia" class="accordion-collapse collapse"
                          aria-labelledby="panelsStayOpen-headingDocumentosBolivia">
                          <div class="accordion-body">
                            <h2 class="text-center">Documentos Bolivia</h2>
                            <div class="row">
                              <div class="col">

                                <strong>Documentación para licenciatura:</strong> </br></br>
                                ● Antecedentes académicos bachillerato</br>
                                ● Carta compromiso</br>
                                ● Carta motivos</br>
                                ● Comprobante de domicilio</br>
                                ● Identificación</br></br>

                                <strong>Documentación para Maestría:</strong> </br></br>
                                ● Antecedentes académicos licenciatura</br>
                                ● Carta compromiso</br>
                                ● Carta motivos</br>
                                ● Constancia laboral</br>
                                ● Curriculum</br>
                                ● Comprobante de domicilio</br>
                                ● Identificación</br></br>

                                <strong>Documentación para Doctorado:</strong> </br></br>
                                ● Antecedentes académicos licenciatura</br>
                                ● Carta compromiso</br>
                                ● Carta motivos</br>
                                ● Constancia laboral</br>   
                                ● Curriculum</br>
                                ● Comprobante de domicilio</br>
                                ● Identificación</br>

                              </div>

                              <div class="col">
                                <strong>Manuales de validación</strong></br>
                                <a class="Botonmanual row py-3 px-3" href="docs/manualesdoc/Bolivia/validar_certificado.pdf"
                                  target="_blank">¿Cómo validar un antecedente academico?</a>
                                <a class="Botonmanual row py-3 px-3" href="docs/manualesdoc/Bolivia/validar_identificacion.pdf"
                                  target="_blank">¿Cómo validar una identificación?</a>
                                <a class="Botonmanual row py-3 px-3" href="docs/manualesdoc/Bolivia/validar_comprobante.pdf"
                                  target="_blank">¿Cómo validar un Comprobante de domicilio?</a>
                                <a class="Botonmanual row py-3 px-3" href="docs/manualesdoc/Bolivia/validar_cartayanexo.pdf"
                                  target="_blank">¿Cómo validar una carta compromiso y anexo?</a>
                                <a class="Botonmanual row py-3 px-3" href="docs/manualesdoc/Bolivia/validar-cartamotivos.pdf"
                                  target="_blank">¿Cómo validar una carta motivos?</a>
                                <a class="Botonmanual row py-3 px-3" href="docs/manualesdoc/Bolivia/validar-curriculum.pdf"
                                  target="_blank">¿Cómo validar una carta curriculum?</a> 
                                <a class="Botonmanual row py-3 px-3" href="docs/manualesdoc/Bolivia/validar-laboral.pdf"
                                  target="_blank">¿Cómo validar una constancia laboral?</a> 
                              </div>
                            </div>
                          </div>
                        </div>

                      </div>

                      <!---Chile--->
                      <div class="accordion-item">
                        <!--Botón-->
                        <h2 class="accordion-header" id="panelsStayOpen-headingDocumentosChile">
                          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#panelsStayOpen-collapseDocumentosChil" aria-expanded="true"
                            aria-controls="panelsStayOpen-collapseDocumentosChil">
                            Documentos Chile
                          </button>
                        </h2>
                        <!--Contenido-->
                        <div id="panelsStayOpen-collapseDocumentosChil" class="accordion-collapse collapse"
                          aria-labelledby="panelsStayOpen-headingDocumentosChile">
                          <div class="accordion-body">
                            <h2 class="text-center">Documentos Chile</h2>
                            <div class="row">
                              <div class="col">

                                <strong>Documentación para licenciatura:</strong> </br></br>
                                ● Antecedentes académicos bachillerato</br>
                                ● Carta compromiso</br>
                                ● Carta motivos</br>
                                ● Comprobante de domicilio</br>
                                ● Identificación</br></br>

                                <strong>Documentación para Maestría:</strong> </br></br>
                                ● Antecedentes académicos licenciatura</br>
                                ● Carta compromiso</br>
                                ● Carta motivos</br>
                                ● Constancia laboral</br>
                                ● Curriculum</br>
                                ● Comprobante de domicilio</br>
                                ● Identificación</br></br>

                                <strong>Documentación para Doctorado:</strong> </br></br>
                                ● Antecedentes académicos licenciatura</br>
                                ● Carta compromiso</br>
                                ● Carta motivos</br>
                                ● Constancia laboral</br>
                                ● Curriculum</br>
                                ● Comprobante de domicilio</br>
                                ● Identificación</br></br>


                              </div>

                              <div class="col">
                                <strong>Manuales de validación</strong></br>
                                <a class="Botonmanual row py-3 px-3" href="docs/manualesdoc/chile/validar_certificado.pdf"
                                  target="_blank">¿Cómo validar un antecedente academico?</a>
                                <a class="Botonmanual row py-3 px-3" href="docs/manualesdoc/chile/validar_identificacion.pdf"
                                  target="_blank">¿Cómo validar una identificación?</a>
                                <a class="Botonmanual row py-3 px-3" href="docs/manualesdoc/chile/validar_comprobante.pdf"
                                  target="_blank">¿Cómo validar un Comprobante de domicilio?</a>
                                <a class="Botonmanual row py-3 px-3" href="docs/manualesdoc/chile/validar_cartayanexo.pdf"
                                  target="_blank">¿Cómo validar una carta compromiso y anexo?</a>
                                <a class="Botonmanual row py-3 px-3" href="docs/manualesdoc/chile/validar-cartamotivos.pdf"
                                  target="_blank">¿Cómo validar una carta motivos?</a>
                                <a class="Botonmanual row py-3 px-3" href="docs/manualesdoc/chile/validar-curriculum.pdf"
                                  target="_blank">¿Cómo validar una carta curriculum?</a> 
                                <a class="Botonmanual row py-3 px-3" href="docs/manualesdoc/chile/validar-laboral.pdf"
                                  target="_blank">¿Cómo validar una constancia laboral?</a> 
                                <a class="Botonmanual row py-3 px-3" href="docs/manualesdoc/chile/validar_acta.pdf"
                                  target="_blank">¿Cómo validar una acta de nacimiento?</a> 
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      
                      <!---Colombia--->
                      <div class="accordion-item">
                        <!--Botón-->
                        <h2 class="accordion-header" id="panelsStayOpen-headingDocumentosColombia">
                          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#panelsStayOpen-collapseDocumentosColombia" aria-expanded="true"
                            aria-controls="panelsStayOpen-collapseDocumentosColombia">
                            Documentos Colombia
                          </button>
                        </h2>
                        <!--Contenido-->
                        <div id="panelsStayOpen-collapseDocumentosColombia" class="accordion-collapse collapse"
                          aria-labelledby="panelsStayOpen-DocumentosColombia">
                          <div class="accordion-body">
                            <h2 class="text-center">Documentos Colombia</h2>
                            <div class="row">
                              <div class="col">
                                

                                <strong>Documentación para licenciatura:</strong> </br></br>
                                ● Antecedentes académicos bachillerato</br>
                                ● Carta compromiso</br>
                                ● Carta motivos</br>
                                ● Comprobante de domicilio</br>
                                ● Identificación</br></br>

                                <strong>Documentación para Maestría:</strong> </br></br>
                                ● Antecedentes académicos licenciatura</br>
                                ● Carta compromiso</br>
                                ● Carta motivos</br>
                                ● Constancia laboral</br>
                                ● Curriculum</br>
                                ● Comprobante de domicilio</br>
                                ● Identificación</br></br>

                                <strong>Documentación para Doctorado:</strong> </br></br>
                                ● Antecedentes académicos licenciatura</br>
                                ● Carta compromiso</br>
                                ● Carta motivos</br>
                                ● Constancia laboral</br>
                                ● Curriculum</br>
                                ● Comprobante de domicilio</br>
                                ● Identificación</br></br>

                              </div>

                              <div class="col">
                                <strong>Manuales de validación</strong></br>
                                <a class="Botonmanual row py-3 px-3" href="docs/manualesdoc/Colombia/validar_certificado.pdf"
                                  target="_blank">¿Cómo validar un antecedente academico?</a>
                                <a class="Botonmanual row py-3 px-3" href="docs/manualesdoc/Colombia/validar_identificacion.pdf"
                                  target="_blank">¿Cómo validar una identificación?</a>
                                <a class="Botonmanual row py-3 px-3" href="docs/manualesdoc/Colombia/validar_comprobante.pdf"
                                  target="_blank">¿Cómo validar un Comprobante de domicilio?</a>
                                <a class="Botonmanual row py-3 px-3" href="docs/manualesdoc/Colombia/validar_cartayanexo.pdf"
                                  target="_blank">¿Cómo validar una carta compromiso y anexo?</a>
                                <a class="Botonmanual row py-3 px-3" href="docs/manualesdoc/Colombia/validar-cartamotivos.pdf"
                                  target="_blank">¿Cómo validar una carta motivos?</a>
                                <a class="Botonmanual row py-3 px-3" href="docs/manualesdoc/Colombia/validar-curriculum.pdf"
                                  target="_blank">¿Cómo validar un curriculum?</a> 
                                <a class="Botonmanual row py-3 px-3" href="docs/manualesdoc/Colombia/validar-laboral.pdf"
                                  target="_blank">¿Cómo validar una constancia laboral?</a> 
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>

                      <!---Ecuador--->
                      <div class="accordion-item">
                        <!--Botón-->
                        <h2 class="accordion-header" id="panelsStayOpen-headingDocumentosEcuador">
                          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#panelsStayOpen-collapseDocumentosEcuador" aria-expanded="true"
                            aria-controls="panelsStayOpen-collapseDocumentosEcuador">
                            Documentos Ecuador
                          </button>
                        </h2>
                        <!--Contenido-->
                        <div id="panelsStayOpen-collapseDocumentosEcuador" class="accordion-collapse collapse"
                          aria-labelledby="panelsStayOpen-headingDocumentosEcuador">
                          <div class="accordion-body">
                            <h2 class="text-center">Documentos Ecuador</h2>
                            <div class="row">
                              <div class="col">
  
                                <strong>Documentación para licenciatura:</strong> </br></br>
                                ● Antecedentes académicos bachillerato</br>
                                ● Carta compromiso</br>
                                ● Carta motivos</br>
                                ● Comprobante de domicilio</br>
                                ● Identificación</br></br>

                                <strong>Documentación para Maestría:</strong> </br></br>
                                ● Antecedentes académicos licenciatura</br>
                                ● Carta compromiso</br>
                                ● Carta motivos</br>
                                ● Constancia laboral</br>
                                ● Curriculum</br>
                                ● Comprobante de domicilio</br>
                                ● Identificación</br></br>

                                <strong>Documentación para Doctorado:</strong> </br></br>
                                ● Antecedentes académicos licenciatura</br>
                                ● Carta compromiso</br>
                                ● Carta motivos</br>
                                ● Constancia laboral</br>
                                ● Curriculum</br>
                                ● Comprobante de domicilio</br>
                                ● Identificación</br></br>


                              </div>

                              <div class="col">
                                <strong>Manuales de validación</strong></br>
                                <a class="Botonmanual row py-3 px-3" href="docs/manualesdoc/Ecuador/validar_certificado.pdf"
                                  target="_blank">¿Cómo validar un antecedente academico?</a>
                                <a class="Botonmanual row py-3 px-3" href="docs/manualesdoc/Ecuador/validar_identificacion.pdf"
                                  target="_blank">¿Cómo validar una identificación?</a>
                                <a class="Botonmanual row py-3 px-3" href="docs/manualesdoc/Ecuador/validar_comprobante.pdf"
                                  target="_blank">¿Cómo validar un Comprobante de domicilio?</a>
                                <a class="Botonmanual row py-3 px-3" href="docs/manualesdoc/Ecuador/validar_cartayanexo.pdf"
                                  target="_blank">¿Cómo validar una carta compromiso y anexo?</a>
                                <a class="Botonmanual row py-3 px-3" href="docs/manualesdoc/Ecuador/validar-cartamotivos.pdf"
                                  target="_blank">¿Cómo validar una carta motivos?</a>
                                <a class="Botonmanual row py-3 px-3" href="docs/manualesdoc/Ecuador/validar-laboral.pdf"
                                  target="_blank">¿Cómo validar una constancia laboral?</a> 
                              </div>
                            </div>
                          </div>
                        </div>

                      </div>

                      <!---El salvador--->
                      <div class="accordion-item">
                        <!--Botón-->
                        <h2 class="accordion-header" id="panelsStayOpen-headingDocumentossalvador">
                          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#panelsStayOpen-collapseDocumentossalvador" aria-expanded="true"
                            aria-controls="panelsStayOpen-collapseDocumentossalvador">
                            Documentos El salvador
                          </button>
                        </h2>
                        <!--Contenido-->
                        <div id="panelsStayOpen-collapseDocumentossalvador" class="accordion-collapse collapse"
                          aria-labelledby="panelsStayOpen-headingDocumentossalvador">
                          <div class="accordion-body">
                            <h2 class="text-center">Republica El salvador</h2>
                            <div class="row">
                              <div class="col">

                                <strong>Documentación para licenciatura:</strong> </br></br>
                                ● Antecedentes académicos bachillerato</br>
                                ● Carta compromiso</br>
                                ● Carta motivos</br>
                                ● Comprobante de domicilio</br>
                                ● Identificación</br></br>

                                <strong>Documentación para Maestría:</strong> </br></br>
                                ● Antecedentes académicos licenciatura</br>
                                ● Carta compromiso</br>
                                ● Carta motivos</br>
                                ● Constancia laboral</br>
                                ● Curriculum</br>
                                ● Comprobante de domicilio</br>
                                ● Identificación</br></br>

                                <strong>Documentación para Doctorado:</strong> </br></br>
                                ● Antecedentes académicos licenciatura</br>
                                ● Carta compromiso</br>
                                ● Carta motivos</br>
                                ● Constancia laboral</br>
                                ● Curriculum</br>
                                ● Comprobante de domicilio</br>
                                ● Identificación</br></br>

                              </div>

                              <div class="col">
                                <strong>Manuales de validación</strong></br>
                                <a class="Botonmanual row py-3 px-3" href="docs/manualesdoc/salvador/validar_certificado.pdf"
                                  target="_blank">¿Cómo validar un antecedente academico?</a>
                                <a class="Botonmanual row py-3 px-3" href="docs/manualesdoc/salvador/validar_identificacion.pdf"
                                  target="_blank">¿Cómo validar una identificación?</a>
                                <a class="Botonmanual row py-3 px-3" href="docs/manualesdoc/salvador/validar_comprobante.pdf"
                                  target="_blank">¿Cómo validar un Comprobante de domicilio?</a>
                                <a class="Botonmanual row py-3 px-3" href="docs/manualesdoc/salvador/validar_cartayanexo.pdf"
                                  target="_blank">¿Cómo validar una carta compromiso y anexo?</a>
                                <a class="Botonmanual row py-3 px-3" href="docs/manualesdoc/salvador/validar-cartamotivos.pdf"
                                  target="_blank">¿Cómo validar una carta motivos?</a>                                
                                <a class="Botonmanual row py-3 px-3" href="docs/manualesdoc/salvador/validar-laboral.pdf"
                                  target="_blank">¿Cómo validar una constancia laboral?</a> 
                              </div>
                            </div>
                          </div>
                        </div>

                      </div>

                      <!---España--->
                      <div class="accordion-item">
                        <!--Botón-->
                        <h2 class="accordion-header" id="panelsStayOpen-headingDocumentosEspaña">
                          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#panelsStayOpen-collapseDocumentosEspaña" aria-expanded="true"
                            aria-controls="panelsStayOpen-collapseDocumentosEspaña">
                            Documentos España
                          </button>
                        </h2>
                        <!--Contenido-->
                        <div id="panelsStayOpen-collapseDocumentosEspaña" class="accordion-collapse collapse"
                          aria-labelledby="panelsStayOpen-headingDocumentosEspaña">
                          <div class="accordion-body">
                            <h2 class="text-center">Documentos España</h2>
                            <div class="row">
                              <div class="col">
  
                                <strong>Documentación para licenciatura:</strong> </br></br>
                                ● Antecedentes académicos bachillerato</br>
                                ● Carta compromiso</br>
                                ● Carta motivos</br>
                                ● Comprobante de domicilio</br>
                                ● Identificación</br></br>

                                <strong>Documentación para Maestría:</strong> </br></br>
                                ● Antecedentes académicos licenciatura</br>
                                ● Carta compromiso</br>
                                ● Carta motivos</br>
                                ● Constancia laboral</br>
                                ● Curriculum</br>
                                ● Comprobante de domicilio</br>
                                ● Identificación</br></br>

                                <strong>Documentación para Doctorado:</strong> </br></br>
                                ● Antecedentes académicos licenciatura</br>
                                ● Carta compromiso</br>
                                ● Carta motivos</br>
                                ● Constancia laboral</br>
                                ● Curriculum</br>
                                ● Comprobante de domicilio</br>
                                ● Identificación</br></br>


                              </div>

                              <div class="col">
                                <strong>Manuales de validación</strong></br>
                                <a class="Botonmanual row py-3 px-3" href="docs/manualesdoc/España/validar_certificado.pdf"
                                  target="_blank">¿Cómo validar un antecedente academico?</a>
                                <a class="Botonmanual row py-3 px-3" href="docs/manualesdoc/España/validar_identificacion.pdf"
                                  target="_blank">¿Cómo validar una identificación?</a>
                                <a class="Botonmanual row py-3 px-3" href="docs/manualesdoc/España/validar_comprobante.pdf"
                                  target="_blank">¿Cómo validar un Comprobante de domicilio?</a>
                                <a class="Botonmanual row py-3 px-3" href="docs/manualesdoc/España/validar_cartayanexo.pdf"
                                  target="_blank">¿Cómo validar una carta compromiso y anexo?</a>
                                <a class="Botonmanual row py-3 px-3" href="docs/manualesdoc/España/validar-cartamotivos.pdf"
                                  target="_blank">¿Cómo validar una carta motivos?</a>
                                <a class="Botonmanual row py-3 px-3" href="docs/manualesdoc/España/validar-laboral.pdf"
                                  target="_blank">¿Cómo validar una constancia laboral?</a>
                                <a class="Botonmanual row py-3 px-3" href="docs/manualesdoc/España/validar-ingles.pdf"
                                  target="_blank">¿Cómo validar una constancia de inglés?</a> 
                                <a class="Botonmanual row py-3 px-3" href="docs/manualesdoc/España/validar-curriculum.pdf"
                                  target="_blank">¿Cómo validar un curriculum?</a>  
                              </div>
                            </div>
                          </div>
                        </div>

                      </div>

                      <!---Guatemala--->
                      <div class="accordion-item">
                        <!--Botón-->
                        <h2 class="accordion-header" id="panelsStayOpen-headingDocumentoGuatemala">
                          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#panelsStayOpen-collapseDocumentosGuatemala" aria-expanded="true"
                            aria-controls="panelsStayOpen-collapseDocumentosGuatemala">
                            Documentos Guatemala
                          </button>
                        </h2>
                        <!--Contenido-->
                        <div id="panelsStayOpen-collapseDocumentosGuatemala" class="accordion-collapse collapse"
                          aria-labelledby="panelsStayOpen-headingDocumentosGuatemala">
                          <div class="accordion-body">
                            <h2 class="text-center">Documentos Guatemala</h2>
                            <div class="row">
                              <div class="col">

                                <strong>Documentación para licenciatura:</strong> </br></br>
                                ● Antecedentes académicos bachillerato</br>
                                ● Carta compromiso</br>
                                ● Carta motivos</br>
                                ● Comprobante de domicilio</br>
                                ● Identificación</br></br>

                                <strong>Documentación para Maestría:</strong> </br></br>
                                ● Antecedentes académicos licenciatura</br>
                                ● Carta compromiso</br>
                                ● Carta motivos</br>
                                ● Constancia laboral</br>
                                ● Curriculum</br>
                                ● Comprobante de domicilio</br>
                                ● Identificación</br></br>

                                <strong>Documentación para Doctorado:</strong> </br></br>
                                ● Antecedentes académicos licenciatura</br>
                                ● Carta compromiso</br>
                                ● Carta motivos</br>
                                ● Constancia laboral</br>
                                ● Curriculum</br>
                                ● Comprobante de domicilio</br>
                                ● Identificación</br></br>

                              </div>

                              <div class="col">
                                <strong>Manuales de validación</strong></br>
                                <a class="Botonmanual row py-3 px-3" href="docs/manualesdoc/Guatemala/validar_certificado.pdf"
                                  target="_blank">¿Cómo validar un antecedente academico?</a>
                                <a class="Botonmanual row py-3 px-3" href="docs/manualesdoc/Guatemala/validar_identificacion.pdf"
                                  target="_blank">¿Cómo validar una identificación?</a>
                                <a class="Botonmanual row py-3 px-3" href="docs/manualesdoc/Guatemala/validar_comprobante.pdf"
                                  target="_blank">¿Cómo validar un Comprobante de domicilio?</a>
                                <a class="Botonmanual row py-3 px-3" href="docs/manualesdoc/Guatemala/validar_cartayanexo.pdf"
                                  target="_blank">¿Cómo validar una carta compromiso y anexo?</a>
                                <a class="Botonmanual row py-3 px-3" href="docs/manualesdoc/Guatemala/validar-cartamotivos.pdf"
                                  target="_blank">¿Cómo validar una carta motivos?</a>
                                <a class="Botonmanual row py-3 px-3" href="docs/manualesdoc/Guatemala/validar-laboral.pdf"
                                  target="_blank">¿Cómo validar una constancia laboral?</a> 
                              </div>
                            </div>
                          </div>
                        </div>

                      </div>
                      
                      <!---Paraguay--->
                      <div class="accordion-item">
                        <!--Botón-->
                        <h2 class="accordion-header" id="panelsStayOpen-headingDocumentosParaguay">
                          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#panelsStayOpen-collapseDocumentosParaguay" aria-expanded="true"
                            aria-controls="panelsStayOpen-collapseDocumentosParaguay">
                            Documentos Paraguay
                          </button>
                        </h2>
                        <!--Contenido-->
                        <div id="panelsStayOpen-collapseDocumentosParaguay" class="accordion-collapse collapse"
                          aria-labelledby="panelsStayOpen-headingDocumentosParaguay">
                          <div class="accordion-body">
                            <h2 class="text-center">Documentos Paraguay</h2>
                            <div class="row">
                              <div class="col">

                                <strong>Documentación para licenciatura:</strong> </br></br>
                                ● Antecedentes académicos bachillerato</br>
                                ● Carta compromiso</br>
                                ● Carta motivos</br>
                                ● Comprobante de domicilio</br>
                                ● Identificación</br></br>

                                <strong>Documentación para Maestría:</strong> </br></br>
                                ● Antecedentes académicos licenciatura</br>
                                ● Carta compromiso</br>
                                ● Carta motivos</br>
                                ● Constancia laboral</br>
                                ● Curriculum</br>
                                ● Comprobante de domicilio</br>
                                ● Identificación</br></br>

                                <strong>Documentación para Doctorado:</strong> </br></br>
                                ● Antecedentes académicos licenciatura</br>
                                ● Carta compromiso</br>
                                ● Carta motivos</br>
                                ● Constancia laboral</br>
                                ● Curriculum</br>
                                ● Comprobante de domicilio</br>
                                ● Identificación</br></br>

                              </div>

                              <div class="col">
                                <strong>Manuales de validación</strong></br>
                                <a class="Botonmanual row py-3 px-3" href="docs/manualesdoc/Paraguay/validar_certificado.pdf"
                                  target="_blank">¿Cómo validar un antecedente academico?</a>
                                <a class="Botonmanual row py-3 px-3" href="docs/manualesdoc/Paraguay/validar_identificacion.pdf"
                                  target="_blank">¿Cómo validar una identificación?</a>
                                <a class="Botonmanual row py-3 px-3" href="docs/manualesdoc/Paraguay/validar_comprobante.pdf"
                                  target="_blank">¿Cómo validar un Comprobante de domicilio?</a>
                                <a class="Botonmanual row py-3 px-3" href="docs/manualesdoc/Paraguay/validar_cartayanexo.pdf"
                                  target="_blank">¿Cómo validar una carta compromiso y anexo?</a>
                                <a class="Botonmanual row py-3 px-3" href="docs/manualesdoc/Paraguay/validar-cartamotivos.pdf"
                                  target="_blank">¿Cómo validar una carta motivos?</a>
                                <a class="Botonmanual row py-3 px-3" href="docs/manualesdoc/Paraguay/validar-curriculum.pdf"
                                  target="_blank">¿Cómo validar una carta curriculum?</a> 
                                <a class="Botonmanual row py-3 px-3" href="docs/manualesdoc/Paraguay/validar-laboral.pdf"
                                  target="_blank">¿Cómo validar una constancia laboral?</a> 
                              </div>
                            </div>
                          </div>
                        </div>

                      </div>

                      <!---Perú--->
                      <div class="accordion-item">
                        <!--Botón-->
                        <h2 class="accordion-header" id="panelsStayOpen-headingDocumentosPeru">
                          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#panelsStayOpen-collapseDocumentosPeru" aria-expanded="true"
                            aria-controls="panelsStayOpen-collapseDocumentosPeru">
                            Documentos Perú
                          </button>
                        </h2>
                        <!--Contenido-->
                        <div id="panelsStayOpen-collapseDocumentosPeru" class="accordion-collapse collapse"
                          aria-labelledby="panelsStayOpen-headingDocumentosPeru">
                          <div class="accordion-body">
                            <h2 class="text-center">Documentos Perú</h2>
                            <div class="row">
                              <div class="col">

                                <strong>Documentación para licenciatura:</strong> </br></br>
                                ● Antecedentes académicos bachillerato</br>
                                ● Carta compromiso</br>
                                ● Carta motivos</br>
                                ● Comprobante de domicilio</br>
                                ● Identificación</br></br>

                                <strong>Documentación para Maestría:</strong> </br></br>
                                ● Antecedentes académicos licenciatura</br>
                                ● Carta compromiso</br>
                                ● Carta motivos</br>
                                ● Constancia laboral</br>
                                ● Curriculum</br>
                                ● Comprobante de domicilio</br>
                                ● Identificación</br></br>

                                <strong>Documentación para Doctorado:</strong> </br></br>
                                ● Antecedentes académicos licenciatura</br>
                                ● Carta compromiso</br>
                                ● Carta motivos</br>
                                ● Constancia laboral</br>
                                ● Curriculum</br>
                                ● Comprobante de domicilio</br>
                                ● Identificación</br></br>


                              </div>

                              <div class="col">
                                <strong>Manuales de validación</strong></br>
                                <a class="Botonmanual row py-3 px-3" href="docs/manualesdoc/Peru/validar_certificado.pdf"
                                  target="_blank">¿Cómo validar un antecedente academico?</a>
                                <a class="Botonmanual row py-3 px-3" href="docs/manualesdoc/Peru/validar_identificacion.pdf"
                                  target="_blank">¿Cómo validar una identificación?</a>
                                <a class="Botonmanual row py-3 px-3" href="docs/manualesdoc/Peru/validar_comprobante.pdf"
                                  target="_blank">¿Cómo validar un Comprobante de domicilio?</a>
                                <a class="Botonmanual row py-3 px-3" href="docs/manualesdoc/Peru/validar_cartayanexo.pdf"
                                  target="_blank">¿Cómo validar una carta compromiso y anexo?</a>
                                <a class="Botonmanual row py-3 px-3" href="docs/manualesdoc/Peru/validar-cartamotivos.pdf"
                                  target="_blank">¿Cómo validar una carta motivos?</a>
                                <a class="Botonmanual row py-3 px-3" href="docs/manualesdoc/Peru/validar-curriculum.pdf"
                                  target="_blank">¿Cómo validar un curriculum?</a> 
                                <a class="Botonmanual row py-3 px-3" href="docs/manualesdoc/Peru/validar-laboral.pdf"
                                  target="_blank">¿Cómo validar una constancia laboral?</a> 
                                <a class="Botonmanual row py-3 px-3" href="docs/manualesdoc/Peru/validar-ingles.pdf"
                                  target="_blank">¿Cómo validar una constancia de inglés?</a> 
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>  
                       
                      <!---Republica Dominicana--->
                      <div class="accordion-item">
                        <!--Botón-->
                        <h2 class="accordion-header" id="panelsStayOpen-headingDocumentosDominicana">
                          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#panelsStayOpen-collapseDocumentosDominicana" aria-expanded="true"
                            aria-controls="panelsStayOpen-collapseDocumentosDominicana">
                            Documentos Republica Dominicana
                          </button>
                        </h2>
                        <!--Contenido-->
                        <div id="panelsStayOpen-collapseDocumentosDominicana" class="accordion-collapse collapse"
                          aria-labelledby="panelsStayOpen-headingDocumentosDominicana">
                          <div class="accordion-body">
                            <h2 class="text-center">Republica Dominicana</h2>
                            <div class="row">
                              <div class="col">

                                <strong>Documentación para licenciatura:</strong> </br></br>
                                ● Antecedentes académicos bachillerato</br>
                                ● Carta compromiso</br>
                                ● Carta motivos</br>
                                ● Comprobante de domicilio</br>
                                ● Identificación</br></br>

                                <strong>Documentación para Maestría:</strong> </br></br>
                                ● Antecedentes académicos licenciatura</br>
                                ● Carta compromiso</br>
                                ● Carta motivos</br>
                                ● Constancia laboral</br>
                                ● Curriculum</br>
                                ● Comprobante de domicilio</br>
                                ● Identificación</br></br>

                                <strong>Documentación para Doctorado:</strong> </br></br>
                                ● Antecedentes académicos licenciatura</br>
                                ● Carta compromiso</br>
                                ● Carta motivos</br>
                                ● Constancia laboral</br>
                                ● Curriculum</br>
                                ● Comprobante de domicilio</br>
                                ● Identificación</br></br>

                              </div>

                              <div class="col">
                                <strong>Manuales de validación</strong></br>
                                <a class="Botonmanual row py-3 px-3" href="docs/manualesdoc/Dominicana/validar_certificado.pdf"
                                  target="_blank">¿Cómo validar un antecedente academico?</a>
                                <a class="Botonmanual row py-3 px-3" href="docs/manualesdoc/Dominicana/validar_identificacion.pdf"
                                  target="_blank">¿Cómo validar una identificación?</a>
                                <a class="Botonmanual row py-3 px-3" href="docs/manualesdoc/Dominicana/validar_comprobante.pdf"
                                  target="_blank">¿Cómo validar un Comprobante de domicilio?</a>
                                <a class="Botonmanual row py-3 px-3" href="docs/manualesdoc/Dominicana/validar_cartayanexo.pdf"
                                  target="_blank">¿Cómo validar una carta compromiso y anexo?</a>
                                <a class="Botonmanual row py-3 px-3" href="docs/manualesdoc/Dominicana/validar-cartamotivos.pdf"
                                  target="_blank">¿Cómo validar una carta motivos?</a>
                                <a class="Botonmanual row py-3 px-3" href="docs/manualesdoc/Dominicana/validar-curriculum.pdf"
                                  target="_blank">¿Cómo validar una carta curriculum?</a> 
                                <a class="Botonmanual row py-3 px-3" href="docs/manualesdoc/Dominicana/validar-laboral.pdf"
                                  target="_blank">¿Cómo validar una constancia laboral?</a> 
                              </div>
                            </div>
                          </div>
                        </div>

                      </div>
                  
                      <!---USA
                      <div class="accordion-item">
                  
                        <h2 class="accordion-header" id="panelsStayOpen-headingDocumentosUSA">
                          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#panelsStayOpen-collapseDocumentosUSA" aria-expanded="true"
                            aria-controls="panelsStayOpen-collapseDocumentosUSA">
                            Documentos USA
                          </button>
                        </h2>
            
                        <div id="panelsStayOpen-collapseDocumentosUSA" class="accordion-collapse collapse"
                          aria-labelledby="panelsStayOpen-headingDocumentosUSA">
                          <div class="accordion-body">
                            <h2 class="text-center">Documentos USA</h2>
                            <div class="row">
                              <div class="col">

                                <strong>Documentación para licenciatura:</strong> </br></br>
                                -Antecedentes académicos bachillerato</br>
                                -Carta compromiso</br>
                                -Carta motivos</br>
                                -Comprobante de domicilio</br>
                                -Identificación</br></br>

                                <strong>Documentación para Maestría:</strong> </br></br>
                                -Antecedentes académicos licenciatura</br>
                                -Carta compromiso</br>
                                -Carta motivos</br>
                                -Constancia laboral
                                -Curriculum
                                -Comprobante de domicilio</br>
                                -Identificación</br></br>

                                <strong>Documentación para Doctorado:</strong> </br></br>
                                -Antecedentes académicos licenciatura</br>
                                -Carta compromiso</br>
                                -Carta motivos</br>
                                -Constancia laboral
                                -Curriculum
                                -Comprobante de domicilio</br>
                                -Identificación</br></br>

                              </div>

                              <div class="col">
                                <strong>Manuales de validación</strong></br>
                                <a class="Botonmanual row py-3 px-3" href="docs/manualesdoc/Argentina/validar_certificado.pdf"
                                  target="_blank">¿Cómo validar un antecedente academico?</a>
                                <a class="Botonmanual row py-3 px-3" href="docs/manualesdoc/Argentina/validar_identificacion.pdf"
                                  target="_blank">¿Cómo validar una identificación?</a>
                                <a class="Botonmanual row py-3 px-3" href="docs/manualesdoc/Argentina/validar_comprobante.pdf"
                                  target="_blank">¿Cómo validar un Comprobante de domicilio?</a>
                                <a class="Botonmanual row py-3 px-3" href="docs/manualesdoc/Argentina/validar_cartayanexo.pdf"
                                  target="_blank">¿Cómo validar una carta compromiso y anexo?</a>
                                <a class="Botonmanual row py-3 px-3" href="docs/manualesdoc/Argentina/validar-cartamotivos.pdf"
                                  target="_blank">¿Cómo validar una carta motivos?</a>
                                <a class="Botonmanual row py-3 px-3" href="docs/manualesdoc/Argentina/validar-curriculum.pdf"
                                  target="_blank">¿Cómo validar una carta curriculum?</a> 
                                <a class="Botonmanual row py-3 px-3" href="docs/manualesdoc/Argentina/validar-laboral.pdf"
                                  target="_blank">¿Cómo validar una constancia laboral?</a> 
                              </div>
                            </div>
                          </div>
                        </div>

                      </div>

                      --->

                    </div>
                  </div>
                </div>

                <!--Documentos Alianzas-->
                <div class="accordion-item">
                  <h2 class="accordion-header" id="panelsStayOpen-headingAlianzas">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                      data-bs-target="#panelsStayOpen-collapseAlianzas" aria-expanded="false"
                      aria-controls="panelsStayOpen-collapseAlianzas">
                      Documentación para alumnos Alianzas
                    </button>
                  </h2>

                  <div id="panelsStayOpen-collapseAlianzas" class="accordion-collapse collapse"
                    aria-labelledby="panelsStayOpen-headingAlianzas">
                    <div class="accordion-body">

                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="row row-cols-1 row-cols-xl-1 row-cols-md-1 g-4 my-1">
            <div class="col">
              <div class="card border-0 mb-3">
                <div class="row g-0">

                  <div class="col-md-8">
                    <div class="card-body">
                      
                      <h5 class="card-title text-center">
                      Archivo
                      </h5>

                      <p>

                        ● El área de archivo se encarga de: <br/>
                        ● Recibir los documentos de los alumnos.<br/>
                        ● Gestionan las guías de entrega de documentos.<br/>
                        ● Validan documentos físicos que entregan alumnos o paqueterías.<br/>
                        ● Validan en SIU documentos digitales.<br/>
                        ● Validan en los expedientes de documentos que el alumno indica haber enviado.<br/>
                        ● Realizan escaneo de documentos.<br/>
                        ● Realizan préstamos y devoluciones de documentos.<br/>
                        ● Capturan datos de documentos de escuela de procedencia en banner.<br/>
                        ● Reciben documentos de trámite de EQ, Rev y Dictamen técnico.

                      </p>

                      <h5 class="card-title text-center">
                      Responsable.
                      </h5>

                      <p>
                      Maricela García Rosales <br/>
                      mgarciar@utel.edu.mx
                      </p>
                    </div>
                  </div>

                  <div class="col-md-4">
                  </div>
                </div>
              </div>
            </div>
          </div>
          
          <div>
            <div class="card border-0 py-3 px-3" >

              <div class="framedoc m-5">
              <iframe src="docs/doc/tablacorrespondencia.pdf" width="100%" height="680px"></iframe>

              </div>
            </div>
          </div>
        </div>

        <!--Tipos de ingreso-->
        <div class="bloque" id="bloqueTiposiIngreso">
          <div class="border border-0 card mt-1">

            <div class="card border-0 py-3 px-3" >
              <h4><b>¿Que es el tipo de Ingreso?</b></h4></br>

              <a>
                Se asigna según la situación escolar y antecedentes académicos de cada alumno, incluyen: regular, equivalencia de materias, revalidación de estudios o dictamen técnico.
              </a>
            </div>

            <div class="row row-cols-1 row-cols-xl-1 row-cols-md-1 g-4 my-1">


              <!--Regular-->
              <div class="col">
                <div class="card border-0 mb-3">
                  <div class="row g-0">

                    <div class="col-md-8">
                      <div class="card-body">
                        <h5 class="card-title text-center">Regular</h5>
                        <p class="card-text" style="text-align: justify;">
                          Proceso estándar mediante el cual los alumnos solicitan y son admitidos en
                          programas académicos regulares que no piensan hacer equivalencia de materias o revalidación.
                          Esto implica seguir los procedimientos y requisitos establecidos por la universidad.
                        </p>

                      </div>

                      <div class="px-2 py-2">
                        <div class="accordion" id="accordionPanelsStayOpenExample">
                          <div class="accordion-item">
                            <h2 class="accordion-header" id="panelsStayOpen-headingOne">
                              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true"
                                aria-controls="panelsStayOpen-collapseOne">
                                Documentación regular
                              </button>
                            </h2>
                            <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingOne">
                              <div class="accordion-body">
                                <div class="container rounded-3 my-3 py-3 bg-white">
                                  <h5 class="text-center">Documentación regular</h5>


                                  • Certificado de Bachillerato (Legalizado) por ambos lados
                                  </br>
                                  • Identificación Oficial (IFE por ambos lados o Pasaporte)
                                  </br>
                                  • CURP
                                  </br>
                                  • Comprobante de Domicilio (Teléfono fijo, Agua, Luz o Gas natural)
                                  </br>
                                  
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>

                    <div class="col-md-4">
                      <h6>Mas sobre equivalencia</h6>
                      <img style="height: 300px" src="img/regular.png">
                    </div>
                  </div>
                </div>
              </div>


              <!--Equivalencia-->
              <div class="col">
                <div class="card border-0 mb-3">
                  <div class="row g-0">

                    <div class="col-md-8">
                      <div class="card-body">
                        <h5 class="card-title text-center">Equivalencia de materias:</h5>
                        <p class="card-text" style="text-align: justify;">
                          Trámite mediante el cual la Autoridad Educativa o la Institución declara equiparables entre sí estudios realizados dentro del Sistema Educativo Nacional.
                        </p>

                      </div>

                      <div class="px-2 py-2">
                        <div class="accordion" id="accordionPanelsStayOpenExample">
                          <div class="accordion-item">
                            <h2 class="accordion-header" id="panelsStayOpen-headingOne">
                              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true"
                                aria-controls="panelsStayOpen-collapseOne">
                                Documentación de equivalencia
                              </button>
                            </h2>
                            <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingOne">
                              <div class="accordion-body">
                                <div class="container rounded-3 my-3 py-3 bg-white">
                                  <h5 class="text-center">Documentación de equivalencia</h5>


                                  • Certificado de Bachillerato (Legalizado) por ambos lados
                                  </br>
                                  • Identificación Oficial (IFE por ambos lados o Pasaporte)
                                  </br>
                                  • CURP
                                  </br>
                                  • Comprobante de Domicilio (Teléfono fijo, Agua, Luz o Gas natural)
                                  </br>
                                  • Carta de cesión de derechos con firma autógrafa (revisa formato ejemplo de llenado)
                                  Predictamen con firma de aceptación
                                  </br>
                                  • Realiza el pago de derechos
                                  </br>
                                  • Certificado parcial o total de estudios a equivaler (legalizado)

                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>

                    <div class="col-md-4">
                      <h6>Mas sobre equivalencia</h6>
                      <img style="height: 300px" src="img/equivalencia.png">
                    </div>
                  </div>
                </div>
              </div>

              <!--Revalidación-->
              <div class="col">
                <div class="card border-0 mb-3">

                  <div class="row g-0">

                    <div class="col-md-8">
                      <div class="card-body">
                        <h5 class="card-title text-center">Revalidación de estudios:</h5>
                        <p class="card-text" style="text-align: justify;">

                        Trámite mediante el cual la autoridad educativa otorga validez oficial a estudios realizados en el extranjero, siempre y cuando sean equiparables con estudios que se impartan en el Sistema Educativo Nacional.

                        </p>

                      </div>

                      <div class="px-2 py-2">
                        <div class="accordion" id="accordionPanelsStayOpenExample">

                          <div>

                            <div class="accordion-item">
                              <h2 class="accordion-header" id="panelsStayOpen-heading2">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                  data-bs-target="#panelsStayOpen-collapse2" aria-expanded="true"
                                  aria-controls="panelsStayOpen-collapse2">
                                  Documentación de revalidación
                                </button>
                              </h2>
                              <div id="panelsStayOpen-collapse2" class="accordion-collapse collapse"
                                aria-labelledby="panelsStayOpen-heading2">
                                <div class="accordion-body">
                                  <div class="container rounded-3 my-3 py-3 bg-white">
                                    <h5 class="text-center">Documentación de revalidación</h5>

                                    • Certificado de Bachillerato (Legalizado) por ambos lados
                                    </br>
                                    • Identificación Oficial (IFE por ambos lados o Pasaporte)
                                    </br>
                                    • CURP
                                    </br>
                                    • Comprobante de Domicilio (Teléfono fijo, Agua, Luz o Gas natural)
                                    </br>
                                    • Carta de cesión de derechos con firma autógrafa (revisa formato ejemplo de llenado)
                                    Predictamen con firma de aceptación
                                    </br>
                                    • Realiza el pago de derechos
                                    </br>
                                    • Certificado parcial o total de estudios a equivaler (legalizado)
                                  </div>
                                </div>
                              </div>

                            </div>

                          </div>

                        </div>

                      </div>
                    </div>

                    <div class="col-md-4">
                      <img loading="lazy" style="height: 300px" src="img/revalidacion.png">
                    </div>

                  </div>
                </div>
              </div>

              <!--Dictamen técnico-->
              <div class="col">
                <div class="card border-0 mb-3">

                  <div class="row g-0">

                    <div class="col-md-8">
                      <div class="card-body">
                        <h5 class="card-title text-center">Dictamen técnico</h5>
                        <p class="card-text" style="text-align: justify;">

                          Finalidad de reconocer estudios de Educación Media Superior y Superior realizados en el extranjero, únicamente con fines académicos para facilitar el ingreso de alumnos a escuelas mexicanas que imparten planes de estudios con reconocimiento de validez oficial.

                        </p>
                        <div class="px-2 py-2">
                          <div class="accordion" id="accordionPanelsStayOpenExample">

                            <div>

                              <div class="accordion-item">
                                <h2 class="accordion-header" id="panelsStayOpen-heading3">
                                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#panelsStayOpen-collapse3" aria-expanded="true"
                                    aria-controls="panelsStayOpen-collapse3">
                                    Documentación de dictamen técnico
                                  </button>
                                </h2>
                                <div id="panelsStayOpen-collapse3" class="accordion-collapse collapse"
                                  aria-labelledby="panelsStayOpen-heading3">
                                  <div class="accordion-body">
                                    <div class="container rounded-3 my-3 py-3 bg-white">
                                      <h5 class="text-center">Documentación de dictamen técnico</h5>                                      

                                      • Formato Digital de Acta de Nacimiento o Documento que acredite la identidad del interesado
                                      </br>
                                      • Formato digital de Certificado de Estudios/Diplomas/Constancias/Títulos o Grados Académicos
                                      </br>
                                      • Formato digital del comprobante de domicilio vigente (máximo tres meses).
                                      </br>
                                      • Formato digital de la Ficha de inscripción
                                      </br>
                                      • Formato digital de la Carta compromiso de ingreso. Los alumnos tienen un plazo de 4 meses para entregar los documentos originales o
                                      copias certificadas.
                                      </br>
                                      • Formato digital del comprobante de pago.
                                    </div>
                                  </div>
                                </div>

                              </div>

                            </div>

                          </div>

                        </div>

                      </div>
                    </div>

                    <div class="col-md-4">
                      <img style="height: 300px" src="img/dictamen.png ">
                    </div>


                  </div>
                </div>
              </div>

            </div>
          </div>

        </div>

        <!--Legalización-->
        <div class="bloque" id="bloqueLegalizacion">

          <div class="row row-cols-1 row-cols-xl-1 row-cols-md-1 g-4 my-1">
            <div class="col">
              <div class="card border-0 mb-3">
                <div class="row g-0">

                  <div class="col-md-8">
                    <div class="card-body">
                      <h5 class="card-title text-center">¿Qué es la legalización?</h5>
                      <p class="card-text" style="text-align: justify;">
                        Es el trámite que consiste en autenticar las firmas que contiene el certificado de estudios, este trámite se lleva a cabo en oficinas de gobierno del estado donde se emitió el documento.
                      </p>

                      <h5 class="card-title text-center">¿Qué documentos requieren de legalización?</h5>


                      <p class="card-text">

                        Los documentos que NO cuenten con alguno de estos requerimientos:</br>
                      <ul>

                        <li>
                          La leyenda de "Este documento es válido en toda la República Mexicana y no requiere tramites
                          adicionales de legalización"
                        </li>
                        <li>
                          Los documentos que tengan escrito correspondiente al Artículo 60 de la Ley General de
                          Educación. Los estudios realizados dentro del sistema educativo nacional tendrán validez en
                          toda la República.
                        </li>
                        <li>
                          Los documentos que tengan el sello del poder ejecutivo
                        </li>
                      </ul>
                      </p>
                      <h5 class="card-title text-center">¿Qué instituciones no requieren de legalización? </h5>
                      <p class="card-text">
                        Los documentos que NO cuenten con alguno de estos requerimientos:</br>
                      <ul>
                        <li>
                          UNAM
                        </li>
                        <li>
                          IPN
                        </li>
                        <li>
                          UAM
                        </li>
                      </ul>
                      </p>
                    </div>

                    <div class="border-3 card card-importante mx-3 mb-5">
                      <div class="card-body">
                        <strong class="">Importante</strong>
                        <p class="card-text" style="text-align: justify;">
                          Es importante resaltar que los documentos que solicitamos ya no son requeridos para legalizar
                          en caso de ingresos regulares, solo aplica para
                          certificados parciales para trámites de equivalencia; en caso de que se requiera la
                          legalización se le indica al alumno.
                        </p>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <img loading="lazy" style="width:  300px" src="img/Lega.png ">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!--Dictaminación-->
        <div class="bloque" id="bloqueArchivo">

          <div class="card border-0 py-3 px-3" >

          <h4><b>¿Qué es la dictaminación?</b></h4>
          
          <p style="text-align: justify;">
            Es el procedimiento mediante el cual la institución donde estudio el bachillerato subsana datos faltantes en el Certificado de estudios de Bachillerato
          </P>

          <h4 class="text-center"><b>Proceso</b></h4>

          <div class="row row-cols-1 row-cols-xl-1 row-cols-md-1 g-4 my-1">
            <div class="col">
              <div class="card border-0 mb-3" >
                  <div class="row g-0">

                    

                    <div class="col-lg-5">
                      <img class="mx-auto d-block img-fluid" src="img/Recoleccion/dicdocs.png">
                      
                    </div>


                    <div class="col-lg-7">

                      <div class="card border-0 mb-3 py-2" style="display: block;">

                         <h4 class="text-center" >Constancia de autenticidad</h4>
                        
                        <img class="mx-auto d-block img-fluid" src="img/Recoleccion/acuse-autenticacion.PN">
                        
                      </div>

                      <div class="card border-0 mb-3 py-2" style="display: block;">

                        <h4 class="text-center" >Aviso para el alumno</h4>
                        
                        <img class="mx-auto d-block img-fluid" src="img/Recoleccion/infoalumnos.PNG">
                        
                      </div>  

                    </div>

                    <div class="border-3 card card-aviso mx-3 mb-3 justify-content-center ">
                      <div class="card-body">

                        <p class="card-text">
                          DAPO: es el el nombre de la solicitud proceso de detección de documentación que carece de validez oficial.
                        </p>
                      </div>
                    </div>

                    
                  </div>
              </div>
            </div>
          </div>

          <h4><b>Ligas para validación de documentos</b></h4>

          <div class="row row-cols-1 row-cols-xl-1 row-cols-md-1 g-4 my-1">
            <div class="col">
              <div class="card border-0 mb-3" >
                  <div class="row g-0">   

                    <div class="col-lg-3">
                      Sistema de Información y Gestión Educativa<br/>
                      Validación de documentos académicos electrónicos
                    </div>

                    <div class="col-lg-3">
                        
                      <a href="https://siged.sep.gob.mx/SIGED/documentos.html?folio=CTG17017688" target="_blank">
                        <button class="col btn botonejemdoc" type="button" >
                          <img class="img-fluid" src="./img/Recoleccion/Validacion1.PNG">
                        </button>
                      </a> 
                    </div>

                    <div class="col-lg-3">
                       Validación de certificados del colegio de bachilleres
                    </div>

                    <div class="col-lg-3 card border-0">
                      <a href="https://siiaa.cbachilleres.edu.mx/certificados/" target="_blank">
                        <button class="col btn botonejemdoc" type="button" >
                          <img class="img-fluid" src="./img/Recoleccion/Validacion2.PNG">
                        </button>
                      </a> 
                    </div>
                    

                    <div class="col-lg-3">
                      Consulta de Certificados<br/>
                      Dirección general de bachillerato
                    </div>

                    <div class="col-lg-3 card border-0">
                      <a href="http://www.pace.sep.gob.mx/certificadosdgb/certificadoremesadetalles?find=ByFolioEq" target="_blank">
                        <button class="col btn botonejemdoc" type="button" >
                          <img class="img-fluid" src="./img/Recoleccion/Validacion3.PNG">
                        </button>
                      </a> 
                    </div>


                    <div class="col-lg-3">
                    Validación de certificados del cecyte

                    </div>

                    <div class="col-lg-3 card border-0">
                      <a href="https://certificados.cecyte.saeko.io/" target="_blank">
                        <button class="col btn botonejemdoc" type="button" >
                          <img class="img-fluid" src="./img/Recoleccion/Validacion4.PNG">
                        </button>
                      </a> 
                    </div>


                    <div class="col-lg-3">
                    Validación de certificados de la Prepa en Línea-SEP

                    </div>

                    <div class="col-lg-3">
                      <a href="https://prepaenlinea.sep.gob.mx/validarcertificado/" target="_blank">
                        <button class="col btn botonejemdoc" type="button" >
                          <img class="img-fluid" src="./img/Recoleccion/Validacion5.PNG">
                        </button>
                      </a> 
                    </div>


                    <div class="col-lg-3">
                    Ventanilla Electrónica<br/>
                    Subsecretaría de Educación Media Superior

                    </div>

                    <div class="col-lg-3">
                      <a href="https://sems.edomex.gob.mx/ventanilla-electronica" target="_blank">
                        <button class="col btn botonejemdoc" type="button" >
                          <img class="img-fluid" src="./img/Recoleccion/Validacion6.PNG">
                        </button>
                      </a> 
                    </div>


                    <div class="col-lg-3">
                    Validación de certificados del Conalep

                    </div>

                    <div class="col-lg-3 ">
                      <a href="https://ct.conalep.edu.mx/folio?f=2f606dc2-3d22-4aca-9af8-22ee96de8d3f" target="_blank">
                        <button class="col btn botonejemdoc" type="button" >
                          <img class="img-fluid" src="./img/Recoleccion/Validacion7.PNG">
                        </button>
                      </a> 
                    </div>

                  </div>
              </div>
            </div>
          </div>

          </div>

        </div>

        <!--Procesos-->
        <div class="bloque" id="bloqueProcesosCD">
          <h1>Procesos de recolección de documentos</h1>
          <div class="row row-cols-1 row-cols-xl-1 row-cols-md-1 g-4 my-1">
            <div class="col">
              <div class="card border-0 mb-3">
                <div class="row g-0">
                  <div class="col-md-6">
                    <div class="card-body">
                      <h5 class="card-title text-center">¿Cómo se hace el préstamo?</h5>
                      <p class="card-text" style="text-align: justify;"> 
                        Se requiere el formato de préstamo Licenciatura o Maestría; el cual debe ser llenado por el
                        alumno

                        <br /><br />
                        Se requiere el archivo con la guía o bien registrar en la solicitud, que el alumno o una tercera
                        persona
                        (debe presentar el formato carta poder para terceros) recogerá los documentos.

                        <br /><br />
                        Con ambos requisitos cubiertos, se genera la solicitud por medio de Flokzu:
                      </p>
                      <a href="https://app.flokzu.com/public/01bb9LARCH-PREST" class="Botonmanual row py-2 px-2 text-center justify-content-center" target="_blank">Ir</a></br>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <img style="width:  450px" src="img/Prestadoc.png ">
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="row row-cols-1 row-cols-xl-1 row-cols-md-1 g-4 my-1">
            <div class="col">
              <div class="card border-0 mb-3">
                <div class="row g-0">

                  <div class="col-md-6">
                    <div class="card-body">
                      <h5 class="card-title text-center">¿Cómo se hace una devolución de documentos?</h5>
                      <p class="card-text" style="text-align: justify;">

                        El alumno necesita contratar una guía prepagada de la paquetería de su preferencia para que con
                        ella se dé salida a sus documentos (solo en casos extraordinarios el exalumno o una tercera
                        persona* podrá acudir por los documentos) *Si es una tercera persona deberá presentar el formato
                        carta poder para terceros

                        <br /><br />
                        Se hace la solicitud por medio de Flokzu: 
                      </p>
                      <a href="https://app.flokzu.com/public/01bb9LARCH-PREST" class="Botonmanual row py-2 px-2 text-center justify-content-center" target="_blank">Ir</a></br>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <img style="width:  450px" src="img/Devo.png ">
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="row row-cols-1 row-cols-xl-1 row-cols-md-1 g-4 my-1">
            <div class="col">
              <div class="card border-0 mb-3">
                <div class="row g-0">

                  <div class="col-md-6">
                    <div class="card-body">
                      <h5 class="card-title text-center">¿Cómo se hace el escaneo?</h5>
                      <p class="card-text" style="text-align: justify;">
                        Se hace la solicitud por medio de Flokzu
                        <br /><br />
                        Una vez hecha la solicitud, el área de archivo responde la solicitud (aproximadamente en 48
                        horas) y se le envía el escaneo al correo del alumno (es importante confirmar el correo del
                        alumno).
                      </p>
                      <a href="https://app.flokzu.com/public/01bb9LSCANDOC" class="Botonmanual row py-2 px-2 text-center justify-content-center" target="_blank">Ir</a></br>
                    </div>
                  </div>

                  <div class="col-md-6">
                    <img style="width:  450px" src="img/Escaneo.png ">
                  </div>
                </div>
              </div>
            </div>
 
          </div>
          
        </div>
      </div>
    </div>
  </div>