<div class="modal fade imagen-ampliada" id="imagenModalguia" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-xl"> 
    <div class="modal-content">
      <div class="modal-body">
        <div class="container card border border-0">

          <div class="row row-cols-1 row-cols-xl-2 row-cols-md-2">

            <div class="col">
              <h5 class="offcanvas-title text-center" id="offcanvasBottomLabeltitint">Diploma intermedio auxiliar</h5>
              <div id="carouseltitinter" class="carousel carousel-ejemplo slide">
                <div class="carousel-inner carousel-inner-ejemplo">
                  <div class="carousel-item active">
                    <img src="img/escolares/Titulo_intermedio.png" class="imagenes_ejemplo d-block w-100" alt="...">
                  </div>
                  <div class="carousel-item">
                    <img src="img/escolares/Titulo_intermedio2.png" class="imagenes_ejemplo d-block w-100" alt="...">
                  </div>
                  <div class="carousel-item">
                    <img src="img/escolares/Titulo_intermedio3.png" class="imagenes_ejemplo d-block w-100" alt="...">
                  </div>
                  <div class="carousel-item">
                    <img src="img/escolares/Titulo_intermedio4.png" class="imagenes_ejemplo d-block w-100" alt="...">
                  </div>
                  <div class="carousel-item">
                    <img src="img/escolares/Titulo_intermedio5.png" class="imagenes_ejemplo d-block w-100" alt="...">
                  </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouseltitinter" data-bs-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouseltitinter" data-bs-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Next</span>
                </button>
              </div>
              
            </div>
            
            <div class="col card border border-0">

              <strong class="py-3 px-3" style="text-align: center;"> Características del diploma intermedio</strong>
              <a style="text-align: justify;">

                Documento con valor curricular otorgado por la Universidad, que avala las habilidades adquiridas durante el primer y segundo 
                año de licenciatura, según corresponda. Para obtenerlo debes tener tu expediente digital. </br></br>
                
                *Estos diplomas son adicionales y no reemplazan al Título Profesional de Licenciatura. </br></br>

                *Nota: La información que se encuentra actualmente en tu SIU es la misma que se plasmará en tu documento solicitado. Revisa que esté correcta ya que no habrá cambios.
              </a>
            </div>
          </div>  
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade imagen-ampliada" id="imagenModalguia2" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-xl"> 
    <div class="modal-content">
      <div class="modal-body">
        <div class="container card border border-0">
          <div class="container card border border-0">

            <div class="row row-cols-1 row-cols-xl-2 row-cols-md-2">

              <div class="col">
                <h5 class="offcanvas-title text-center" id="offcanvasBottomLabeltitint" >Diploma intermedio analista</h5>

                <div id="carouseltitinter2" class="carousel carousel-ejemplo slide">
                  <div class="carousel-inner carousel-inner-ejemplo">
                    <div class="carousel-item active">
                      <img src="img/escolares/Titulo2_intermedio.PNG" class="imagenes_ejemplo d-block w-100" alt="...">
                    </div>
                    <div class="carousel-item">
                      <img src="img/escolares/Titulo2_intermedio2.PNG" class="imagenes_ejemplo d-block w-100" alt="...">
                    </div>
                    <div class="carousel-item">
                      <img src="img/escolares/Titulo2_intermedio3.PNG" class="imagenes_ejemplo d-block w-100" alt="...">
                    </div>
                    <div class="carousel-item">
                      <img src="img/escolares/Titulo2_intermedio4.PNG" class="imagenes_ejemplo d-block w-100" alt="...">
                    </div>
                    <div class="carousel-item">
                      <img src="img/escolares/Titulo2_intermedio6.PNG" class="imagenes_ejemplo d-block w-100" alt="...">
                    </div>
                  </div>
                  <button class="carousel-control-prev" type="button" data-bs-target="#carouseltitinter2" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                  </button>
                  <button class="carousel-control-next" type="button" data-bs-target="#carouseltitinter2" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                  </button>
                </div>
                
              </div>
              
              <div class="col card border border-0">

                <strong class="py-3 px-3" style="text-align: center;"> Características del Diploma intermedio</strong>
                <a style="text-align: justify;">

                  Documento con valor curricular otorgado por la Universidad, que avala las habilidades adquiridas durante el primer y segundo 
                  año de licenciatura, según corresponda. Para obtenerlo debes tener tu expediente digital. </br></br>
                  
                  *Estos diplomas son adicionales y no reemplazan al Título Profesional de Licenciatura. </br></br>

                  *Nota: La información que se encuentra actualmente en tu SIU es la misma que se plasmará en tu documento solicitado. Revisa que esté correcta ya que no habrá cambios.
                </a>
              </div>
            </div>  
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="container rounded-3 py-3 bg-white"> 

    <h1 class="text-center" id="certificacion">Servicios escolares</h1>
    <div class="contenedor ">
      <ul class="ul container">
          <div class="row text-center">
          <div class="col"><li class="li activo" id="menuTiposIngresoSe">Tipos de ingreso</li></div>
          <div class="col"><li class="li" id="menuTramitesEscolares">Trámites que realiza escolares</li></div>
          <div class="col"><li class="li" id="menuCostosSe">Costos en plataforma</li></div>
          <div class="col"><li class="li" id="menuPreguntas_fSe">Diploma intermedio</li></div>
          </div>
      </ul>

      <div class="subcontenedor">

        <!--Tipos de ingreso-->
        <div class="bloque activo" id="bloqueTiposIngresoSe">
          <div class="border border-0 card mt-1">
            
            <div class="card border-0 py-3 px-3" >
              <h4><b>¿Qué son los tipos de ingreso?</b></h4></br>
              <a>
              Para ingresar a cursar un grado académico dentro de Utel es necesario determinar el tipo de ingreso al plan académico para 
              identificar las intenciones del alumno, existen 3 tipos de ingreso para determinar la situación del alumno.
              </a>
            </div>  
            
            <div class="row row-cols-1 row-cols-xl-1 row-cols-md-1 g-4 my-1">
              <!--Equivalencia--> 
              <div class="col">
                <div class="card border-0 mb-3" >

                    <div class="row g-0">

                      <div class="col-md-6">
                        <div class="card-body">
                          <h5 class="card-title text-center">Equivalencia</h5>
                          <p class="card-text" style="text-align: justify;">     
                            Trámite ante SEP para equiparar estudios realizados en el sistema educativo nacional.<br/><br/>

                            Una equivalencia es el documento a través del cual la autoridad educativa declara equiparables 
                            entre sí estudios realizados dentro del Sistema Educativo Nacional. <br/>
                          </p>
                        </div>                       
                      </div>

                      <div class="col-md-6">                        
                        <video class="img-fluid" controls>
                          <source src="videos/Equivalencia.mp4" type="video/mp4">
                          <p></p>
                        </video>
                      </div>
                      
                    </div>
                </div>

              </div>

              <!--Revalidación--> 
              <div class="col">
                <div class="card border-0 mb-3" >

                    <div class="row g-0">

                      <div class="col-md-6">
                        <div class="card-body">
                          <h5 class="card-title text-center">Revalidación</h5>
                          <p class="card-text" style="text-align: justify;">      
                            
                            
                            Una revalidación es el documento a través del cual la autoridad educativa otorga validez 
                            oficial a estudios realizados fuera del Sistema Educativo Nacional (en el extranjero), 
                            siempre y cuando sean equiparables con estudios realizados dentro de dicho sistema.      
                            <br/><br/>
                            En este trámite el alumno debe llevar a cabo el proceso de revalidación correspondiente y cumplir con las 
                            normas establecidas. (Los alumnos que ingresen por esta opción, su egreso será el mismo que un alumno regular, 
                            cumpliendo con su servicio social para poder realizar su registro para emisión de cédula profesional, 
                            de igual forma es necesario realizar el trámite de obtención de CURP).
                                                      

                          </p>

                        </div>

                      </div>

                      <div class="col-md-6">
                        <video class="img-fluid" controls>
                          <source src="videos/Revalidación.mp4" type="video/mp4">
                          <p></p>
                        </video>
                      </div>
                    
                    </div>
                </div>

              </div>

              <!--Dictamen Técnico--> 
              <div class="col">
                <div class="card border-0 mb-3" >


                    <div class="row g-0">

                      <div class="col-md-8">
                        <div class="card-body">
                          <h5 class="card-title text-center">Dictamen Técnico</h5>
                          <p class="card-text">     
                            
                            Este proceso aplica para los alumnos que ingresan a Utel con fines académicos sin la 
                            intención de ejercer profesionalmente en México.</br></br>

                            Se creará una etiqueta de ingreso denominada Dictamen Técnico para identificar a los alumnos 
                            desde su inscripción y hacer el acompañamiento correspondiente


                          </p>
                          <div class="px-2 py-2">
          
                          </div>

                        </div>
                      </div>

                      <div class="col-md-4">
                        <img style="height: 300px" src="img/dictamen.png ">
                      </div>
                    
                      
                    </div>
                </div>

              </div>

          </div>
        </div>

        </div>

        <!--Tramites que realiza escolares-->
        <div class="bloque" id="bloqueTramitesEscolares">
          <h4><b>Trámites que realiza escolares</b></h4></br>
          
          <div class="row">

            <div class="col-8">

              <div class="tramites">

              <!--Constacia de término-->
              <div class="card border-0 mb-3 py-2 doc activo" style="display: block;" id="conster">
                <div class="card-body">
                  <h5 class="card-title">Constancia de término</h5>
                  <p class="card-text"><small class="text-muted">Alumno/Egresado</small></p>
                  <p class="card-text" style="text-align: justify;">

                  Documento que hace constar que han concluido el 100% de los créditos del programa cursado, 
                  no contiene foto. <br/><br/>
                  
                  Costo: 500.00 MXN<br/><br/>
                  Tiempo estimado de espera: 5 a 10 días hábiles.<br/>
                  
                  </p>
                </div>
                <img src="img/escolares/Constancia_termino.png " class="card-img-top" alt="...">
              </div>

              <!--Constancia de estudios-->
              <div class="card border-0 mb-3 py-2 doc" style="display: none;" id="cartapas">
                <div class="card-body">
                  <h5 class="card-title">Constancia de estudios</h5>
                  <p class="card-text"><small class="text-muted">Alumno</small></p>
                  <p class="card-text" style="text-align: justify;">
                  Documento que hace constar el estatus de los estudios al momento de su expedición. Para obtenerla el alumno debe tener tu expediente digital completo. 
                  *Debido a la pandemia ocasionada por el COVID-19, la entrega de este documento es solo en formato digital. *Nota: La información que se encuentra actualmente 
                  en SIU es la misma que se plasmará en el documento solicitado. Es importante que el alumno revise que esté correcta ya que no habrá cambios. Hay que tomar en cuenta que calificaciones se actualizan 
                  luego de una semana de cerrado el curso.
                  <br/><br/>
                  
                  Costo: 500.00 MXN<br/><br/>
                  Tiempo estimado de espera: 5 a 10 días hábiles.<br/>
                  
                  </p>
                </div>
                <img src="img/escolares/Constancia_estudios.png " class="card-img-top" alt="...">
              </div>
              
              <!--Carta pasante-->
              <div class="card border-0 mb-3 py-2 doc" style="display: none;" id="historialA">
                <div class="card-body">
                  <h5 class="card-title">Carta pasante</h5>
                  <p class="card-text"><small class="text-muted">Egresado</small></p>
                  <p class="card-text" style="text-align: justify;">
                  Documento que acredita el término de la Licenciatura y que permite desempeñar en el 
                  ámbito laboral de la profesión mientras el alumno se encuentra en el proceso de titulación. 
                  Para obtenerla se debe tener el expediente digital completo y fotografías tamaño óvalo-credencial en digital. <br/><br/>
                  
                  Costo: 500.00 MXN<br/><br/>
                  Tiempo estimado de espera: 5 a 10 días hábiles.<br/>
                  
                  </p>
                </div>
                <img src="img/escolares/Carta_Pasante.png " class="card-img-top" alt="...">
                
              </div>

              <!--Historial académico-->
              <div class="card border-0 mb-3 py-2 doc" style="display: none;" id="equivalencia">
                <div class="card-body">
                  <h5 class="card-title">Historial académico</h5>
                  <p class="card-text"><small class="text-muted">Alumno/Egresado</small></p>
                  <p class="card-text" style="text-align: justify;">
                  Documento que contiene las materias, el período en que se cursaron y la calificación obtenida. Para obtenerlo el alumno debe tener cursado mínimo un cuatrimestre del programa inscrito 
                  y el expediente digital completo. *Debido a la pandemia ocasionada por el COVID-19, la entrega de este documento es solo en formato digital. *Nota: La información que se encuentra 
                  actualmente en SIU es la misma que se plasmará en el documento solicitado. Es importante que el alumno revise que la información es correcta ya que no habrá cambios.
                  <br/><br/>
                  
                  Costo: 500.00 MXN<br/><br/>
                  Tiempo estimado de espera: 5 a 10 días hábiles.<br/>
                  
                  </p>
                </div>
                <img src="img/escolares/Avance_curricular.png " class="card-img-top" alt="...">
                <img src="img/escolares/Avance_curricular2.png " class="card-img-top" alt="...">
              </div>

              <!--Credencial-->
              <div class="card border-0 mb-3 py-2 doc" style="display: none;" id="credencial">
                <div class="card-body">
                  <h5 class="card-title">Credencial</h5>
                  <p class="card-text"><small class="text-muted">Alumno</small></p>
                  <p class="card-text" style="text-align: justify;">
                  Documento que identifica al alumno como parte de la institución.
                  Para obtenerse se debe tener el expediente digital completo.
                  <br/><br/>
                  
                  Costo: 200.00 MXN<br/><br/>
                  Tiempo estimado de espera: a 10 días hábiles<br/>
                  
                  </p>
                </div>
                <img src="img/escolares/Credencial.png " class="card-img-top" alt="...">
              </div>

              <!--Constancia inscripcion-->
              <div class="card border-0 mb-3 py-2 doc" style="display: none;" id="tituloint">
                <div class="card-body">
                  <h5 class="card-title">Constancia de inscripción</h5>
                  <p class="card-text"><small class="text-muted">Alumno</small></p>
                  <p class="card-text" style="text-align: justify;">
                  Documento para alumnos futuros y de nuevo ingreso, que avala su inscripción en un programa Utel.<br/><br/>
                  
                  Costo: 500.00 MXN<br/><br/>
                  Tiempo estimado de espera: 5 a 8 días hábiles<br/>
                  
                  </p>
                </div>
                <img src="img/escolares/constinscrip.png " class="card-img-top" alt="...">

              </div>

              <!--Diploma Master-->
              <div class="card border-0 mb-3 py-2 doc" style="display: none;" id="diplomaMaster">
                <div class="card-body">
                  <h5 class="card-title">Diploma Máster</h5>
                  <p class="card-text"><small class="text-muted">Egresado</small></p>
                  <p class="card-text" style="text-align: justify;">
                  Documento que contiene las materias, el período en que se cursaron y la calificación obtenida<br/><br/>
                  
                  Costo: 500.00 MXN<br/><br/>
                  <!--Diploma MasterTiempo estimado de espera: <br/>-->
                  
                  </p>
                </div>
                <img src="img/escolares/Diploma_master.png " class="card-img-top" alt="...">
                <img src="img/escolares/Diploma_master2.png " class="card-img-top" alt="...">
              </div>
              
            </div>

            </div>

            <div class="col-4">
              <div class="col">
                <strong>Trámite</strong></br>
                <a class="Botonmanual row py-3 px-3 my-2 bton" onclick="mostrarTramite(1)">Constancia de término</a>
                <a class="Botonmanual row py-3 px-3 my-2 bton" onclick="mostrarTramite(2)">Constancia de estudios</a>
                <a class="Botonmanual row py-3 px-3 my-2 bton" onclick="mostrarTramite(3)">Carta pasante</a>
                <a class="Botonmanual row py-3 px-3 my-2 bton" onclick="mostrarTramite(4)">Historial académico</a>
                <a class="Botonmanual row py-3 px-3 my-2 bton" onclick="mostrarTramite(5)">Credencial</a>
                <a class="Botonmanual row py-3 px-3 my-2 bton" onclick="mostrarTramite(6)">Constancia de inscripción</a>
                <a class="Botonmanual row py-3 px-3 my-2 bton" onclick="mostrarTramite(7)">Diploma Máster</a>
              </div>

            </div>

          </div>
          
        </div>

        <!--Costos-->
        <div class="bloque" id="bloqueTramitesEscolares">
          <h4 class="text-center"><b>Trámites que realiza escolares</b></h4></br>
          
          <div class="row">
            <div class="col-3">
              <div class="col">
                <strong>Trámite</strong></br>
                <a class="Botonmanual row py-3 px-3 my-2 bton" onclick="mostrarCosto(2)">Utel HIGER</a>
                <a class="Botonmanual row py-3 px-3 my-2 bton" onclick="mostrarCosto(1)">Utel LATAM</a>
              </div>

            </div>

            <div class="col-9">

              <div class="tramites">

              <!--UTEL HIGER-->
              <div class="card border-0 mb-3 py-2 doc activo" style="display: block;" id="UtelHCostos">
                
                <img loading="lazy" class="mx-auto d-block img-fluid" src="img/escolares/Costos/Costos_mexico.png">
                
              </div> 

              <!--UTEL LATAM-->
              <div class="card border-0 mb-3 py-2 doc" style="display: none;" id="UtelLCostos">
                <div class="row row-cols-xl-1 row-cols-xl-4 row-cols-md-4">

                  <!--Carta aceptación publica-->

                  <Div class="col">
                    <p class="text-center">Precios Perú</p>
                    
                    <a href="docs/precios/PreciosPERU.pdf" target="_blank">
                    <button class="btn botonejemdoc mx-auto d-block p-0" type="button"><img  style="height: 200px"src="img/escolares/Costos/Costos_peru.png "></button>
                    </a>
                  </Div>

                  <Div class="col">
                    <p class="text-center ">Precios Paraguay</p>
                    <a href="docs/precios/PreciosPARAGUAY.pdf" target="_blank">
                    <button class="btn botonejemdoc mx-auto d-block p-0" type="button"  ><img style="height: 200px"src="img/escolares/Costos/Costos_peru.png "></button>
                    </a>
                  </Div>

                  <Div class="col">
                    <p class="text-center ">Precios Uruguay</p>
                    <a href="docs/precios/PreciosURUGUAY.pdf" target="_blank">
                    <button class="btn botonejemdoc mx-auto d-block p-0" type="button"  ><img style="height: 200px"src="img/escolares/Costos/Costos_peru.png "></button>
                    </a>
                  </Div>

                  <Div class="col">
                    <p class="text-center">Precios Internacional</p>
                    <a href="docs/precios/PreciosINTERNACIONAL.pdf" target="_blank">
                    <button class="btn botonejemdoc mx-auto d-block p-0" type="button"  ><img style="height: 200px"src="img/escolares/Costos/Costos_peru.png "></button>
                    </a>
                  </Div>

                  <Div class="col">
                    <p class="text-center">Precios Bolivia</p>
                    <a href="docs/precios/PreciosBOLIVIA.pdf" target="_blank">
                    <button class="btn botonejemdoc mx-auto d-block p-0" type="button"  ><img style="height: 200px"src="img/escolares/Costos/Costos_peru.png "></button>
                    </a>
                  </Div>

                  <Div class="col">
                    <p class="text-center">Precios USA</p>
                    <a href="docs/precios/PreciosUSA.pdf" target="_blank">
                    <button class="btn botonejemdoc mx-auto d-block p-0" type="button"  ><img style="height: 200px"src="img/escolares/Costos/Costos_peru.png "></button>
                    </a>
                  </Div>

                  <Div class="col">
                    <p class="text-center">Precios Panamá</p>
                    <a href="docs/precios/PreciosPANAMA.pdf" target="_blank">
                    <button class="btn botonejemdoc mx-auto d-block p-0" type="button"  ><img style="height: 200px"src="img/escolares/Costos/Costos_peru.png "></button>
                    </a>
                  </Div>

                  <Div class="col">
                    <p class="text-center">Precios Guatemala</p>
                    <a href="docs/precios/PreciosGUATEMALA.pdf" target="_blank">
                    <button class="btn botonejemdoc mx-auto d-block p-0" type="button"  ><img style="height: 200px"src="img/escolares/Costos/Costos_peru.png "></button>
                    </a>
                  </Div>

                  <Div class="col">
                    <p class="text-center">Precios España</p>
                    <a href="docs/precios/PreciosESPANA.pdf" target="_blank">
                    <button class="btn botonejemdoc mx-auto d-block p-0" type="button"  ><img style="height: 200px"src="img/escolares/Costos/Costos_peru.png "></button>
                    </a>
                  </Div>

                  <Div class="col">
                    <p class="text-center">Precios El Salvador</p>
                    <a href="docs/precios/PreciosSALVADOR.pdf" target="_blank">
                    <button class="btn botonejemdoc mx-auto d-block p-0" type="button"  ><img style="height: 200px"src="img/escolares/Costos/Costos_peru.png "></button>
                    </a>
                  </Div>
      
                  <Div class="col">
                    <p class="text-center">Precios Ecuador</p>
                    <a href="docs/precios/PreciosECUADOR.pdf" target="_blank">
                    <button class="btn botonejemdoc mx-auto d-block p-0" type="button"  ><img style="height: 200px"src="img/escolares/Costos/Costos_peru.png "></button>
                    </a>
                  </Div>

                  <Div class="col">
                    <p class="text-center">Precios Republica Dominicana</p>
                    <a href="docs/precios/PreciosDOMINICANA.pdf" target="_blank">
                    <button class="btn botonejemdoc mx-auto d-block p-0" type="button"  ><img style="height: 200px"src="img/escolares/Costos/Costos_peru.png "></button>
                    </a>
                  </Div>

                  <Div class="col">
                    <p class="text-center">Precios Colombia</p>
                    <a href="docs/precios/PreciosCOLOMBIA.pdf" target="_blank">
                    <button class="btn botonejemdoc mx-auto d-block p-0" type="button"  ><img style="height: 200px"src="img/escolares/Costos/Costos_peru.png "></button>
                    </a>
                  </Div>

                  <Div class="col">
                    <p class="text-center">Precios Chile</p>
                    <a href="docs/precios/PreciosCHILE.pdf" target="_blank">
                    <button class="btn botonejemdoc mx-auto d-block p-0" type="button"  ><img style="height: 200px"src="img/escolares/Costos/Costos_peru.png "></button>
                    </a>
                  </Div>


                </div>  
              </div>
              
            </div>

            </div>

            

          </div>
          
        </div> 
        
        <!--Diploma intermedio-->
        <div class="bloque noactivo m-0" id="bloqueTituloInt">
          
          <div class="TituloYTexto" id="3">

          </div>

          <div class="card mb-3 card mb-3 border-0" style="max-width: 100%;">
            <!--Diploma auxiliar-->
            <div class="row g-0">
              
              <div class="col-md-12">
                <div class="card-body">
                  <h5 class="card-title">Se deberán cubrir los siguientes requisitos:</h5>
                  <p class="card-text">
                    ● Tener estatus de matriculado </br>
                    ● No tener saldos pendientes</br>
                    ● Haber cursado como mínimo, un año en calendario como alumno Utel.</br>
                    ● Haber aprobado las primeras 12 asignaturas del plan de estudio para el primer diploma Intermedio
                    y las 12 subsecuentes para el segundo. </br>
                    ● Documentación digital completa </br>
                    ● Pago del documento.

                  <h5 class="card-title">Beneficios:</h5>
                  <p class="card-text">
                    ● Perfil profesional elevado.</br>
                    ● Mayor competitividad laboral.</br>
                    ● Crecimiento curricular.</br>
                    ● Mejores oportunidades para ingresar al mundo laboral.</br>
                    ● Satisfacción personal y prestigio.</br>
                    
                </div>
              </div>
              <div class="col-md-6 p-5">
                <!--Ejemplo-->
                <div class="col text-center p-6">
                  <img style="cursor: zoom-in;" src="img/escolares/Titulo_intermedio.png" class="img-fluid botonejemdoc p-6" alt="Imagen" data-bs-toggle="modal" data-bs-target="#imagenModalguia">
                </div>
                
              </div>

              <div class="col-md-6">
                <!--Ejemplo-->
                <div class="col text-center p-5">
                  <img style="cursor: zoom-in;" src="img/escolares/Titulo2_intermedio.png" class="img-fluid botonejemdoc p-6" alt="Imagen" data-bs-toggle="modal" data-bs-target="#imagenModalguia2">
                </div>

                <div class="offcanvas offcanvas-bottom" tabindex="-1" id="ejemplo-tit-int2" aria-labelledby="offcanvasBottomLabel">
                <div class="offcanvas-header">
                  <h5 class="offcanvas-title text-center" id="offcanvasBottomLabeltitint" ></h5>
                  <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                </div>
                
                </div> 
              </div>
              
            </div>

          </div>

          
        </div>
    </div>
</div>       
    
</div>