<div class="container rounded-3 py-3 bg-white"> 

  <div class="div-sticky mx-5">
    <button type="button" class="btnarriba"></button>
  </div>

    <h1 class="text-center" id="certificacion">Servicios escolares</h1>
    <div class="contenedor ">
      <ul class="ul container">
          <div class="row text-center">
          <div class="col"><li class="li activo" id="menuTiposIngresoSe">Tipos de ingreso</li></div>
          <div class="col"><li class="li" id="menuTramitesEscolares">Tramites que realiza escolares</li></div>
          <div class="col"><li class="li" id="menuCostosSe">Costos en plataforma</li></div>
          <div class="col"><li class="li" id="menuPreguntas_fSe">Diplomados</li></div>
          </div>
      </ul>

      <div class="subcontenedor">


        <!--Tipos de ingreso-->
        <div class="bloque activo" id="bloqueTiposIngresoSe">
          <div class="border border-0 card mt-1">
            
            <div class="card border-0 py-3 px-3" >
              <h4><b>¿Que son los tipos de ingreso?</b></h4></br>
              
              <a>
              Para ingresar a cursar un grado académico dentro de UTEL es necesario determinar el tipo de ingreso al plan académico para 
              identificar las intenciones del alumno, existen 3 tipos de ingreso para determinar la situación del alumno.

              </a>
            </div>
            
            <div class="row row-cols-1 row-cols-xl-1 row-cols-md-1 g-4 my-1">
              <!--Equivalencia--> 
              <div class="col">
                <div class="card border-0 mb-3" >

                    <div class="row g-0">

                      <div class="col-md-8">
                        <div class="card-body">
                          <h5 class="card-title text-center">Equivalencia</h5>
                          <p class="card-text">     
                            
                            Trámite ante SEP para equiparar estudios realizados en el sistema educativo nacional.<br/><br/>

                            Una equivalencia es el documento a través del cual la autoridad educativa declara equiparables 
                            entre sí estudios realizados dentro del Sistema Educativo Nacional. <br/>

                            Una revalidación es el documento a través del cual la autoridad educativa otorga validez 
                            oficial a estudios realizados fuera del Sistema Educativo Nacional (en el extranjero), 
                            siempre y cuando sean equiparables con estudios realizados dentro de dicho sistema.

                          </p>

                        </div>
                        <div class="px-2 py-2">

        
                        </div>
                        
                        
                      </div>



                      <div class="col-md-4">                        
                        
                      </div>
                    
                      
                    </div>
                </div>

              </div>

              <!--Revalidación--> 
              <div class="col">
                <div class="card border-0 mb-3" >

                    <div class="row g-0">

                      <div class="col-md-8">
                        <div class="card-body">
                          <h5 class="card-title text-center">Revalidación</h5>
                          <p class="card-text">     
                            
                            Trámite ante SEP para equiparar estudios realizados fuera del sistema educativo nacional (en  el extranjero)</br></br>

                            Esta forma aplica para estudiantes con estudios en el extranjero que desean ejercer profesionalmente en México.</br></br>
                            
                            En este supuesto el estudiante debe llevar a cabo el proceso de revalidación correspondiente y cumplir con las 
                            normas establecidas. (Los alumnos que ingresen por esta opción, su egreso será el mismo que un alumno regular, 
                            cumpliendo con su servicio social para poder realizar su registro para emisión de cédula profesional)                                 

                          </p>

                        </div>

                        <div class="px-2 py-2">
                          
        
                        </div>
                      </div>

                      <div class="col-md-4">
                        
                      </div>
                    
                    </div>
                </div>

              </div>

              <!--Dictamen Tecnico--> 
              <div class="col">
                <div class="card border-0 mb-3" >

                    <div class="row g-0">

                      <div class="col-md-8">
                        <div class="card-body">
                          <h5 class="card-title text-center">Dictamen Tecnico</h5>
                          <p class="card-text">     
                            
                            Este proceso aplica para los estudiantes que ingresan a UTEL con fines académicos sin la 
                            intención de ejercer profesionalmente en México.</br></br>

                            Se creará una etiqueta de ingreso denominada Dictamen Técnico para identificar a los estudiantes 
                            desde su inscripción y hacer el acompañamiento correspondiente


                          </p>
                          <div class="px-2 py-2">
          
                          </div>

                        </div>
                      </div>

                      <div class="col-md-4">
                        
                      </div>
                    
                      
                    </div>
                </div>

              </div>

          </div>
        </div>

        </div>

        <!--Tramites que realiza escolares-->
        <div class="bloque" id="bloqueTramitesEscolares">
          <h4><b>Tramites que realiza escolares</b></h4></br>
          
          <div class="row">

            <div class="col-8">

              <div class="tramites">

              <!--Constacia de término-->
              <div class="card border-0 mb-3 py-2 doc activo" style="display: none;" id="conster">
                <div class="card-body">
                  <h5 class="card-title">Constancia de término</h5>
                  <p class="card-text"><small class="text-muted">Alumno/Egresado</small></p>
                  <p class="card-text">

                  Documento que hace constar que has concluido el 100% de tus créditos del programa cursado, 
                  no contiene foto. <br/><br/>
                  
                  Costo: 500.00 MXN<br/><br/>
                  Tiempo estimado de espera: <br/>
                  
                  </p>
                </div>
                <img src="Img/escolares/Constancia_termino.PNG " class="card-img-top" alt="...">
              </div>

              <!--Constancia de estudios-->
              <div class="card border-0 mb-3 py-2 doc" style="display: none;" id="cartapas">
                <div class="card-body">
                  <h5 class="card-title">Constancia de estudios</h5>
                  <p class="card-text"><small class="text-muted">Alumno/Egresado</small></p>
                  <p class="card-text">

                  D<br/><br/>
                  
                  Costo: 500.00 MXN<br/><br/>
                  Tiempo estimado de espera: <br/>
                  
                  </p>
                </div>
                <img src="Img/escolares/Constancia_estudios.PNG " class="card-img-top" alt="...">
              </div>
              
              <!--Carta pasante-->
              <div class="card border-0 mb-3 py-2 doc" style="display: none;" id="historialA">
                <div class="card-body">
                  <h5 class="card-title">Carta pasante</h5>
                  <p class="card-text"><small class="text-muted">Egresado</small></p>
                  <p class="card-text">
                  Documento que acredita el término de la Licenciatura y que te permite desempeñarte en el 
                  ámbito laboral de tu profesión mientras te encuentras en el proceso de titulación. 
                  Para obtenerla debes tener tu expediente físico completo y fotografías tamaño óvalo-credencial. <br/><br/>
                  
                  Costo: 500.00 MXN<br/><br/>
                  Tiempo estimado de espera: <br/>
                  
                  </p>
                </div>
                <img src="Img/escolares/Carta_Pasante.PNG " class="card-img-top" alt="...">
                
              </div>

              <!--Historial academico-->
              <div class="card border-0 mb-3 py-2 doc" style="display: none;" id="equivalencia">
                <div class="card-body">
                  <h5 class="card-title">Historial academico</h5>
                  <p class="card-text"><small class="text-muted">Alumno/Egresado</small></p>
                  <p class="card-text">
                  Documento que contiene las materias, el período en que se cursaron y la calificación obtenida<br/><br/>
                  
                  Costo: 500.00 MXN<br/><br/>
                  Tiempo estimado de espera: <br/>
                  
                  </p>
                </div>
                <img src="Img/escolares/Avance_curricular.PNG " class="card-img-top" alt="...">
                <img src="Img/escolares/Avance_curricular2.PNG " class="card-img-top" alt="...">
              </div>

              <!--Credencial-->
              <div class="card border-0 mb-3 py-2 doc" style="display: none;" id="credencial">
                <div class="card-body">
                  <h5 class="card-title">Credencial</h5>
                  <p class="card-text"><small class="text-muted">Alumno</small></p>
                  <p class="card-text">
                  D<br/><br/>
                  
                  Costo:<br/><br/>
                  Tiempo estimado de espera: <br/>
                  
                  </p>
                </div>
                <img src="Img/escolares/Credencial.PNG " class="card-img-top" alt="...">
              </div>

              <!--Titulo intermedio-->
              <div class="card border-0 mb-3 py-2 doc" style="display: none;" id="tituloint">
                <div class="card-body">
                  <h5 class="card-title">Titulo intermedio</h5>
                  <p class="card-text"><small class="text-muted">Alumno</small></p>
                  <p class="card-text">
                  D<br/><br/>
                  
                  Costo: 1500.00 MXN<br/><br/>
                  Tiempo estimado de espera: <br/>
                  
                  </p>
                </div>
                <img src="Img/escolares/Titulo_intermedio.PNG " class="card-img-top" alt="...">
                <img src="Img/escolares/Titulo_intermedio2.PNG " class="card-img-top" alt="...">
                <img src="Img/escolares/Titulo_intermedio3.PNG " class="card-img-top" alt="...">
                <img src="Img/escolares/Titulo_intermedio4.PNG " class="card-img-top" alt="...">
                <img src="Img/escolares/Titulo_intermedio5.PNG " class="card-img-top" alt="...">

              </div>

              <!--Diploma Master-->
              <div class="card border-0 mb-3 py-2 doc" style="display: none;" id="diplomaMaster">
                <div class="card-body">
                  <h5 class="card-title">Diploma Master</h5>
                  <p class="card-text"><small class="text-muted">Alumno/Egresado</small></p>
                  <p class="card-text">
                  Documento que contiene las materias, el período en que se cursaron y la calificación obtenida<br/><br/>
                  
                  Costo: 500.00 MXN<br/><br/>
                  Tiempo estimado de espera: <br/>
                  
                  </p>
                </div>
                <img src="Img/escolares/Diploma_master.PNG " class="card-img-top" alt="...">
                <img src="Img/escolares/Diploma_master2.PNG " class="card-img-top" alt="...">
              </div>

              <!--Constancia inscripcion-->
              <div class="card border-0 mb-3 py-2 doc" style="display: none;" id="constanciaInscripcion">
                <div class="card-body">
                  <h5 class="card-title">CONSTANCIA DE INSCRIPCIÓN</h5>
                  <p class="card-text"><small class="text-muted">Alumno</small></p>
                  <p class="card-text">
                  Documento para estudiantes de futuros y de nuevo ingreso, que avala su inscripción en un programa Utel.<br/><br/>
                  
                  Costo: 500.00 MXN<br/><br/>
                  Tiempo estimado de espera: <br/>
                  
                  </p>
                </div>
                <img src="Img/escolares/Diploma_master.PNG " class="card-img-top" alt="...">
                <img src="Img/escolares/Diploma_master2.PNG " class="card-img-top" alt="...">
              </div>
              
            </div>

            </div>

            <div class="col-4">
              <div class="col">
                <strong>Tramite</strong></br>
                <a class="Botonmanual row py-3 px-3 my-2 bton" onclick="mostrarTramite(1)">Constancia de término</a>
                <a class="Botonmanual row py-3 px-3 my-2 bton" onclick="mostrarTramite(2)">Constancia de estudios</a>
                <a class="Botonmanual row py-3 px-3 my-2 bton" onclick="mostrarTramite(3)">Carta pasante</a>
                <a class="Botonmanual row py-3 px-3 my-2 bton" onclick="mostrarTramite(4)">Historial academico</a>
                <a class="Botonmanual row py-3 px-3 my-2 bton" onclick="mostrarTramite(5)">Credencial</a>
                <a class="Botonmanual row py-3 px-3 my-2 bton" onclick="mostrarTramite(6)">Titulo intermedio</a>
                <a class="Botonmanual row py-3 px-3 my-2 bton" onclick="mostrarTramite(7)">Diploma Master</a>
                <a class="Botonmanual row py-3 px-3 my-2 bton" onclick="mostrarTramite(8)">constancia de inscripción</a>
              </div>

            </div>

          </div>
          
        </div>

        <!--Costos-->
        <div class="bloque" id="bloqueTramitesEscolares">
          <h4 class="text-center"><b>Tramites que realiza escolares</b></h4></br>
          
          <div class="row">
            <div class="col-2">
              <div class="col">
                <strong>Tramite</strong></br>
                <a class="Botonmanual row py-3 px-3 my-2 bton" onclick="mostrarCosto(1)">UTEL HIGER</a>
                <a class="Botonmanual row py-3 px-3 my-2 bton" onclick="mostrarCosto(2)">UTEL LATAM</a>
              </div>

            </div>

            <div class="col-10">

              <div class="tramites">

              <!--UTEL HIGER-->
              <div class="card border-0 mb-3 py-2 doc activo" style="display: none;" id="UtelHCostos">
                
              </div>

              <!--UTEL LATAM-->
              <div class="card border-0 mb-3 py-2 doc" style="display: none;" id="UtelLCostos">
                <div class="row row-cols-xl-1 row-cols-xl-4 row-cols-md-4">

                  <!--Carta aceptación publica-->

                  <Div class="col">
                    <p>Precios Perú</p>
                    <button class="btn botonejemdoc" type="button" ><img style="height: 200px"src="Img/escolares/Costos/Costos_peru.png "></i></button>
                  </Div>

                  <Div class="col">
                    <p>Precios Paraguay</p>
                    <button class="btn botonejemdoc" type="button" ><img style="height: 200px"src="Img/escolares/Costos/Costos_peru.png "></i></button>
                  </Div>
                  
                  <Div class="col">
                    <p>Precios Uruguay</p>
                    <button class="btn botonejemdoc" type="button" ><img style="height: 200px"src="Img/escolares/Costos/Costos_peru.png "></i></button>
                  </Div>

                  <Div class="col">
                    <p>Precios Internacional</p>
                    <button class="btn botonejemdoc" type="button" ><img style="height: 200px"src="Img/escolares/Costos/Costos_peru.png"></i></button>
                  </Div>

                  <Div class="col">
                    <p></p>
                    <button class="btn botonejemdoc" type="button" ><img style="height: 200px"src="Img/escolares/Costos/Costos_peru.png"></i></button>
                  </Div>

                  <Div class="col">
                    <p></p>
                    <button class="btn botonejemdoc" type="button" ><img style="height: 200px"src="Img/escolares/Costos/Costos_peru.png"></i></button>
                  </Div>

                  <Div class="col">
                    <p></p>
                    <button class="btn botonejemdoc" type="button" ><img style="height: 200px"src="Img/escolares/Costos/Costos_peru.png"></i></button>
                  </Div>

                  <Div class="col">
                    <p></p>
                    <button class="btn botonejemdoc" type="button" ><img style="height: 200px"src="Img/escolares/Costos/Costos_peru.png"></i></button>
                  </Div>

                  <Div class="col">
                    <p></p>
                    <button class="btn botonejemdoc" type="button" ><img style="height: 200px"src="Img/escolares/Costos/Costos_peru.png"></i></button>
                  </Div>

                  <Div class="col">
                    <p></p>
                    <button class="btn botonejemdoc" type="button" ><img style="height: 200px"src="Img/escolares/Costos/Costos_peru.png"></i></button>
                  </Div>

                  <Div class="col">
                    <p></p>
                    <button class="btn botonejemdoc" type="button" ><img style="height: 200px"src="Img/escolares/Costos/Costos_peru.png"></i></button>
                  </Div>
      
                </div>  
              </div>
              
            </div>

            </div>

            

          </div>
          
        </div> 
        <!--Diplomados-->
        <div class="bloque" id="bloquePreguntas_fSe"> 
          <div class="border border-0 card mt-1">
            
            <div class="card border-0 py-3 px-3" >
              <h4><b>¿Que son los diplomados?</b></h4></br>
              
              <a>
                ¿Qué título se obtiene al hacer un diplomado?
                Un diplomado es un programa de estudios breve dirigido a actualizar profesionales en un área específica de su carrera. Estos programas son 
                parte de una oferta educativa para profesionales; no están ligados a la SEP y, por lo tanto, proporcionan conocimiento que, aunque necesario, 
                no otorga un grado académico.

              </a>
            </div>
            
            <div class="row row-cols-1 row-cols-xl-1 row-cols-md-1 g-4 my-1">

              <!--Equivalencia--> 
              <div class="col">
                <div class="card border-0 mb-3" >

                    <div class="row g-0">

                      <div class="col-md-8">
                        <div class="card-body">
                          <h5 class="card-title text-center">Diplomados en UTEL</h5>
                          <p class="card-text">     

                          </p>

                        </div>
                        <div class="px-2 py-2">

                        </div>  
                      </div>



                      <div class="col-md-4">                        
                        
                      </div>
                    
                      
                    </div>
                </div>

              </div>

          </div>
        </div>
      </div>
    </div>
</div>    
    
  
    
    
    
</div>