<div class="container rounded-3 py-3 bg-white">

  <h1 class="text-center" id="certificacion">Servicio social</h1>

  <div class="border border-0 border-opacity-50 card mt-1">
    <div class="card-body">

      <h5 class="card-title">¿Qué el servicio social?</h5> </br>
      <div class="row">

        <div class="col-md-8">

          <p class="card-text">
            Ley de Profesiones</br></br>

            ARTÌCULO 53.- Se entiende por servicio social el trabajo de carácter temporal y mediante retribución que
            ejecuten y presten los profesionistas y estudiantes en interés de la sociedad y el Estado.</br></br>

            Se determina en el Reglamento para la prestación del Servicio Social de los estudiantes de instituciones
            de Educación Superior en la República Mexicana, en su artículo 2° que cita:

            <b>
              “Los estudiantes de las Instituciones de Educación Superior prestarán el Servicio Social con carácter
              temporal y obligatorio, como requisito previo para obtener el Título o Grado Académico que corresponda.”
            </b>


          </p>
        </div>

        <div class="col-md-4 card card-aviso py-3 px-3 border-0">

          <h5>
            SERSO
          </h5>
          Formulario para iniciar servicio social
          <p id="SERSO">
            https://app.flokzu.com/public/01bb9LSERSO
          </p>

          <button class="Botonmanual py-3 text-center border-0" onclick="copiarAlPortapapeles('SERSO')">Copiar</button>
          <a class="Botonmanual py-3 text-center border-0" href="docs/speechserviciosocial.pdf" target="_blank">Speach servicio social</a>

          <script>
            function copiarAlPortapapeles(id_elemento) {
              var aux = document.createElement("input");
              aux.setAttribute("value", document.getElementById(id_elemento).innerHTML);
              document.body.appendChild(aux);
              aux.select();
              document.execCommand("copy");
              document.body.removeChild(aux);
            }
          </script>
        </div>
      </div>
    </div>


  </div>

  </br>

  <div class="accordion" id="accordionPanelsStayOpenExample">

    <!--Servicio social Regular-->
    <div class="accordion-item">
      <h2 class="accordion-header" id="panelsStayOpen-headingOne">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
          data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true" aria-controls="panelsStayOpen-collapseOne"
          id="menuRegular">
          Regular
        </button>
      </h2>
      <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse"
        aria-labelledby="panelsStayOpen-headingOne">
        <div class="accordion-body" id="SSregular">
          <strong>Servicio social regular.</strong> </br></br>
          El estudiante podrá realizar su servicio social en una empresa o institución pública, que esté legalmente
          constituida,
          y que las actividades a realizar sean adherentes a la licenciatura. Cubriendo como mínimo 480 horas en un
          lapso no menor
          a los seis meses </br></br>

          Deberá cubrir los siguientes requisitos:</br>

          -Contar con el 70% de créditos</br>
          -Tener documentación física completa (Acta de nacimiento y Certificado de bachillerato)</br>
          -No tener adeudos </br>

        </div>

        <div class="accordion px-3" id="accordionPanelsStayOpenExample">

          <div class="accordion-item">
            <h2 class="accordion-header" id="panelsStayOpen-headingproceso">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#panelsStayOpen-collapseproceso" aria-expanded="true"
                aria-controls="panelsStayOpen-collapseproceso">
                Proceso servicio social
              </button>
            </h2>
            <div id="panelsStayOpen-collapseproceso" class="accordion-collapse collapse"
              aria-labelledby="panelsStayOpen-headingproceso">
              <div class="accordion-body">
                <div class="container rounded-3 my-3 py-3 bg-white">
                  <h1 class="text-center">Proceso servicio social</h1>

                  <div class="row">

                    <div class="col my-3 mx-3">
                      <p>
                        Primero<br />
                        Identificar una institución pública o privada formalmente establecida para realizar el servicio
                        social.
                        <br /><br />
                        Segundo.<br />
                        Envía a serviciosocial@utel.edu.mx los siguientes datos de la empresa o institución donde
                        realizarás tu servicio social.<br />
                        Nombre completo y matrícula.:<br />
                        Nombre completo de la empresa o institución.
                        <br /><br />
                        Tercero.<br />
                        Recibe la carta de aceptación para que sea complementada con tus datos y los de la empresa,
                        deberá ser impresa en hoja membretada, firmada y sellada.
                        <br /><br />
                        Cuarto.<br />
                        Una vez que envíes en digital la carta de aceptación recibirás por correo electrónico el formato
                        de Reporte global de actividades y la constancia de término, recuerda que deberás cubrir 480
                        horas en un periodo mínimo de 6 meses y máximo de 2 años.
                        <br /><br />
                        Quinto.<br />
                        Notifica a la universidad la conclusión de tu servicio social enviando por correo electrónico el
                        reporte global y la constancia de término, los cuales deberás enviar por correo electrónico en
                        hoja membretada, firmados y sellados.
                        <br /><br />
                        Sexto.<br />
                        Una vez aprobados todos tus documentos deberás enviarlos en formato digital por correo
                        electrónico para ser aprobados.
                        Una vez aprobados se te indica subirlos a tu plataforma para liberar tu estatus en la plataforma

                      </p>

                      <!---Aviso-->
                      <div class="border-3 card card-importante justify-content-center ">
                        <div class="card-body">

                          <p class="card-text">
                            Es importante destacar que para algunas instituciones (En su mayoría instituciones
                            gubernamentales), se le solicita al alumnado un acuse de recibido.
                          </p>
                        </div>

                        <a class="BotonAcuse py-3 text-center border-0" href="Acuse de recibo.pdf" target="_blank">VER
                          EJEMPLO</a>
                      </div>
                    </div>

                    <div class="col text-center ">
                      <img src="img/serviciosocial/proceso_regular.png" style="height: 700px;">
                    </div>
                  </div>
                </div>
              </div>
            </div>

          </div>

        </div>



        <!--Formatos ss regular-->
        <div class="container my-3 mx-3">

          Formatos </br>
          <div class="row row-cols-xl-1 row-cols-xl-4 row-cols-md-4">

            <!--Carta de presentación-->
            <button class="col btn botonejemdoc" type="button" data-bs-toggle="offcanvas"
              data-bs-target="#offcanvasBottom4" aria-controls="offcanvasBottom"><img style="height: 200px"
            src="img/serviciosocial/regular/carta-presentacion.png" title="Carta de presentación"></i></button>

            <div class="offcanvas offcanvas-bottom" tabindex="-1" id="offcanvasBottom4"
              aria-labelledby="offcanvasBottomLabel">
              <div class="offcanvas-header">
                <h5 class="offcanvas-title" id="offcanvasBottomLabel4">Carta de presentación</h5>
                <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
              </div>
              <div class="container card border border-0">

                <div class="row row-cols-1 row-cols-xl-2 row-cols-md-2">

                  <div class="col">

                    <div id="carousel4" class="carousel carousel-ejemplo slide">
                      <div class="carousel-inner carousel-inner-ejemplo">
                        <div class="carousel-item active">
                          Formato
                          <img src="img/serviciosocial/regular/carta-presentacion.png" class="d-block w-100" alt="...">
                        </div>
                        <div class="carousel-item">
                          Ejemplo
                          <img src="img/serviciosocial/regular/carta-presentacion.png" class="d-block w-100" alt="...">
                        </div>
                      </div>
                      <button class="carousel-control-prev" type="button" data-bs-target="#carousel4"
                        data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                      </button>
                      <button class="carousel-control-next" type="button" data-bs-target="#carousel4"
                        data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                      </button>
                    </div>

                  </div>

                  <div class="col card border border-0">

                    <strong class="py-3 px-3"> Caracteristicas de la carta de presentación</strong>


                  </div>
                </div>
              </div>
            </div>

            <!--Carta aceptación publica-->
            <button class="col btn botonejemdoc" type="button" data-bs-toggle="offcanvas"
              data-bs-target="#offcanvasBottom1" aria-controls="offcanvasBottom"><img style="height: 200px"
            src="img/serviciosocial/regular/carta-aceptacion-publica.png" title="Carta aceptación publica"></i></button>

            <div class="offcanvas offcanvas-bottom" tabindex="-1" id="offcanvasBottom1"
              aria-labelledby="offcanvasBottomLabel">
              <div class="offcanvas-header">
                <h5 class="offcanvas-title" id="offcanvasBottomLabel1">Carta de aceptación publica</h5>
                <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
              </div>
              <div class="container card border border-0">

                <div class="row row-cols-1 row-cols-xl-2 row-cols-md-2">

                  <div class="col">


                    <div id="carousel1" class="carousel carousel-ejemplo slide">
                      <div class="carousel-inner carousel-inner-ejemplo">
                        <div class="carousel-item active">
                          Formato
                          <img src="img/serviciosocial/regular/carta-aceptacion-publica.png" class="d-block w-100" alt="...">
                        </div>
                        <div class="carousel-item">
                          Ejemplo
                          <img src="img/serviciosocial/carta-aceptacion-publica-ejemplo.png" class="d-block w-100"
                            alt="...">
                        </div>
                      </div>
                      <button class="carousel-control-prev" type="button" data-bs-target="#carousel1"
                        data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                      </button>
                      <button class="carousel-control-next" type="button" data-bs-target="#carousel1"
                        data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                      </button>
                    </div>

                  </div>

                  <div class="col card border border-0">

                    <strong class="py-3 px-3"> Caracteristicas de la carta de aceptación</strong>

                    <p>La carta de aceptación tiene que </p>
                    La carta de aceptación es un formato que tiene que complementar el alumno y la
                    institución; El documento tiene que estar firmado, membretado o/y sellado por la institución. <br />
                    <br />

                    1.-Nombre completo. <br />

                    2.-Matricula. <br />

                    3.-Licenciatura que cursa. <br />

                    4.-Intitución. <br />

                    5.-Programa activo o servicio social. <br />

                    6.-Fecha de inicio del servicio social. <br />

                    7.-Firma. <br />

                  </div>
                </div>



              </div>
            </div>

            <!--Reporte global de actividades-->
            <button class="col btn botonejemdoc" type="button" data-bs-toggle="offcanvas"
              data-bs-target="#offcanvasBottom3" aria-controls="offcanvasBottom"><img style="height: 200px"
                src="img/serviciosocial/reporteglobal.png"></i></button>

            <div class="offcanvas offcanvas-bottom" tabindex="-1" id="offcanvasBottom3"
              aria-labelledby="offcanvasBottomLabel">
              <div class="offcanvas-header">
                <h5 class="offcanvas-title" id="offcanvasBottomLabel3">Reporte global de actividades</h5>
                <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
              </div>
              <div class="container card border border-0">

                <div class="row row-cols-1 row-cols-xl-2 row-cols-md-2">

                  <div class="col">


                    <div id="carousel3" class="carousel carousel-ejemplo slide">
                      <div class="carousel-inner carousel-inner-ejemplo">
                        <div class="carousel-item active">
                          Formato
                          <img src="img/serviciosocial/reporteglobal.png" class="d-block w-100" alt="...">
                        </div>
                        <div class="carousel-item">
                          Ejemplo
                          <img src="img/serviciosocial/reporteglobal-ejemplo.png" class="d-block w-100" alt="...">
                        </div>
                      </div>
                      <button class="carousel-control-prev" type="button" data-bs-target="#carousel3"
                        data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                      </button>
                      <button class="carousel-control-next" type="button" data-bs-target="#carousel3"
                        data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                      </button>
                    </div>

                  </div>

                  <div class="col card border border-0">

                    <strong class="py-3 px-3"> Caracteristicas de la carta de aceptación</strong>

                    <p>
                      El reporte global de actividades es un formato que tiene que complementar el alumno y la
                      institución; El documento tiene que estar firmado, membretado o/y sellado por la institución.
                      <br /> <br />
                      Las fecha de inicio tiene que coincidir con la carta de aceptación y la checa de termino con la
                      constancia de termino.
                      <br /><br />

                      1.-Datos del estudiante. <br />

                      2.-Datos de la institución; fecha de inicio y de término <br />

                      3.-Actividades. <br />

                      4.-Horas. <br />

                      5.-Desarrollo profecional del alumno. <br />

                      7.-Firma. <br />

                    </p>

                  </div>
                </div>
              </div>
            </div>

            <!--Constancia de termino-->
            <button class="col btn botonejemdoc" type="button" data-bs-toggle="offcanvas"
              data-bs-target="#offcanvasBottom4" aria-controls="offcanvasBottom"><img style="height: 200px"
                src="img/serviciosocial/constanciadet.png"></i></button>

            <div class="offcanvas offcanvas-bottom" tabindex="-1" id="offcanvasBottom4"
              aria-labelledby="offcanvasBottomLabel">
              <div class="offcanvas-header">
                <h5 class="offcanvas-title" id="offcanvasBottomLabel4">Constacia de terminación</h5>
                <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
              </div>
              <div class="container card border border-0">

                <div class="row row-cols-1 row-cols-xl-2 row-cols-md-2">

                  <div class="col">


                    <div id="carousel4" class="carousel carousel-ejemplo slide">
                      <div class="carousel-inner carousel-inner-ejemplo">
                        <div class="carousel-item active">
                          Formato
                          <img src="img/serviciosocial/constanciadet.png" class="d-block w-100" alt="...">
                        </div>
                        <div class="carousel-item">
                          Ejemplo
                          <img src="img/serviciosocial/constanciadet-ejemplo.png" class="d-block w-100" alt="...">
                        </div>
                      </div>
                      <button class="carousel-control-prev" type="button" data-bs-target="#carousel4"
                        data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                      </button>
                      <button class="carousel-control-next" type="button" data-bs-target="#carousel4"
                        data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                      </button>
                    </div>

                  </div>

                  <div class="col card border border-0">

                    <strong class="py-3 px-3"> Caracteristicas de la carta de aceptación</strong>

                    <p>

                      El reporte global de actividades es un formato que tiene que complementar el alumno y la
                      institución; El documento tiene que estar firmado, membretado o/y sellado por la institución.
                      <br /> <br />
                      Las fecha de inicio tiene que coincidir con la carta de aceptación y la checa de termino con la
                      constancia de termino.
                      <br /><br />

                      1.-Datos del estudiante. <br />

                      2.-Datos de la institución; fecha de inicio y de término <br />

                      3.-Actividades. <br />

                      4.-Horas. <br />

                      5.-Desarrollo profecional del alumno. <br />

                      7.-Firma. <br />

                    </p>


                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>

      </div>
    </div>

    <!--Servicio social en UTEL-->
    <div class="accordion-item">
      <h2 class="accordion-header" id="panelsStayOpen-headingFive">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
          data-bs-target="#panelsStayOpen-collapseFive" aria-expanded="false"
          aria-controls="panelsStayOpen-collapseFive" id="menuCoach">
          Coach Universitario
        </button>
      </h2>
      <div id="panelsStayOpen-collapseFive" class="accordion-collapse collapse"
        aria-labelledby="panelsStayOpen-headingFive">
        <div class="accordion-body" id="SScoach">
          <strong>Servicio social en UTEL como coach universitario </strong> </br></br>

          En Utel hemos creado una opción en línea que te permite además de cumplir un requisito, influir en el éxito
          estudiantil de la comunidad universitaria.
          Consiste en generar una red de apoyo de estudiante a estudiante, a través de la experiencia de un estudiante
          egresado o a punto de serlo
          a estudiantes en diferentes etapas de su vida estudiantil. Al incorporarte al Programa Coach podrás elegir
          entre 3 perfiles, cada uno requiere
          ciertas habilidades y fortalezas para desempeñar actividades específicas que contribuyen al desarrollo de tus
          aptitudes profesionales.</br></br>

          • Comprometido.</br>
          • Ser estudiante activo de licenciatura en UTEL.</br>
          • 70% de avance curricular.</br>
          • Contar con documentos físicos completos.</br>
          • Tener colegiaturas al corriente.</br>
          • El tiempo destinado al servicio social son 4 horas, 5 días a la semana o 20 a la semana

          </br></br>

          Tipos de servicio social</br>
          • COACH 1ST STEPS (ONBOARDING)</br>
          • COACH ACADÉMICO</br>
          • COACH SMART



        </div>
      </div>
    </div>

    <!--Servicio Art 91-->
    <div class="accordion-item">
      <h2 class="accordion-header" id="panelsStayOpen-headingTwo">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
          data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false" aria-controls="panelsStayOpen-collapseTwo"
          id="menuArt91">
          Art. 91
        </button>
      </h2>

      <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse"
        aria-labelledby="panelsStayOpen-headingTwo">
        <div class="accordion-body" id="SSart91">
          <strong>Servicio social por articulo 91.</strong></br></br>
          De acuerdo al Artículo 91 de la Ley Reglamentaria del Artículo 5o. Constitucional, Relativo al Ejercicio de
          las Profesiones
          en el Distrito Federal los servidores públicos están exentos de realizar el servicio social siempre y cuando
          tengan una
          antigüedad mínima de 6 meses en el puesto
        </div>

        <div class="accordion px-3" id="accordionPanelsStayOpenExample">

          <div class="accordion-item">
            <h2 class="accordion-header" id="panelsStayOpen-headingProceso art 91">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#panelsStayOpen-collapseproceso" aria-expanded="true"
                aria-controls="panelsStayOpen-collapseproceso">
                Proceso servicio social ART. 91
              </button>
            </h2>
            <div id="panelsStayOpen-collapseproceso" class="accordion-collapse collapse"
              aria-labelledby="panelsStayOpen-headingproceso">
              <div class="accordion-body">
                <div class="container rounded-3 my-3 py-3 bg-white">
                  <h1 class="text-center">Proceso servicio social ART. 91</h1>

                  <div class="row">

                    <div class="col my-3 mx-3">
                      <p>
                        Primero<br />
                        Identificar si el alumno cuenta con los requisitos para realizar el proceso de servicio social
                        por el artículo 91.
                        <br />
                        1. Contar con un mínimo de 6 meses de antigüedad dentro de la institución.
                        <br />
                        2. Contar con ultimos 3 recibos de nómina.
                        <br />
                        3. Contar con identificación laboral.

                        <br /><br />
                        Segundo.<br />
                        Envía a serviciosocial@utel.edu.mx los siguientes datos de la institución donde se labora junto
                        con requisitos solicitados.<br />
                        Nombre completo y matrícula.:<br />
                        Nombre completo de la empresa o institución.
                        <br /><br />
                        Tercero.<br />
                        Recibe el formato para liberación de servicio social, este debe ser llenado con los datos
                        solicitados con apoyo de tu institución.
                        <br /><br />
                        Cuarto.<br />
                        Una vez que envíes en digital el formato de liberación de servicio social lo valoraremos y en
                        caso de que se requiera una corrección se te indicará.
                        <br /><br />
                        Quinto.<br />
                        Una vez que se encuentre validada por correo se te brindaran indicaciones para subir los
                        formatos a la plataforma, posteriormente se te notifica la liberación.
                        <br /><br />
                      </p>
                    </div>

                    <div class="col text-center ">
                      <img src="img/serviciosocial/proceso_art91.png" style="height: 700px;">
                    </div>
                  </div>
                </div>
              </div>
            </div>

          </div>

        </div>


        <!--Formatos Art 91-->
        <div class="container my-3 mx-3">

          Formatos </br>
          <div class="row row-cols-xl-1 row-cols-xl-4 row-cols-md-4">

            <!--Reporte global de actividades-->
            <button class="col btn botonejemdoc" type="button" data-bs-toggle="offcanvas"
              data-bs-target="#offcanvasBottom3" aria-controls="offcanvasBottom"><img style="height: 200px"
                src="img/serviciosocial/reporteglobal.png"></i></button>

            <div class="offcanvas offcanvas-bottom" tabindex="-1" id="offcanvasBottom3"
              aria-labelledby="offcanvasBottomLabel">
              <div class="offcanvas-header">
                <h5 class="offcanvas-title" id="offcanvasBottomLabel3">Reporte global de actividades</h5>
                <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
              </div>
              <div class="container card border border-0">

                <div class="row row-cols-1 row-cols-xl-2 row-cols-md-2">

                  <div class="col">


                    <div id="carousel3" class="carousel carousel-ejemplo slide">
                      <div class="carousel-inner carousel-inner-ejemplo">
                        <div class="carousel-item active">
                          Formato
                          <img src="img/serviciosocial/reporteglobal.png" class="d-block w-100" alt="...">
                        </div>
                        <div class="carousel-item">
                          Ejemplo
                          <img src="img/serviciosocial/reporteglobal-ejemplo.png" class="d-block w-100" alt="...">
                        </div>
                      </div>
                      <button class="carousel-control-prev" type="button" data-bs-target="#carousel3"
                        data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                      </button>
                      <button class="carousel-control-next" type="button" data-bs-target="#carousel3"
                        data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                      </button>
                    </div>

                  </div>

                  <div class="col card border border-0">

                    <strong class="py-3 px-3"> Caracteristicas del reporte global</strong>


                  </div>
                </div>
              </div>
            </div>

            <!--Constancia de termino-->
            <button class="col btn botonejemdoc" type="button" data-bs-toggle="offcanvas"
              data-bs-target="#offcanvasBottom4" aria-controls="offcanvasBottom"><img style="height: 200px"
                src="img/serviciosocial/constanciadet.png"></i></button>

            <div class="offcanvas offcanvas-bottom" tabindex="-1" id="offcanvasBottom4"
              aria-labelledby="offcanvasBottomLabel">
              <div class="offcanvas-header">
                <h5 class="offcanvas-title" id="offcanvasBottomLabel4">Constacia de terminación</h5>
                <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
              </div>
              <div class="container card border border-0">

                <div class="row row-cols-1 row-cols-xl-2 row-cols-md-2">

                  <div class="col">


                    <div id="carousel4" class="carousel carousel-ejemplo slide">
                      <div class="carousel-inner carousel-inner-ejemplo">
                        <div class="carousel-item active">
                          Formato
                          <img src="img/serviciosocial/constanciadet.png" class="d-block w-100" alt="...">
                        </div>
                        <div class="carousel-item">
                          Ejemplo
                          <img src="img/serviciosocial/constanciadet-ejemplo.png" class="d-block w-100" alt="...">
                        </div>
                      </div>
                      <button class="carousel-control-prev" type="button" data-bs-target="#carousel4"
                        data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                      </button>
                      <button class="carousel-control-next" type="button" data-bs-target="#carousel4"
                        data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                      </button>
                    </div>

                  </div>

                  <div class="col card border border-0">

                    <strong class="py-3 px-3"> Caracteristicas de la constancia de terminación</strong>


                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>

      </div>
    </div>

    <!--Servicio Art 52-->
    <div class="accordion-item">
      <h2 class="accordion-header" id="panelsStayOpen-headingThree">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
          data-bs-target="#panelsStayOpen-collapseThree" aria-expanded="false"
          aria-controls="panelsStayOpen-collapseThree" id="menuArt52">
          Art. 52
        </button>
      </h2>
      <div id="panelsStayOpen-collapseThree" class="accordion-collapse collapse"
        aria-labelledby="panelsStayOpen-headingThree">
        <div class="accordion-body" id="SSart52">
          <strong>Servicio social por articulo 52</strong></br></br>
          Todos los estudiantes de las profesiones a que se refiere esta Ley, así como los profesionistas no mayores de
          60 años,
          o impedidos por enfermedad grave, ejerzan o no, deberán prestar el servicio social en los términos de esta
          Ley.
        </div>

        <!--Formatos Art 52-->
        <div class="container my-3 mx-3">


          Formatos </br>
          <div class="row row-cols-xl-1 row-cols-xl-4 row-cols-md-4">

            <!--Reporte global de actividades-->
            <button class="col btn botonejemdoc" type="button" data-bs-toggle="offcanvas"
              data-bs-target="#offcanvasBottom3" aria-controls="offcanvasBottom"><img style="height: 200px"
                src="img/serviciosocial/reporteglobal.png"></i></button>

            <div class="offcanvas offcanvas-bottom" tabindex="-1" id="offcanvasBottom3"
              aria-labelledby="offcanvasBottomLabel">
              <div class="offcanvas-header">
                <h5 class="offcanvas-title" id="offcanvasBottomLabel3">Reporte global de actividades</h5>
                <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
              </div>
              <div class="container card border border-0">

                <div class="row row-cols-1 row-cols-xl-2 row-cols-md-2">

                  <div class="col">


                    <div id="carousel3" class="carousel carousel-ejemplo slide">
                      <div class="carousel-inner carousel-inner-ejemplo">
                        <div class="carousel-item active">
                          Formato
                          <img src="img/serviciosocial/reporteglobal.PNG" class="d-block w-100" alt="...">
                        </div>
                        <div class="carousel-item">
                          Ejemplo
                          <img src="img/serviciosocial/reporteglobal-ejemplo.PNG" class="d-block w-100" alt="...">
                        </div>
                      </div>
                      <button class="carousel-control-prev" type="button" data-bs-target="#carousel3"
                        data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                      </button>
                      <button class="carousel-control-next" type="button" data-bs-target="#carousel3"
                        data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                      </button>
                    </div>

                  </div>

                  <div class="col card border border-0">

                    <strong class="py-3 px-3"> Caracteristicas del reporte global</strong>


                  </div>
                </div>
              </div>
            </div>

            <!--Constancia de termino-->
            <button class="col btn botonejemdoc" type="button" data-bs-toggle="offcanvas"
              data-bs-target="#offcanvasBottom4" aria-controls="offcanvasBottom"><img style="height: 200px"
                src="img/serviciosocial/constanciadet.png"></i></button>

            <div class="offcanvas offcanvas-bottom" tabindex="-1" id="offcanvasBottom4"
              aria-labelledby="offcanvasBottomLabel">
              <div class="offcanvas-header">
                <h5 class="offcanvas-title" id="offcanvasBottomLabel4">Constacia de terminación</h5>
                <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
              </div>
              <div class="container card border border-0">

                <div class="row row-cols-1 row-cols-xl-2 row-cols-md-2">

                  <div class="col">


                    <div id="carousel4" class="carousel carousel-ejemplo slide">
                      <div class="carousel-inner carousel-inner-ejemplo">
                        <div class="carousel-item active">
                          Formato
                          <img src="img/serviciosocial/constanciadet.png" class="d-block w-100" alt="...">
                        </div>
                        <div class="carousel-item">
                          Ejemplo
                          <img src="img/serviciosocial/constanciadet-ejemplo.png" class="d-block w-100" alt="...">
                        </div>
                      </div>
                      <button class="carousel-control-prev" type="button" data-bs-target="#carousel4"
                        data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                      </button>
                      <button class="carousel-control-next" type="button" data-bs-target="#carousel4"
                        data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                      </button>
                    </div>

                  </div>

                  <div class="col card border border-0">

                    <strong class="py-3 px-3"> Caracteristicas de la constancia de terminación</strong>


                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>

      </div>
    </div>

    <!--Servicio social trabajo colaborativo-->
    <div class="accordion-item">
      <h2 class="accordion-header" id="panelsStayOpen-headingSix">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
          data-bs-target="#panelsStayOpen-collapseSix" aria-expanded="false" aria-controls="panelsStayOpen-collapseSix"
          id="menuTrabajo">
          Trabajo colaborativo
        </button>
      </h2>
      <div id="panelsStayOpen-collapseSix" class="accordion-collapse collapse"
        aria-labelledby="panelsStayOpen-headingSix">
        <div class="accordion-body" id="SStrabajo">
          <strong>Trabajo colaborativo</strong> <br /><br />

          La liberación del servicio social a través de Trabajo Colaborativo es una modalidad en la cual el alumno
          aplica un proyecto relacionado a el
          campo de estudios en donde empleara las habilidades y conocimientos adquiridos durante su licenciatura<br />

          Para iniciar debe comparitr el proyecto que busca aplicar, así como los beneficios que significarán para la
          formación profesional y
          el aporte que busca integrar en el entorno de aplicación.<br />

          Este es un proyecto que busca reforzar la autonomía del alumnado.

        </div>

        <!--Proceso trabajo colavorativo -->
        <div class="accordion px-3" id="accordionPanelsStayOpenExample">

          <div class="accordion-item">
            <h2 class="accordion-header" id="panelsStayOpen-headingproceso">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#panelsStayOpen-collapseproceso" aria-expanded="true"
                aria-controls="panelsStayOpen-collapseproceso">
                Proceso servicio social trabajo colaborativo
              </button>
            </h2>

            <div id="panelsStayOpen-collapseproceso" class="accordion-collapse collapse"
              aria-labelledby="panelsStayOpen-headingproceso">
              <div class="accordion-body">
                <div class="container rounded-3 my-3 py-3 bg-white">
                  <h1 class="text-center">Proceso trabajo colaborativo</h1>

                  <div class="row">

                    <div class="col my-3 mx-3">
                      <p>

                        Es importante resaltar que el alumno tiene que entregar los mismos formatos de servicio social
                        del servicio social reguar
                        pero adaptado al trabajo colaborativo.<br /><br />

                        1.-Elaborar propuesta de un proyecto relacionado con el programa académico en curso.
                        <br /><br />

                        2.-Proponer a una institución pública o privada formalmente establecida el proyecto para
                        desarrollar. <br /><br />

                        3.-Una vez aceptado el proyecto comenzar a desarrollar la propuesta y presentar avances en la
                        institución. <br /><br />

                        4.-Una vez verificado y aprobado el trabajo presentar los resultados a servicio social en UTEL.
                        <br /><br />

                        5.-Una vez verificado en UTEL se libera en la plataforma. <br /><br />

                      </p>
                    </div>

                    <div class="col text-center ">
                      <img src="img/serviciosocial/Proceso_trabajo.PNG " style="height: 700px;">
                    </div>

                  </div>
                </div>
              </div>
            </div>

          </div>

        </div>


        <!--Formatos trabajo colavorativo-->
        <div class="container my-3 mx-3">


          Formatos </br>
          <div class="row row-cols-xl-1 row-cols-xl-4 row-cols-md-4">

            <!--Solicitud Servicio Social Trabajo Colaborativo-->
            <button class="col btn botonejemdoc" type="button" data-bs-toggle="offcanvas"
              data-bs-target="#offcanvasBottomSolicitudTrabajo" aria-controls="offcanvasBottom"><img style="height: 200px"
              src="img/serviciosocial/solicitudtrabajocolaborativo.png" title="Solicitud Servicio Social Trabajo Colaborativo"></i></button>

            <div class="offcanvas offcanvas-bottom" tabindex="-1" id="offcanvasBottomSolicitudTrabajo"
              aria-labelledby="offcanvasBottomLabel">
              <div class="offcanvas-header">
                <h5 class="offcanvas-title" id="#offcanvasBottomlabelSolicitudTrabajo">Carta de aceptación para trabajo
                  colaborativo</h5>
                <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
              </div>

              <div class="container card border border-0">

                <div class="row row-cols-1 row-cols-xl-2 row-cols-md-2">

                  <div class="col">

                    <div id="carouselSolicitudTrabajo" class="carousel carousel-ejemplo slide">
                      <div class="carousel-inner carousel-inner-ejemplo">
                        <div class="carousel-item active">
                          Formato
                          <img src="img/serviciosocial/solicitudtrabajocolaborativo.png" class="d-block w-100" alt="...">
                        </div>
                        <div class="carousel-item">
                          Ejemplo
                          <img src="img/serviciosocial/carta-aceptacion-publica-ejemplo.PNG" class="d-block w-100"
                            alt="...">
                        </div>
                      </div>
                      <button class="carousel-control-prev" type="button" data-bs-target="#carouselSolicitudTrabajo"
                        data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                      </button>
                      <button class="carousel-control-next" type="button" data-bs-target="#carouselSolicitudTrabajo"
                        data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                      </button>
                    </div>

                  </div>

                  <div class="col card border border-0">

                    <strong class="py-3 px-3"> Carta de aceptación para trabajo colaborativo </strong>
                    <p>La carta de aceptación tiene que </p>
                    La carta de aceptación es un formato que tiene que complementar el alumno y la
                    institución; El documento tiene que estar firmado, membretado o/y sellado por la institución. <br />
                    <br />

                    1.-Nombre completo. <br />

                    2.-Matricula. <br />

                    3.-Licenciatura que cursa. <br />

                    4.-Intitución. <br />

                    5.-Indicar trabajo colaborativo<br />

                    6.-Fecha de inicio del servicio social. <br />

                    7.-Firma.

                  </div>
                </div>
              </div>
            </div>

            <!--Reporte global de actividades de Servicio Social Trabajo Colaborativo-->
            <button class="col btn botonejemdoc" type="button" data-bs-toggle="offcanvas"
              data-bs-target="#offcanvasBottomReporteGlobalTrabajo" aria-controls="offcanvasBottom"><img style="height: 200px"
              src="img/serviciosocial/reporteglobaltrabajo.png" title="Reporte global de actividades de Servicio Social Trabajo Colaborativo"></i></button>

            <div class="offcanvas offcanvas-bottom" tabindex="-1" id="offcanvasBottomReporteGlobalTrabajo"
              aria-labelledby="offcanvasBottomLabel">
              <div class="offcanvas-header">
                <h5 class="offcanvas-title" id="offcanvasBottomlabelReporteTrabajo">Reporte global de actividades de Servicio Social Trabajo Colaborativo</h5>
                <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
              </div>

              <div class="container card border border-0">

                <div class="row row-cols-1 row-cols-xl-2 row-cols-md-2">

                  <div class="col">

                    <div id="carouselReporteTrabajo" class="carousel carousel-ejemplo slide">
                      <div class="carousel-inner carousel-inner-ejemplo">
                        <div class="carousel-item active">
                          Formato
                          <img src="img/serviciosocial/reporteglobaltrabajo.png " class="d-block w-100" alt="...">
                        </div>
                        <div class="carousel-item">
                          Ejemplo
                          <img src="img/serviciosocial/carta-aceptacion-publica-ejemplo.PNG" class="d-block w-100"
                            alt="...">
                        </div>
                      </div>
                      <button class="carousel-control-prev" type="button" data-bs-target="#carouselReporteTrabajo"
                        data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                      </button>
                      <button class="carousel-control-next" type="button" data-bs-target="#carouselReporteTrabajo"
                        data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                      </button>
                    </div>

                  </div>

                  <div class="col card border border-0">

                    <strong class="py-3 px-3"> Carta de aceptación para trabajo colaborativo </strong>
                    <p>La carta de aceptación tiene que </p>
                    La carta de aceptación es un formato que tiene que complementar el alumno y la
                    institución; El documento tiene que estar firmado, membretado o/y sellado por la institución. <br />
                    <br />

                    1.-Nombre completo. <br />

                    2.-Matricula. <br />

                    3.-Licenciatura que cursa. <br />

                    4.-Intitución. <br />

                    5.-Indicar trabajo colaborativo<br />

                    6.-Fecha de inicio del servicio social. <br />

                    7.-Firma.

                  </div>
                </div>
              </div>
            </div>

            <!--Constanciade de termino Servicio Social Trabajo Colaborativo-->
            <button class="col btn botonejemdoc" type="button" data-bs-toggle="offcanvas"
              data-bs-target="#offcanvasBottomConstanciaTrabajo" aria-controls="offcanvasBottom"><img style="height: 200px"
              src="img/serviciosocial/constanciadettrabajo.png" title="Constanciade de termino Servicio Social Trabajo Colaborativo"></i></button>

            <div class="offcanvas offcanvas-bottom" tabindex="-1" id="offcanvasBottomConstanciaTrabajo"
              aria-labelledby="offcanvasBottomLabel">
              <div class="offcanvas-header">
                <h5 class="offcanvas-title" id="offcanvasBottomlabelConstanciaTrabajo">Constanciade de termino Servicio Social Trabajo Colaborativo</h5>
                <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
              </div>

              <div class="container card border border-0">

                <div class="row row-cols-1 row-cols-xl-2 row-cols-md-2">

                  <div class="col">

                    <div id="carouselConstanciaTrabajo" class="carousel carousel-ejemplo slide">
                      <div class="carousel-inner carousel-inner-ejemplo">
                        <div class="carousel-item active">
                          Formato
                          <img src="img/serviciosocial/reporteglobaltrabajo.png " class="d-block w-100" alt="...">
                        </div>
                        <div class="carousel-item">
                          Ejemplo
                          <img src="img/serviciosocial/carta-aceptacion-publica-ejemplo.PNG" class="d-block w-100"
                            alt="...">
                        </div>
                      </div>
                      <button class="carousel-control-prev" type="button" data-bs-target="#carouselConstanciaTrabajo"
                        data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                      </button>
                      <button class="carousel-control-next" type="button" data-bs-target="#carouselConstanciaTrabajo"
                        data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                      </button>
                    </div>

                  </div>

                  <div class="col card border border-0">

                    <strong class="py-3 px-3"> Carta de aceptación para trabajo colaborativo </strong>
                    <p>La carta de aceptación tiene que </p>
                    La carta de aceptación es un formato que tiene que complementar el alumno y la
                    institución; El documento tiene que estar firmado, membretado o/y sellado por la institución. <br />
                    <br />

                    1.-Nombre completo. <br />

                    2.-Matricula. <br />

                    3.-Licenciatura que cursa. <br />

                    4.-Intitución. <br />

                    5.-Indicar trabajo colaborativo<br />

                    6.-Fecha de inicio del servicio social. <br />

                    7.-Firma.

                  </div>
                </div>
              </div>
            </div>



          </div>
        </div>

      </div>
    </div>

    <!--Servicio por experiencia laboral
    <div class="accordion-item">
      <h2 class="accordion-header" id="panelsStayOpen-headingSix">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
          data-bs-target="#panelsStayOpen-collapseSeven" aria-expanded="false"
          aria-controls="panelsStayOpen-collapseSeven" id="menuTrabajo">
          Servicio por experiencia laboral
        </button>
      </h2>

      <div id="panelsStayOpen-collapseSeven" class="accordion-collapse collapse"
        aria-labelledby="panelsStayOpen-headingSeven">
        <div class="accordion-body" id="SStrabajo">
          <strong>Servicio por experiencia laboral</strong>
          <p>


          </p>
        </div>
      </div>
    </div>
    -->
  </div>

</div>