<!--
  <div class="div-sticky mx-2">
    <a href="#inicio"><button title="Arriba" type="button" class="btnarriba"><img src="" style="width: 40px; place-content: center;"></button></a>
  </div>
-->

  <div class="container rounded-3 py-3 bg-white"> 
          
    <h1 class="text-center" id="certificacion">Titulación</h1>
    
    <div class="contenedor ">
      <ul class="ul container">
          <div class="row text-center">
          <div class="col"><li class="li activo" id="menuCertificacion">Certificación</li></div>
          <div class="col"><li class="li noactivo" id="menuTitulacion">Titulación</li></div>
          <div class="col"><li class="li noactivo" id="menuTitulacionLatam">Titulación LATAM</li></div>
          <div class="col"><li class="li noactivo" id="menuRepGraf">Representación Grafica</li></div>
          <div class="col"><li class="li noactivo" id="menuCertificadoPar">Certificado parcial</li></div>
          </div>
      </ul>

      <div class="subcontenedor">

        
        <!--Certificación-->
        <div class="bloque activo m-0" id="bloqueCertificacion">
            <div class="TituloYTexto" id="0">
            </div>

            <div class="row row-cols-1 row-cols-xl-1 row-cols-md-1 g-4 my-1">
                <!--Lincenciatura--> 
                <div class="ImagenTituloYTexto col" id="btcl" >                              
                </div>

                <!--Maestría--> 
                <div class="ImagenTituloYTexto col" id="btcm" >                              
                </div>

                <!--Doctorado--> 
                <div class="ImagenTituloYTexto col" id="btcd" >                              
                </div>

            </div>
            <!---Aviso-->
            <div class="avisoRojo" id="avisolic">  
            </div>

            
            <div class="row row row-cols-1 row-cols-xl-2 row-cols-md-2 g-2 my-1">

              <div class="col" style="text-align:center;" >
              <video width="100%" height="" controls>
                <source src="videos/Requisitos de titulación.mp4" type="video/mp4">
                <p></p>
            </video>
            </div>

            <div class="col" style="text-align:center;" >
              <video width="100%" height="" controls>
                <source src="videos/Proceso de certificación y titulación.mp4" type="video/mp4">
                <p></p>
            </video>
            </div>
                
            </div>

            <!--Como realizar tramite-->
            <div class="procesoTitNacional row" id="procesotitnacional">                        
            </div>
      
        </div>

        <!--Titulación-->                
        <div class="bloque noactivo m-0" id="boqueTitulacion">
          <div class="TituloYTexto" id="1">
          </div>

          <div class="row row-cols-1 row-cols-xl-1 row-cols-md-1 g-4 my-1">
            <!--Lincenciatura--> 
            <div class="ImagenTituloYTexto col" id="bttl" >                              
            </div>
  
            <!--Maestría--> 
            <div class="ImagenTituloYTexto col" id="bttm" >                              
            </div>

            <!--Doctorado--> 
            <div class="ImagenTituloYTexto col" id="bttd" >                              
            </div>
          </div>

          <div class="row row row-cols-1 row-cols-xl-2 row-cols-md-2 g-2 my-1">

            <div class="col" style="text-align:center;" >
              <video width="100%" height="" controls>
                <source src="videos/Requisitos de titulación.mp4" type="video/mp4">
                <p></p>
              </video>
            </div>

            <div class="col" style="text-align:center;" >
              <video width="100%" height="" controls>
                <source src="videos/Proceso de certificación y titulación.mp4" type="video/mp4">
                <p></p>
             </video>
            </div>
                
          </div>


          <!--Como realizar tramite-->
          <div class="procesoTitNacional row" id="procesotitnacional">      
                              
          </div>

        </div>

        <!--Titulación LATAM--> 
        <div class="bloque noactivo m-0" id="bloqueTitulacionLatam">
          <div class="TituloYTexto" id="2">
          </div>
                    
                    
          <div class="row row-cols-1 row-cols-xl-1 row-cols-md-1 g-4 my-1">

            <!--Lincenciatura--> 
            <div class="ImagenTextoCarrusel col" id="btlataml" >                              
            </div>

            <!--Maestría--> 
            <div class="ImagenTextoCarrusel col" id="btlatamm" >                              
            </div>

            <!--Doctorado--> 
            <div class="ImagenTextoCarrusel col" id="btlatamd" >                              
            </div>

          </div>


          <div class="border-3 card card-aviso mx-3 mb-3 justify-content-center ">
            <div class="card-body">

              <p class="card-text">
                Para el proceso de equivalencia académica ante el Ministerio de Educación en Ecuador a partir de este año 2023, sólo será necesario el Título Apostillado y la carta CINE UNESCO de acuerdo con la clasificación UNESCO, ambos documentos los realiza SER en el proceso de Certificación-Titulación, se comparte lo anterior para conocimiento y orientación adecuada a nuestros egresados ecuatorianos.
              </p>
            </div>
          </div>

          <div class="card card-aviso mx-3 mb-5 justify-content-center ">
          <div class="card-body">

            <p class="card-text">
              Para los alumnos de Perú el CPA únicamente es necesario tramitarlo si se lo solicitan al momento de realizar 
              el trámite de equivalencia académica.
            </p>
          </div>
          </div>

          <div style="text-align:center;" >
            <video width="80%" height="" controls>
              <source src="videos/Certificación y titulación LATAM.mp4" type="video/mp4">
              <p></p>
           </video>
          </div>

          <!--Fichas tecnicas-->
          <div class="px-2 py-2">
            <div class="accordion" id="accordionPanelsStayOpenExample">
              
              <div>
              
              <div class="accordion-item">
                <h2 class="accordion-header" id="panelsStayOpen-headingOne">
                  <button class="accordion-button border border-success collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true" aria-controls="panelsStayOpen-collapseOne">
                    FICHAS TECNICAS DE LATAM
                  </button>
                </h2>

                  <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingOne">
                    <div class="accordion-body">
                      <div class="container rounded-3 my-3 py-3 bg-white"> 
                        <h1 class="text-center">FICHAS TECNICAS DE LATAM </h1>
                        <h5>Paises</h5>
                        
                        <div class="row row row-cols-1 row-cols-xl-4 row-cols-md-2 g-4 my-1">
                  
                          <!--Dividir col y card en div-->

                          <div class="col card border-0 h-100" >
                            <div class="card-body">
                              <h5 class="card-title">Perú</h5>
                              <p class="card-text">
                                <b>Entidad</b>: Superintendencia Nacional de Educación Superior Universitaria (SUNEDU)</br>
                                <b>Apostilla título</b>: SI</br> 
                                <b>Apostilla certificada</b>: NO</br> 
                                <b>Certificado de programa académico -CPA</b>: En caso SUNEDU lo exija</br> 
                                <a href="https://www.sunedu.gob.pe/presentar-solicitud-reconocimiento-grados-titulos-forma-virtual/" class="Botonmanual row py-2 px-2 text-center justify-content-center" target="_blank">Visitar web</a></br>
                              </p>
                            </div>
                          </div>

                          <div class="col card border-0 h-100" >
                            <div class="card-body">
                              <h5 class="card-title">Colombia</h5>
                              <p class="card-text">
                                <b>Entidad</b>: Ministerio de Educación Nacional</br>
                                <b>Apostilla título</b>: SI</br> 
                                <b>Apostilla certificada</b>: SI</br> 
                                <b>Certificado de programa académico -CPA</b>: SI</br> 
                                <a href="https://www.mineducacion.gov.co/1759/w3-article-350670.html?_noredirect=1" class="Botonmanual row py-2 px-2 text-center justify-content-center" target="_blank">Visitar web</a></br>
                              </p>
                            </div>
                          </div>

                          <div class="col card border-0 h-100" >
                            <div class="card-body">
                              <h5 class="card-title">Chile</h5>
                              <p class="card-text">
                                <b>Entidad</b>: Universidad de Chile</br>
                                <b>Apostilla título</b>: SI</br> 
                                <b>Apostilla certificada</b>: SI</br> 
                                <b>Certificado de programa académico -CPA</b>: SI</br> 
                                <a href="https://uchile.cl/presentacion/relaciones-internacionales/revalidacion-de-titulos-extranjeros/revalidacion-y-reconocimiento-en-la-universidad-de-chile" class="Botonmanual row py-2 px-2 text-center justify-content-center" target="_blank">Visitar web</a></br>
                              </p>
                            </div>
                          </div>

                          <div class="col card border-0 h-100" >
                            <div class="card-body">
                              <h5 class="card-title">Ecuador </h5>
                              <p class="card-text">
                                <b>Entidad</b>: Secretaría de Educación Superior, Ciencia, Tecnología e Innovación (SENESCYT)</br>
                                <b>Apostilla título</b>: SI</br> 
                                <b>Apostilla certificada</b>: SI</br> 
                                <b>Certificado de programa académico -CPA</b>: SI</br> 
                                <a href="https://www.gob.ec/senescyt/tramites/reconocimiento-general-titulos-extranjero" class="Botonmanual row py-2 px-2 text-center justify-content-center"target="_blank">Visitar web</a></br>
                              </p>
                            </div>
                          </div>

                          <div class="col card border-0 h-100" >
                            <div class="card-body">
                              <h5 class="card-title">Dominicana</h5>
                              <p class="card-text">
                                <b>Entidad</b>: Ministerio de Educación Ciencia y Tecnología (Mescyt) Universidad Autónoma de Santo Domingo (UASD)</br>
                                <b>Apostilla título</b>: SI</br> 
                                <b>Apostilla certificada</b>: SI</br> 
                                <b>Certificado de programa académico -CPA</b>: SI </br> 
                                <a href="https://mescyt.gob.do/servicios/documentos-extranjeros/ https://uasd.edu.do/index.php/2018-01-23-20-50-42/revalida-o-reconocimiento-de-título" class="Botonmanual row py-2 px-2 text-center justify-content-center" target="_blank">Visitar web</a></br>
                              </p>
                            </div>
                          </div>

                          <div class="col card border-0 h-100" >
                            <div class="card-body">
                              <h5 class="card-title">Bolivia</h5>
                              <p class="card-text">
                                <b>Entidad</b>: Universidades Autónomas Bolivianas y CEUB (para programas que no existan en Bolivia)</br>
                                <b>Apostilla título</b>: SI</br> 
                                <b>Apostilla certificada</b>: SI</br> 
                                <b>Certificado de programa académico -CPA</b>: NO</br> 
                                <a href="http://www.ceub.edu.bo/academica/documentos/normas/04_Reglamento_Titulos_y_Grados.pdf" class="Botonmanual row py-2 px-2 text-center justify-content-center" target="_blank">Visitar web</a></br>
                              </p>
                            </div>
                          </div>

                          <div class="col card border-0 h-100" >
                            <div class="card-body">
                              <h5 class="card-title">Argentina</h5>
                              <p class="card-text">
                                <b>Entidad</b>: cada universidad nacional cuenta con un apartado en su web, o en su defecto en sus oficinas presenciales.</br>
                                <b>Apostilla título</b>: SI</br> 
                                <b>Apostilla certificada</b>: SI</br> 
                                <b>Certificado de programa académico -CPA</b>: SI</br> 
                                <a href="https://www.gob.ec/senescyt/tramites/reconocimiento-general-titulos-extranjero" class="Botonmanual row py-2 px-2 text-center justify-content-center" target="_blank">Visitar web</a></br>
                              </p>
                            </div>
                          </div>

                          <div class="col card border-0 h-100" >
                            <div class="card-body">
                              <h5 class="card-title">El Salvador</h5>
                              <p class="card-text">
                                <b>Entidad</b>: Ministerio de Educación</br>
                                <b>Apostilla título</b>: SI</br> 
                                <b>Apostilla certificada</b>: SI</br> 
                                <b>Certificado de programa académico -CPA</b>: SI</br> 
                                <a href="https://www.mined.gob.sv/servicios/incorporacion-de-titulos-de-educacion-superior-procedentes-del-extranjero/" class="Botonmanual row py-2 px-2 text-center justify-content-center" target="_blank">Visitar web</a></br>
                              </p>
                            </div>
                          </div>

                          <div class="col card border-0 h-100" >
                            <div class="card-body">
                              <h5 class="card-title">Guatemala</h5>
                              <p class="card-text">
                                <b>Entidad</b>: Universidad San Carlos de Guatemala</br>
                                <b>Apostilla título</b>: SI</br> 
                                <b>Apostilla certificada</b>: De requerirse</br> 
                                <b>Certificado de programa académico -CPA</b>: De requerirse</br> 
                                <a href="https://portalregistro.usac.edu.gt/formulario_incorporado" class="Botonmanual row py-2 px-2 text-center justify-content-center" target="_blank">Visitar web</a></br>
                              </p>
                            </div>
                          </div>

                          <div class="col card border-0 h-100" >
                            <div class="card-body">
                              <h5 class="card-title">Paraguay </h5>
                              <p class="card-text">
                                <b>Entidad</b>: Ministerio de Educación y Ciencia (MEC)</br>
                                <b>Apostilla título</b>: SI</br> 
                                <b>Apostilla certificada</b>: SI</br> 
                                <b>Certificado de programa académico -CPA</b>: SI</br> 
                                <a href="http://www.cones.gov.py/nuevo-formulario-de-reconocimiento-de-titulos-extranjeros-con-importantes-ajustes-del-cones/" class="Botonmanual row py-2 px-2 text-center justify-content-center" target="_blank">Visitar web</a></br>
                              </p>
                            </div>
                          </div>

                          <div class="col card border-0 h-100" >
                            <div class="card-body">
                              <h5 class="card-title">Panamá</h5>
                              <p class="card-text">
                                <b>Entidad</b>: Universidad de Panamá</br>
                                <b>Apostilla título</b>: SI</br> 
                                <b>Apostilla certificada</b>: SI</br> 
                                <b>Certificado de programa académico -CPA</b>: SI</br> 
                                <a href="https://www.panamatramita.gob.pa/es/tramite/solicitud-de-homologaci%C3%B3n-de-t%C3%ADtulos#:~:text=Homologar%20los%20t%C3%ADtulos%20de%20post,puedan%20tener%20validez%20en%20Panam%C3%A1.&text=Carta%20de%20solicitud%20en%20papel,y%20cualquier%20otra%20informaci%C3%B3n%20pertinente." class="Botonmanual row py-2 px-2 text-center justify-content-center" target="_blank">Visitar web</a></br>
                              </p>
                            </div>
                          </div>

                          <div class="col card border-0 h-100" >
                            <div class="card-body">
                              <h5 class="card-title">Uruguay</h5>
                              <p class="card-text">
                                <b>Entidad</b>: Ministerio de Educación y Cultura - Dirección Nacional de Educación</br>
                                <b>Apostilla título</b>: SI</br> 
                                <b>Apostilla certificada</b>:</br> 
                                <b>Certificado de programa académico -CPA</b>:</br> 
                                <a href="https://www.gub.uy/tramites/solicitud-reconocimientos-revalidas-titulos-terciarios" class="Botonmanual row py-2 px-2 text-center justify-content-center" target="_blank">Visitar web</a></br>
                              </p>
                            </div>
                          </div>

                          <div class="col card border-0 h-100" >
                            <div class="card-body">
                              <h5 class="card-title">Honduras</h5>
                              <p class="card-text">
                                <b>Entidad</b>: Universidad Nacional Autónoma de Honduras</br>
                                <b>Apostilla título</b>: SI</br> 
                                <b>Apostilla certificada</b>: SI</br> 
                                <b>Certificado de programa académico -CPA</b>:</br> 
                                <a href="https://des.unah.edu.hn/servicio-al-usuario/tramites/validar-estudios-del-extranjero/" class="Botonmanual row py-2 px-2 text-center justify-content-center" target="_blank">Visitar web</a></br>
                              </p>
                            </div>
                          </div>

                          <div class="col card border-0 h-100" >
                            <div class="card-body">
                              <h5 class="card-title">Nicaragua</h5>
                              <p class="card-text">
                                <b>Entidad</b>: Universidades Estatales, reconocimiento.  Universidad Nacional Autonoma de Nicaragua, incorporación y al ser estatal, reconocimiento</br>
                                <b>Apostilla título</b>: SI</br> 
                                <b>Apostilla certificada</b>:</br> 
                                <b>Certificado de programa académico -CPA</b>:</br> 
                                <a href="https://www.unan.edu.ni/wp-content/uploads/2019/03/unan-managua-reglamento-reconocimiento-incorporacion-profesionales-nicaragua.pdf" class="Botonmanual row py-2 px-2 text-center justify-content-center" target="_blank">Visitar web</a></br>
                              </p>
                            </div>
                          </div>

                          <div class="col card border-0 h-100" >
                            <div class="card-body">
                              <h5 class="card-title">Costa Rica</h5>
                              <p class="card-text">
                                <b>Entidad</b>: "-CONARE (Consejo Nacional de Rectores) -Universidades miembros del Consejo Nacional de Rectores "</br>
                                <b>Apostilla título</b>: SI</br> 
                                <b>Apostilla certificada</b>: SI</br> 
                                <b>Certificado de programa académico -CPA</b>:</br> 
                                <a href="https://ore.conare.ac.cr/xhtml/index.xhtml" class="Botonmanual row py-2 px-2 text-center justify-content-center" target="_blank">Visitar web</a></br>
                              </p>
                            </div>
                          </div>

                          <div class="col card border-0 h-100" >
                            <div class="card-body">
                              <h5 class="card-title">España</h5>
                              <p class="card-text">
                                <b>Entidad</b>: Ministerio de Universidades</br>
                                <b>Apostilla título</b>: SI</br> 
                                <b>Apostilla certificada</b>: </br> 
                                <b>Certificado de programa académico -CPA</b>: Si</br> 
                                <a href="https://ore.conare.ac.cr/xhtml/index.xhtml" class="Botonmanual row py-2 px-2 text-center justify-content-center" target="_blank">Visitar web</a></br>
                              </p>
                            </div>
                          </div>
                        </div>    
                      </div>
                    </div>  
                  </div>

              </div>

              </div>
            
            </div>

          </div>

          <div>
            <img class="img-proceso" src="img/procesotitl.png">

            <!--
              <div class="card border-0 card-proceso col-lg-9 ">
                <h5 class="card-title" >El proceso consta de:</h5> </br>
                <p class="card-text">
                                            
                  1.-Certificado electrónico: tarda aproximadamente de 2 meses en obtenerse autenticado.
                </br></br>
                  2.-Expedición de constancia de título electrónico: la gestión de la constancia de título electrónico tarda un tiempo 
                  aproximado 2 meses.
                </br></br>
                  3.-Apostilla de título digital: el proceso demora de 60 a 90 días hábiles, siempre y cuando el pago esté reflejado en 
                  sistema
                </br></br>
                  4.-Expedición de representación gráfica (documento físico simbólico): Tarda un tiempo aproximado 2 meses.
                </br></br>
                  5.-Certificado de programa académico: Documento Institucional que se emite para nuestros egresados extranjeros interesado 
                  en realizar el trámite de Convalidación en su país de origen, que hayan acreditado el 100% de los créditos del plan de estudios de Licenciatura o Maestría y cuenten con su título y certificado de estudios Utel.
                </br></br>
                  6.-Envío internacional: Una vez que  se concluya el trámite de las apostillas se procederá a hacer el envío de la 
                  documentación en físico, siempre y cuando el pago esté reflejado en sistema 
                </br></br>                                  
                  <b>
                    Deberá contar con el 100% de los créditos académicos y estar en estatus de egresado, no tener adeudos, documentación 
                    completa, tener la colegiatura final. El inicio del proceso depende de la fecha en que finalizó sus materias y de la 
                    fecha de egreso.
                  </br></br> 
                    Si va a realizar trámite de convalidación en su país deberá pagar la apostilla del título digital, si es que no están 
                    incluidos en la colegiatura final, así como el envío internacional.
                    
                  </b>
                </p>

              </div>
            -->
          </div>

          

          <!--Como realizar tramite-->
          <div class="procesoTitNacional row" id="procesotitnacional">                        
          </div>
        </div>

        <!--Representación grafica-->
        <div class="bloque noactivo m-0" id="bloqueRepGraf">
          
          <div class="card mb-3 card mb-3 border-0" style="max-width: 100%;">
           
            <div class="row g-0">

              <div class="col-md-6">

                <div class="TituloYTexto" id="rg">

                </div>
                <div class="card-body">
                  <h5 class="card-title">Se deberán cubrir los siguientes requisitos:</h5>
                  <p class="card-text">
                    ● Tener documentos digitales generados </br>
                    ● No contar con saldos pendientes</br>

                </div>
              </div>
              <div class="col col-md-6">
                <img class="d-block w-100" src="img/titulacion/rg.png" alt="">
              </div>
              
              <h5 class="text-center m-4">
                Criterios para devolución de documentos.
              </h5>

              <div class="row row row-cols-1 row-cols-xl-4 row-cols-md-2 g-4 my-1">

                <!--Dividir col y card en div

                <script>

                  

                  function copiarAlPortapapeles(id_elemento) {                     
                    var aux = document.createElement("input");
                    aux.setAttribute("value", document.getElementById(id_elemento).innerHTML);
                    document.body.appendChild(aux);
                    aux.select();
                    document.execCommand("copy");
                    document.body.removeChild(aux);
                  }
                  
                </script>
                -->
                <div class="col card border-0" >
                  <div class="card-body">
                    <h5 class="card-title">México</h5>
                    <p class="card-text" id="direcMex">
                      Calle y número: <br/>
                      Colonia:<br/>
                      Municipio o alcaldía:<br/>
                      Estado:<br/>
                      Código Postal:<br/>
                      Referencia del domicilio:<br/>
                      Teléfono:<br/>
                      Correo:<br/>
                      Persona autorizada para recibir:<br/>
                      Ubicación de google maps del domicilio:<br/>
                    </p>

                  </div>
                </div>

                <div class="col card border-0" >
                  <div class="card-body">
                    <h5 class="card-title">Perú</h5>
                    <p class="card-text">
                      Nombre de la calle y número:<br/>
                      Distrito:<br/>
                      Provincia:<br/>
                      Departamento:<br/>
                      Código Postal:<br/>
                      Referencia del domicilio:<br/>
                      Teléfono:<br/>
                      Correo:<br/>
                      Persona autorizada para recibir:<br/>
                      Ubicación de google maps del domicilio:<br/>
                      
                      
                    </p>
                  </div>
                </div>

                <div class="col card border-0" >
                  <div class="card-body">
                    <h5 class="card-title">Ecuador</h5>
                    <p class="card-text">
                      Nombre de la calle y número: <br/>
                      Parroquia:<br/>
                      Cantón:<br/>
                      Provincia:<br/>
                      Código Postal:<br/>
                      Referencia del domicilio:<br/>
                      Teléfono:<br/>
                      Correo:<br/>
                      Persona autorizada para recibir:<br/>
                      Ubicación de google maps del domicilio:<br/>
                      
                      
                    </p>
                  </div>
                </div>

                <div class="col card border-0" >
                  <div class="card-body">
                    <h5 class="card-title">Chile </h5>
                    <p class="card-text">
                      Nombre de la calle y número:<br/>
                      Comuna o ciudad:<br/>
                      Región:<br/>
                      Provincia:<br/>
                      Código Postal:<br/>
                      Referencia del domicilio:<br/>
                      Teléfono:<br/>
                      Correo:<br/>
                      Persona autorizada para recibir:<br/>
                      Ubicación de google maps del domicilio:<br/>
                      
                    </p>
                  </div>
                </div>

                <div class="col card border-0" >
                  <div class="card-body">
                    <h5 class="card-title">Colombia</h5>
                    <p class="card-text">
                      Clase de vía (Calle, Carrera, Diagonal, Transversal, Avenida), Número de vía, Vía Adicional y número de casa:</b> <br/>
                      Municipio:<br/>
                      Departamento:<br/>
                      Distrito:<br/>
                      Código Postal:<br/>
                      Referencia del domicilio:<br/>
                      Teléfono:<br/>
                      Correo:<br/>
                      Persona autorizada para recibir:<br/>
                      Ubicación de google maps del domicilio:<br/>
                      
                    </p>
                  </div>
                </div>

              </div> 
              
              
            </div>

          </div>

        </div>
        
        <!--Certificado parcial-->
        <div class="bloque noactivo m-0" id="boqueCertificadoPar">
          <div class="row row-cols-1 row-cols-xl-1 row-cols-md-1 g-4 my-1">
              <div class="col">
              <div class="card border-0 mb-3" >
                  <div class="row g-0">

                    <div class="col-md-8">
                      <div class="card-body">
                        <h5 class="card-title text-center">Certificado parcial</h5>
                        <p class="card-text" style="text-align: justify;">     
                          
                          Documento que se proporciona al alumno, con el cual puede comprobar el avance curricular cursado al momento, 
                          emitido por la SEP. El proceso de certificación demora un estimado de 2 meses y el documento se comparte en digital en 
                          archivo pdf y xml.</br></br>
      
                          Se deberán cubrir los siguientes requisitos:</br>
                          ● No tener saldos pendientes </br>
                          ● Pago del documento </br>
                          ● Documentación completa </br>
                          
                        </p>

                      </div>
                    </div>

                    <div class="col-md-4">
                      <button class="col btn botonejemdoc" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasBottom4" aria-controls="offcanvasBottom"><img class="img-fluid" src="img/titulacion/cerpar1.png"></button>

                      <div class="offcanvas offcanvas-bottom" tabindex="-1" id="offcanvasBottom4" aria-labelledby="offcanvasBottomLabel">
                      <div class="offcanvas-header">
                        <h5 class="offcanvas-title" id="offcanvasBottomLabel4"></h5>
                        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                      </div>
                      <div class="container card border border-0">
        
                        <div class="row row-cols-1 row-cols-xl-2 row-cols-md-2">
        
                          <div class="col">

                            <img src="img/titulacion/cerpar1.png" class="imagenes_ejemplo d-block w-100" alt="...">
                            
                          </div>
                          
                          <div class="col card border border-0" style="text-align: justify;">
        
                            <strong class="py-3 px-3"> Caracteristicas de la certificacion parcial</strong></br>
                            Documento que se otorga al alumno que haya acreditado asignaturas de algún plan de estudios y que requiere ser 
                            autenticado por la Secretaría de Educación Pública. </br></br>

                            Para obtener un certificado parcial se debe tener cursado mÍnimo un cuatrimestre de la Licenciatura y tu expediente 
                            digital completo.
                          </div>
                        </div>   
                      </div>
                      </div> 
                    </div>
                    
                  </div>
              </div>
              </div>
              
          </div>                 
                        
        </div>
      </div>
    </div>

  </div>