{{#if error}}
    <div class="alert alert-danger m-3 border-0" role="alert">
        {{error}}
    </div>
{{/if}}

{{#each errors}}
    <div class="alert alert-danger m-3 border-0" role="alert">
        {{text}}
    </div>
{{/each}}