{{#if user}}
<section>

  <footer class="bg-secondary text-white text-center text-md-start">

    <div class="container p-4">

      <div class="row">

        <div class="col-lg-9 col-md-12 mb-4 mb-md-0">
          <h5 class="text-white">Misión Utel</h5>

          <p>
            Contribuir al logro del desarrollo profesional de las personas a través de procesos de enseñanza-aprendizaje innovadores, basados en el uso eficiente de recursos tecnológicos, en el marco de un modelo educativo flexible, incluyente y comprometido con la calidad.
          </p>
        </div>

        <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
          <h5 class="text-uppercase mb-0">Redes Sociales</h5>

            <ul class="list-unstyled">
            <li>
                <a href="https://www.facebook.com/Uteluniversidad/" class="text-white">Fecebook</a>
            </li>
            <li>
                <a href="https://twitter.com/Utel_" class="text-white">twitter</a>
            </li>
            <li>
                <a href="https://www.instagram.com/uteluniversidad" class="text-white">Instagram</a>
            </li>
            <li>
                <a href="https://www.tiktok.com/@uteluniversidad" class="text-white">TikTok</a>
            </li>
            </ul>
        </div>
      </div>

    </div>

    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
      Utel
    </div>

  </footer>
  </section>
{{/if}}