  {{#if user}}

<nav class="navbar navbar-expand-lg bg-body-tertiary">

  <div class="container-fluid">
   <a class="navbar-brand" href="mapa"><img style="height: 40px"src="img/logo.png"> </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link" aria-current="page" href="/">Inicio</a>
        <a class="nav-link" href="titulacion">Titulación</a>
        <a class="nav-link" href="latam">Convalidación</a>
        <a class="nav-link" href="serviciosocial">Servicio social</a>
        <a class="nav-link" href="servicioses">Servicios escolares</a>
        <a class="nav-link" href="recoleccion">Recolección de documentos</a>
        <a class="nav-link" href="directorio">Directorio</a>
        <a class="nav-link" href="preguntas">Dudas</a>
      
      
      </div>
      
    </div>
    <div style="float: left;">
      <a href="/users/logout"><img style="height: 40px;"src="img/Sesion.PNG"></a>
    </div>
  </div>

  </nav>
  {{/if}}