<div class="my-3 py-3">

  
  
  <div class="card card-login position-absolute top-50 start-50 translate-middle border-0" style="width: 350px;">
    
    <div class="letra text-center pt-4">
      <img style="height: 40px" src="/img/logo.png">
    </div>

    <form action="/users/signin" method="POST">
      <div class="m-3">
        <label for="email">Email:</label>
        <input type="email" class="form-control" name="email" placeholder="Email" autofocus />
      </div>
      <div class="m-3">
        <label for="passswore">Password:</label>
        <input type="password" class="form-control " name="password" placeholder="Password" />
      </div>

      {{>errors}}

      <div class=" row text-center m-5">
        <button class="Botonmanual py-3 px-3 text-center m-0">
          Entrar
        </button>
      </div>

    </form>

    </form>
  </div>
</div>